[2017-09-29 10:59] guillaumevincent commented on #236
Hello @tim-peters,
I need to think more about the problem. Maybe a `keep me logged in` option, or increase the life of the token to 1 month. Data saved are not critical. I don't know what solution is best.

[2017-09-29 11:05] guillaumevincent commented on #280
I close this one, for all the reasons described above.
If you use LessPass Database:
 - increase the counter for those sites to find a password without excluded special chars.
 - remove special char and add the same one every time

None of the sites agree on the minimal symbols set. So even if we add an option with a small list of symbols, it may not solve the problem.

[2017-09-29 11:05] #280 closed

[2017-09-29 11:06] #274 closed

[2017-09-29 11:15] guillaumevincent commented on #279
then save the profile with test2@gmail.com, only the profile with test2@gmail.com would be saved, because the profile with test1@gmail.com would be overwritten.

This is a bug 🐛
You need to click on LessPass title between the two save.
I will fix that

After this bug fixed, you already get a dropdown in the site field:

![test](https://user-images.githubusercontent.com/943762/31013831-36bd7f5e-a51

[2017-09-29 11:18] guillaumevincent commented on #281
I close this one, looks like it's related to https://github.com/lesspass/lesspass/issues/279

[2017-09-29 11:18] #281 closed

[2017-09-29 11:27] guillaumevincent commented on #251
@ElectricCookie why it should be? what is the treat model? Without treat model, we cannot compare the 2 solutions. What path will the hacker take?

[2017-09-29 11:30] guillaumevincent commented on #249
Hello @ElectricCookie
I close this one.
Thank you for your start on a redesign.
Feel free to reopen this issue when you will have a repo bootstrapped somewhere.
❤️

[2017-09-29 11:30] #249 closed

[2017-09-29 11:31] guillaumevincent commented on #223
For native app we will use native crypto

[2017-09-29 11:31] #223 closed

[2017-09-29 11:35] guillaumevincent commented on #215
I close this one
Docker images are multiplatform: https://blog.docker.com/2017/09/docker-official-images-now-multi-platform/

We can close this now, it should work on raspberry pi too

[2017-09-29 11:35] #215 closed

[2017-09-29 11:37] guillaumevincent commented on #60
The import doesn't make sense because we should change all our passwords anyway.
One solution is to change passwords one service at a time.
I close this one

[2017-09-29 11:41] guillaumevincent commented on #53
I close this one,
If a scientist want to help us on this.
I close this bug because the request is still in the blog posts.

[2017-09-29 11:41] #53 closed

[2017-09-29 11:48] rippie commented on #281
Thanks for the reply!

But I am not talking about saving multiple profiles for a single website. I'm talking about saving more than 2 websites, any websites. Like say google and hotmail and then if I want to save github, there would only be 2 websites there. Third one doesn't show up.

________________________________
From: Guillaume Vincent <notifications@github.com>
Sent: September 29, 2017 7:18

[2017-09-29 11:52] guillaumevincent commented on #193
I close this one,
we should encourage browser web extension instead of native app on the desktop.
And there is no easy solution to build the app on different platforms.
It will take some time

[2017-09-29 11:52] #193 closed

[2017-09-29 11:53] guillaumevincent commented on #281
send me an email at `contact(at)lesspass.com` with the corresponding account
I will look at it

**Are you using the site or the web extension on chrome?**
Thanks

[2017-09-30 17:20] ElectricCookie commented on #251
The thread model is that the cookie is not even susceptible to XSS while the local storage **can be**.

I don't have a concrete example how XSS could be performend, but a cookie is more secure IMO simply because you take **all JS code out of the equation**

[2017-10-02 14:11] modInfo opened #282 "Docker installation no connection to datebase"
/backend # python manage.py createsuperuser
[...]
django.db.utils.OperationalError: FATAL:  password authentication failed for user "postgres"

[2017-10-02 15:46] modInfo commented on #282
Fix: https://github.com/lesspass/lesspass/issues/74

[2017-10-02 15:46] #282 closed

[2017-10-04 07:35] guillaumevincent commented on #261
Hello, we are going to buy a mac and the Apple Developer Program subscription soon. Stay tuned

[2017-10-07 16:14] serianox commented on #258
@SoftwUser I had a use case recently for impots.gouv.fr, the French ministry of finance, where the FQDN of the page to set a new password is different from the one used elsewhere, cfspart.impots.gouv.fr. Basically, another subdomain. Since .gouv.fr is a public suffix, both sites should share the same password under impots || .gouv.fr

The issue is not about not having to hit `del` a couple of time

[2017-10-07 16:32] SoftwUser commented on #258
@serianox Yes those cases do exist. But this does not justify a regression for those users already managing hundreds of passwords created including the FQDN. Don't just think about the new user who stumbles over a special scenario. Please do think about those existing users, too.
There is no reason to explain any concepts of domains/subdomains to the users.
I say let the user decide how to compose

[2017-10-07 16:52] serianox commented on #258
@SoftwUser Agreed, this should not change existing behavior, e.g. optional for V2, possibly default behavior for V3.

[2017-10-07 17:00] panther2 commented on #258
Ouch, @serianox , please don't ignore https://github.com/lesspass/lesspass/issues/258#issuecomment-328520490

We had that discussion, and it has been resolved here https://github.com/lesspass/lesspass/issues/258#issuecomment-328555486

[2017-10-09 15:46] edouard-lopez commented on #274
Good news :)

Should we add a small link at the bottom of the website?

[2017-10-09 16:12] edouard-lopez commented on #258
Remember that lesspass use privacy-by-default and we want it to work off-line and standalone. So adding 3rd-parties is a no-go for me. Thus, an alternative would be to include whatever TLD list in the build, maintained it up-to-date and ensure we are not breaking any users' passwords…

@guillaumevincent Do you think this is testable?

@serianox for your problem, currently you have two way to manag

[2017-10-09 16:40] edouard-lopez commented on #236
The annoying thing is when you have to authenticate on one of your trusted device such as your smartphone/laptop.

Should we increase the lifetime of the session or find a way to ease authentication on such devices?

I think that our identity is intrinsic to ourselves and find it pretty awkward the need to prove that I'm still myself every time I want to log-in into a service.

[2017-10-10 07:35] #279 closed

[2017-10-10 15:26] guillaumevincent commented on #274
We should display a warning maybe,

The new version will be pushed soon.

![screenshot-2017-10-10 lesspass](https://user-images.githubusercontent.com/943762/31395024-0f96cb94-ade0-11e7-9dd9-a9f04a37ca6f.png)

https://github.com/lesspass/pure/commit/aea154026eae8732965cc5b9fb9357e4efa86529

[2017-10-12 08:36] sinni800 opened #283 "Installation either without docker or without nginx and postgres"
Not everyone has a server or so many resources to dedicate (or are on a VPS), so I would suggest a way to use another postgres instance/container already existing, plus not install Nginx (and listen on a random high port for a manual proxy pass). Alternatively, just create an install document for classic installation.

I havent done much with docker so if this is already possible our of the box, I

[2017-10-12 09:35] guillaumevincent commented on #283
Hello,

LessPass Database is free. Self-hosted solutions are always more expensive. You need your own hardware.

Another solution is to learn more about docker and create a docker-compose file that fit your need.
See existing `docker-compose.prod.yml` for some help.

Something like that (:warning: not tested):

Create a `docker-compose.yml` file

[code]

Change DATABASE_NAME, DATABASE_USER, DATABA

[2017-10-12 09:38] sinni800 commented on #283
Thanks a lot for that suggestion. I will try it out.

With "a server to dedicate" I meant *another* server to dedicate just for this app. I have a server that I can gladly use.

[2017-10-12 09:47] guillaumevincent commented on #283
Yes, but you can adapt the port on the existing docker-compose to leave in an existing server with other services.

I close.
Feel free to post on this thread to ask for extra help.

[2017-10-12 09:47] #283 closed

[2017-10-12 15:59] josuecau opened #284 "Generated passwords become predictable beyond 43 characters long"
Hi,

I noticed that passwords are more and more similar as I increase the `length`
parameter (`profile.options.length` in core lib, or `-L` in CLI).

In fact, if length is greater than 43 (or a bit more, depending the allowed
characters set), passwords are just padded with one more character "a" at the
end.

Here is a demo: https://github.com/josuecau/lesspass-length-poc

And here are some results

[2017-10-12 16:56] guillaumevincent commented on #284
Hello @josuecau,
this is not weird, this is math! 😄

the max length is 35 chars exactly.
See https://github.com/lesspass/lesspass/wiki/Generated-password-info#password-length for more details.
If this interest you, you can see an [overview of password generation](https://github.com/lesspass/lesspass/wiki/Overview-of-Password-Generation).

The [input](https://github.com/lesspass/pure/blob/0d644d6df

[2017-10-12 16:56] #284 closed

[2017-10-12 17:30] guillaumevincent commented on #251
Hello @ElectricCookie,
the interesting thing about JWT versus Cookie is that nobody agrees.

See [blog post](https://auth0.com/blog/cookies-vs-tokens-definitive-guide/) from auth0.

In LessPass we do not use external ui libraries, nor inject html in our code with `v-html` directive on vuejs. I also try to use popular libraries in my code (with thousands of stars on Github).

Because we use the API

[2017-10-12 17:30] #251 closed

[2017-10-13 06:34] josuecau commented on #284
@guillaumevincent thanks for this explanation!
I mainly use LessPass from the CLI, and was not aware of this limitation.
Perhaps this should be added to the `--help` (or with a warning)?

[2017-10-13 13:28] guillaumevincent commented on #284
@josuecau I think you are right.
Can you add a pull request for this one or an issue?

[2017-10-14 20:57] Romathonat opened #285 "Display a profile when you click on it"
When I use the firefox extenstion, I go to a webmail (like [laposte.net](laposte.net)), I change my password. The URL is now [compte.laposte.net](compte.laposte.net), so I save my profile with this URL.

When I want to login to laposte.net, I click on the "key", and **I expect the application to display the profile I selected**, but it won't display anything else than the current url (wich is [lap

[2017-10-16 05:35] guillaumevincent commented on #285
Hello normally with the latest web extension, this is fixed. Can you check your version?

[2017-10-16 07:53] Romathonat commented on #285
Using firefox 56.0.1 (64bits), and lesspass 2.5.1 ([here](https://addons.mozilla.org/fr/firefox/addon/lesspass/)), it does not work.

[2017-10-16 07:54] panther2 commented on #285
@guillaumevincent
The web extension is still on 2.5.1 of August, 17, 2017.

All the latest updates have not bumped any version number of any LessPass-distribution.

[2017-10-16 19:28] guillaumevincent commented on #285
Hello @Romathonat,
so if you save `compte.laposte.net ` and go to `lasposte.net`, the site becomes `www.laposte.net`.
So there is a bug because LessPass don't check if domains are identical.

I will fix this by checking if site match domain exactly or if site without www. match one password profile.

[2017-10-16 21:03] guillaumevincent commented on #261
Hello,
I bought a mac mini today, I start development on IOS next week

![img_20171016_223526](https://user-images.githubusercontent.com/943762/31635135-109555d4-b2c6-11e7-8b5f-2e62bb6404d9.jpg)

[2017-10-17 15:16] Romathonat commented on #285
Well, It is not exactly what I meant. The user experience is a bit weird IMHO. When you click on profile, you want it to be displayed, whatever the website you are currently on. With the current version, it depends on the current URL. With your fix, you let the plugin display a profile if the current URL is the one on the profile, or if the URL begins with "www"+URL. It will not solve my use case,

[2017-10-17 15:46] edouard-lopez commented on #277
added to:
* [x] wiki [Home](https://github.com/lesspass/lesspass/wiki) page ;
* [x] [FAQ](https://github.com/lesspass/lesspass/wiki) page.

Also like @roipoussiere suggestion.

[2017-10-17 15:53] edouard-lopez commented on #126
Safari now support webcrypto [since version `11` (sept. 2017)](https://caniuse.com/#search=cryptograp) :tada:

![selection_105](https://user-images.githubusercontent.com/1212392/31675101-f22bedb2-b363-11e7-9acc-b4803a652a75.png)

[2017-10-17 16:29] edouard-lopez commented on #271
[XKCD-password-generator](https://github.com/redacted/XKCD-password-generator) could help

[2017-10-17 16:51] guillaumevincent commented on #285
@Romathonat  that is the case

[2017-10-18 09:11] VannTen commented on #271
For passphrase generation, see [Diceware](http://world.std.com/~reinhold/diceware.html).
(basically, the method is to have a list of word (around 7000) and use physical dices (which probably cant have a RNG default) to select each word of your passphrase). I use this with most of my master and other passwords, and remembering the generated phrase does not take much time.

[2017-10-18 10:12] monolifed commented on #271
I think the underlying generation method of lesspass can be readily used  to generate word phrases. After generating the entropy you need to consume it with words instead of single characters.
- For this, as others already stated, you need a word list: it should be large to reduce predictability and number of generated words.
-  Variation in capitalization: you can choose to capitalize or not for

[2017-10-18 11:35] auriii opened #287 "lesspass not work on android 4.4.4"
hello, lesspass app not work on android 4.4.4
i have test on higher version and work correctly
but on version 4.4.4 when tap on generate button app will be crash

please fix this issue.

[2017-10-18 11:42] guillaumevincent commented on #287
Hello @auriii
it duplicates https://github.com/lesspass/lesspass/issues/246
Cordova App requires a recent browser with crypto support.
For now the minimum version of Android is version 5.

[2017-10-19 17:21] #285 closed

[2017-10-20 12:52] jeroen7s opened #288 "fingerprint support on mobile"
would be easy to login using fingerprint where the fingerprint chip stores your masterpassword, would make it much more appealing to use on mobile

[2017-10-20 12:53] jeroen7s opened #289 "autofill on mobile"
many password managers can detect login fields and ask to login with an overlay (see things like lastpass, which do this very nicely)\
would be very conventient to have similar functionality in lesspass

[2017-10-20 12:57] jeroen7s opened #290 "integration into web forms, fill in on web"
using the masterpassword and the login you put in to username field, you could calculate the password and automatically fill in the fields in the browser, preferably this would be well-integrated into the web form, so you don't have to open the extension, type your username twice (once in lesspass, once in the form) and makes the experience much more streamlined, also lesspass could auto-suggest u

[2017-10-22 09:34] guillaumevincent commented on #290
Hello @jeroen7s,
most of the hack on password manager's web extensions are possible because of auto-fill feature.
See FAQ: https://github.com/lesspass/lesspass/wiki/FAQ#why-there-is-no-auto-fill-feature-in-the-web-extension
If companies like Lastpass with brilliant engineers cannot properly protect their extensions, I think we should avoid adding attack vectors.

[2017-10-22 09:37] guillaumevincent commented on #289
Yeah, the mobile integration/usability should be improved
There is an open discussion in this one: https://github.com/lesspass/lesspass/issues/239
I close this one.
The idea is how do we connect the app with other apps to share context.

[2017-10-22 09:37] #289 closed

[2017-10-22 09:40] guillaumevincent commented on #288
I like the idea, it would improve usability on mobile.

[2017-10-22 09:40] #290 closed

[2017-10-22 16:42] benhamill commented on #261
FWIW, I'd be happy to help test once it gets to that stage.

[2017-10-22 19:17] n2liquid opened #291 "Threat model improvements"
Hi! I'm really excited about LessPass, since I've never liked the idea of storing all my passwords in a server, even if encrypted.

But as it stands, at the end of the day I believe stateful password managers offer very similar kind of protections / threat models.

In my understanding, the stateful password managers threat model is that you have to trust the clients to:

1. Always encrypt your pas

[2017-10-22 22:12] monolifed commented on #291
Issue **1** might not be totally irrelevant.
From #185 I assume password profiles are encrypted.
But they are encrypted server side as far as I can tell from this script: https://github.com/lesspass/lesspass/wiki/password-profiles-manipulation-scripts
My understanding is that you send the server your master password and email (this is sent through https so it should be safe)
The server decrypts yo

[2017-10-23 00:34] n2liquid commented on #291
If this is true, it's absolutely unsafe. It means the project / server maintainers can get people's master password and derive their passwords for common websites. I'd be shocked if that was the case.

Apparently there are mechanisms that prevent our master password from reaching the server, at least that's what this section says, I think: https://github.com/lesspass/lesspass/wiki/FAQ#you-should-n

[2017-10-23 07:24] guillaumevincent commented on #291
Hello @n2liquid,

I don't understand what you mean by we are doing things differently. Can you add more details?

For LessPass you mean never leak password profiles? If you use LessPass Offline, there is no leak possible, right?

The default behaviour of LessPass is the offline mode. What do you mean by unable to connect to the internet?

Another solution for this use-case, you can also disable au

[2017-10-23 07:24] guillaumevincent commented on #291
Hello @monolifed,

so to start **LessPass does not (yet) encrypt password profiles on LessPass Database**.
This is something we need to do.

Don't send you master password through the wire, even encrypted. Encrypt you master password on the login page. There is a feature for this:

![img](https://camo.githubusercontent.com/26eea775b6786856e496f6ccd5419dfbb346d9a9/687474703a2f2f692e696d6775722e636f

[2017-10-23 12:29] monolifed commented on #291
Nice feature, with this attackers shouldn't be able to find out your real master password easily. They might still somehow get your profiles but without the master password they are not very useful.

[2017-10-25 17:11] monolifed opened #292 "Text Encoding"
I think it is UTF-8. But I couldn't find any information on the text encoding used for password (and other fields).

[2017-10-26 02:44] batonac commented on #12
this is a truly momentous implementation of the crypto password method. keep up the good work!

[2017-10-26 20:49] guillaumevincent commented on #292
We use HMAC-SHA-256 with PBKDF2 to encrypt information from password profile.
HMAC operates on bytes, not text.
So texts are UTF-8 encoded string converted into a sequence of bytes.

I don't know why you ask this question.
If you want to implement LessPass core, there is one test with utf-8 encoded string char: https://github.com/lesspass/core/blob/master/test/pbkdf2.tests.js#L63-L76

[2017-10-26 22:42] monolifed commented on #292
UTF-8 is the most obvious choice but I just wanted to be sure. Also, I thought it might be worth mentioning in the wiki.

I did some part of it as I mentioned in #175. Now, I got a somewhat working cli version. Though not very unicode friendly. (Currently it only gives consistent results on linux with terminal encoding set to UTF-8. I think it gives consistent results on windows if you use charact

[2017-10-26 22:42] #292 closed

[2017-10-27 05:44] guillaumevincent opened #293 "React Native modules and LessPass core module"
I successfully implemented a native module promise in React Native yesterday night.
It works for Android and iOS.

The plan is to update LessPass core module to clearly separate calcEntropy from renderPassword (I think this part is already done).

![howitworks](https://user-images.githubusercontent.com/943762/32089385-fcd6e9dc-bae9-11e7-92b1-a9c2b23a0f5d.png)

and create calcEntropy in Java and Ob

[2017-10-27 11:25] devsnd opened #294 "Domain names should be case-insensitve"
Hi! First of thanks for this really cool idea, I'm immediatly hooked by it!

I just tried the lesspass.com and the android app implementation of lesspass and both show the same problem:

Passwords generated for `google.com` and `Google.com` are different even thought this is just an [alias for the same domain](https://tools.ietf.org/rfc/rfc4343.txt).

Domain names are case insensitive and so shoul

[2017-10-27 11:29] devsnd opened #295 "The lesspass site input field should allow inputting the URL protocol"
The UI should allow me to enter either `http://google.com` or `https://google.com` (as it might be copy-pasted from the url bar of a browser) to get the same site. Those should both yield the same site.

Currently I get an error instead:

![image](https://user-images.githubusercontent.com/1980794/32101983-f0b1a366-bb09-11e7-819b-c34f2fe794c6.png)

[2017-10-27 11:35] devsnd opened #296 "Android layout too small for generated password field"
When I generate a password on android the generated password does not fit on the screen:

![screenshot_20171027-113026](https://user-images.githubusercontent.com/1980794/32102129-8d5cf508-bb0a-11e7-933d-b41cd1f73c1c.png)

This is annoying if you want to login on another computer which you don't trust with your master password, but you are willing to risk typing in the password of a particular serv

[2017-10-27 11:40] guillaumevincent commented on #295
Hi @devsnd,
LessPass doesn't touch to the site field.
If you use the web extension, it auto-fill for you the site field and HTTP protocol is removed.

Can you try to explain again your problem?

[2017-10-27 11:44] guillaumevincent commented on #294
Hello @devsnd,
it should be the case :) see https://github.com/lesspass/pure/blob/master/src/views/PasswordGenerator.vue#L24-L25
But Android web view doesn't respect some HTML parameter. This is a known Android bug.

On my Android 7 or Android 8 I don't have this bug.

I'm rewriting the Android App, so I keep this one open to be sure this problem is fixed in the next version of the application. It

[2017-10-27 11:48] devsnd commented on #295
ah sorry, the error was actually my error! I made a mistake when recreating the bug.

But what remains the case is that `https://google.com` and `http://google.com` yield different passwords.

(I know that the server might not return the same content for port 80 and 443, but as a user I want to generate a password for `google.com`)

[2017-10-27 11:53] guillaumevincent commented on #295
It's not a bug, it's a feature. Information should be identical to generate the same password.

So your question is maybe: does the site could remove the HTTP(S) when you paste an url in the site field? If yes, my question is why do you copy the url, and don't use the auto-fill feature?

[2017-10-27 11:59] devsnd commented on #294
Hey @guillaumevincent

I can reproduce this issue in both chrome 61 and firefox 56 using the input on lesspass.com.

Just to make it clear: The issue is not with android capitalizing my input, but with me as a user inputting a capitalized domain name (which is completely valid as by the RFC linked in the OP).

For example, i think the owners of `PenIsland.net` will always want to capitalize the `I

[2017-10-27 12:25] monolifed commented on #296
Does rotating the screen (to landscape) help?

[2017-10-27 13:03] devsnd commented on #296
Yes, in landscape mode it does show, but to me thats still a usability bug.

[2017-10-27 13:08] devsnd commented on #295
It's about usability. I copy and paste the url from somewhere and I want my login for the site of this url. This url can be from written by someone else, copy pasted from an email, written in IRC, in a word document, you name it.

[2017-10-27 14:59] panther2 commented on #295
@devsnd
So do you ask for the site input field to accept
as well

`http://abc.def.gh`
as
`https://abc.def.gh`

but for password generation LessPass should ignore the charakter `s` in `https` ?

Have I understood that correctly?

[2017-10-27 15:06] guillaumevincent commented on #294
If I understand properly, you are asking to force lowercase for the site? when typing or when generating the password? because the uppercase site is an alias for the lowercase site?

[2017-10-27 15:18] guillaumevincent commented on #295
@devsnd if you add https or http in the site field. Generation works:

![screen shot 2017-10-27 at 17 11 04](https://user-images.githubusercontent.com/943762/32111143-eeae92e2-bb39-11e7-8c70-9f4b5a41ae0c.png)
![screen shot 2017-10-27 at 17 10 52](https://user-images.githubusercontent.com/943762/32111145-f0630ef6-bb39-11e7-857f-a06302665308.png)

You can also share a password in your document (with

[2017-10-27 15:33] panther2 commented on #295
Also please consider that LessPass is not limited to website-password creation.

My usecases include password generation for purposes unrelated to Web-Addresses, too.

I welcome very much the opportunity to enter any character into the site field.
That makes LessPass a universal password tool.

Let's not limit that.

[2017-10-27 16:08] devsnd commented on #295
@panther2

I didn't want to open that can of worms.

Yes, it does work, but creates different passwords;

To keep it short: As a user I expect that the password generated for:

`google.com`
`http://google.com`
`https://google.com`

are all the same.

How this is then done internally, is not of interest to the user. I guess that it should be done so that it does not break existing passwords, which

[2017-10-27 17:03] panther2 commented on #295
Sorry, I strongly disagree.
As a user I expect that - following the concept of LessPass - I get three different passwords!
And personally, I am very interested how it is done internally. And I am a user, too.

So don't claim to know what "the user" wants or not.
Your are not "the user", you are one among many.

[2017-10-27 21:05] monolifed commented on #295
What @devsnd wants sounds like feature for the autofill part of the browser extension to filter out the protocol part of the website (forgive my ignorance if it already supports it).

For lesspass site and login are not necessarily the site and the login info for the site you are visiting (but using it that way makes remembering them easier).
Someone might want to enter "google dot dot dot com" fo

[2017-10-30 13:26] devsnd commented on #295
Hello, it's me, the user. :wave: I tried out lesspass and this was a problem for me, so I wrote this report. There are many users that will not write such a report, here we are having a sample-size of one for this problem. If that's significant or not, is up to you.

Okay, then let me suggest how to do it: A nice solution to me, would be to change the input field so that typing in an address `http

[2017-10-31 08:50] guillaumevincent commented on #295
I will allow users to choose those options in an options panel.
I keep issues open when they make sense, and this one is an option that makes sense.
To be valid an option should help the user to do something quicker, faster or easier.

You just need to keep in mind that it's difficult to change the default behaviour of LessPass. A change like removing `http(s)` by default will break some generated

[2017-10-31 16:13] nshtg commented on #265
@guillaumevincent
I actually used the feature, now every time I open a site I have to manually increase the length to 30, which is really exhausting.

Have you considered adding an option to increase only the password length by default?

[2017-10-31 16:31] edouard-lopez commented on #294
@devsnd thanks for the cross-platform testing.

However this feature would break existing password generation and I don't really see why we should abide to the same behavior as DNS resolution, that's not the goal of the app.

[2017-10-31 16:41] devsnd commented on #294
Okay, then I'm missing the goal of this app. But why is the field called "site" and not something more generic, if lesspass is meant for more than websites? That is what left me to write this report in the first place.

Actually the issue is practically the same as #295, but this time its about domains, and not protocols.

[2017-10-31 21:21] edouard-lopez commented on #295
@devsnd are you aware of the suggest feature of the [connected mode](https://github.com/lesspass/lesspass/wiki/Private-vs.-connected-mode), it might solve _parts_ of your problem.
![connected mode suggestion in LessPass](https://user-images.githubusercontent.com/1212392/32249520-989c2506-be89-11e7-98bd-24757bef6de6.png)

[2017-10-31 22:01] edouard-lopez commented on #294
First mock-ups where actually using a more generic wording such as
* site → _where do you go?_
* login → _who are you?_
* master password → _what is your secret?_
That didn't last as too confusing

[2017-11-01 11:17] guillaumevincent commented on #265
@nshtg I will add an options page that allows you to set up your default behaviour of yours app.

[2017-11-01 11:18] guillaumevincent commented on #295
@edouard-lopez the suggestion should appear after a paste and should work in offline mode.

[2017-11-01 11:21] guillaumevincent commented on #294
@edouard-lopez like for #295 we could introduce a suggestion feature, to help users to use the web extension in the "right way". Like this, it will no break the actual behaviour > so no password break.

And we will discuss the "right way" to see what transformation LessPass should propose.

[2017-11-01 11:24] nshtg commented on #265
That sounds perfect thank you!

[2017-11-02 13:20] edouard-lopez commented on #287
@guillaumevincent I guess we should specify the minimal version on the `config.xml`

     <preference name="android-targetSdkVersion" value="21"/> //android 5.0

More
* [How can I specify the minimum SDK in phonegap? It is ignoring android-minsdkversion in config.xml](https://stackoverflow.com/a/27137393/802365)
*  [Android version history](https://www.wikiwand.com/en/Android_version_history)

[2017-11-02 14:03] edouard-lopez commented on #287
It's already there

[2017-11-02 14:03] #287 closed

[2017-11-03 09:26] Jormund commented on #34
This thread didn't convince me that master passwords can't be bruteforced. I am not a security/cryptography expert and would love to be wrong.
PBKDF2 is used to raise the cost of password generation. But lesspass is "not that slow" running in JS and browsers. If I apply the same algorith using a lower level language and environnement, I can run it faster (let's say a .exe in C/C#/Java).
If you hos

[2017-11-03 15:47] guillaumevincent commented on #34
If you have a password profile, and the generated password, yes you can try to brute force the master password.

Depending on the entropy of the master password it will take a long time.
And depending on the hardware you use, it will also take some time.

A strong master password is 60 bits of entropy.
An infeasible to guess master password is 128 bits of entropy (see https://security.stackexchang

[2017-11-03 19:14] Jormund commented on #34
128 bits is infeasible right now. You'll say I can just change your password every year to keep up with technology, but with lesspass it's a very long task because it changes every generated password.

I don't worry much about lesspass database, I don't think my own setup is more secure than lesspass.com. (I don't have any rational reason to blindly trust lesspass.com, but I don't have a valid rea

[2017-11-03 22:50] guillaumevincent commented on #34
I take care not to give too many advices on security. It's a dangerous field. My advice is the following: understand how you password manager works, understand threat models and decided to use it or not.

My advice : use a strong master password. Keep your master password in your head and use the web extension. Keep default options because sometimes usability is a trade off with security.

Why:

I

[2017-11-07 14:06] alainrouet commented on #12
@roipoussiere has already stated what I think, so I'll make it quick: Thank you for your efforts in making password management and/or creation easy and secure!

[2017-11-07 14:18] alainrouet opened #297 "Opera extension"
Hello,

I'd love to see LessPass on the Opera add-ons website ( https://addons.opera.com/extensions/ ). The Chrome extension works perfectly fine, but it requires the use of another extension ( https://addons.opera.com/extensions/details/download-chrome-extension-9/ ).

Do you think it might be possible in the future, or would it be too much work?

[2017-11-07 21:43] guillaumevincent commented on #297
Hello @alainrouet,
I don't know how opera addon works. Is it possible for you to retrieve information on how to migrate a Chrome extension into an Opera extension? Thank you

[2017-11-07 22:43] alainrouet commented on #297
Hi @guillaumevincent,

Disclaimer: I'm not a developer, just an enthusiast.

Since Opera is a Chromium based browser, extensions should, in theory, work without any changes. I only had to extract the CRX file, and follow the instructions here: https://dev.opera.com/extensions/basics/ to create a NEX file.

I don't really know where I should be looking at to provide you with an easy method, or if I

[2017-11-08 11:56] oscarsaleta commented on #12
❤️ you guys are great

[2017-11-09 16:49] edouard-lopez commented on #297
@alainrouet isn't renaming the file from `.crx` to `.nex` enough?

[2017-11-09 19:00] alainrouet commented on #297
Hi @edouard-lopez,

It seems to be working. It's a shame that I didn't even think about renaming the file extension…

[2017-11-11 00:42] edouard-lopez commented on #297
Publishing procedure is described on the [Publishing Guidelines](https://dev.opera.com/extensions/publishing-guidelines/#submit) page.

Not sure if we can automate publication.

[2017-11-13 09:40] edouard-lopez opened #299 "Can't delete password profile"
Hi,

### Step to reproduce

I'm trying to delete a password profile when in connected mode.

* Click the key icon
* Search for my password profile
* Click the trash icon, got the notification _Password profile deleted UNDO_

However if I reopen lesspass extension and search for the "deleted" profile it's still present.

### Env

* Firefox (Linux) `57.0b14 (64-bit)` and Chromium `62.0.3202.75`
* Le

[2017-11-13 09:52] guillaumevincent commented on #299
Yeah, delete password is only done after 10s.
I will simplify this one.

[2017-11-14 15:33] edouard-lopez commented on #299
Tried to remove the same entry several time and still had it today in my profiles.

Went to the website to reproduce in a clean context:
* delete profile
* saw the network request
* finally deleted!

Does closing the extension's pop-up abort the request?

[2017-11-14 21:22] guillaumevincent commented on #299
Yes, and if you change the view (going into the password generator view for example) reset the deletion too.

[2017-11-15 21:27] guillaumevincent commented on #261
I have a question regarding the license of LessPass and itunes. Due to the anti tivoization clause in the GPLv3, is it illegal to distribute programs on iTunes?

[2017-11-19 06:53] ChristopherKing42 commented on #36
What if lesspass just changed the passwords automatically? (Since it knows all of your old passwords, it should be able to do this.)

[2017-11-22 09:15] jdeniau commented on #236
I agree with @edouard-lopez and @tim-peters on this one, I think that increasing the token to a month is nice, but why not a year though ?

Another solution may be to keep a "local" storage for datas, this way you don't have to fetch the old data from the server but I think it's not as great.

@guillaumevincent I don't know if you try to keep the tokens after a server reboot, but if you do, a one-

[2017-11-25 21:26] HUg0005 opened #300 "Not logging into database after browser restart"
When ever I restart my browser (Firefox 57.0 on Windows 10), I have to log into my lesspass database. Where as I'm automatically logged back in on my Ubuntu 17.10 machine on Firefox 57.0. Can this be fixed?

[2017-11-26 00:47] apopiak commented on #12
👍

[2017-11-26 00:57] apopiak opened #301 "Caching of master password"
From time to time I need to generate multiple passwords in short succession. (Sometimes this is caused by the generated password disappearing too quickly btw.) Because I use the same master pass phrase that is also fairly long (security...) it can start feeling repetitive.
Suggestion: cache a hash of the master password and offer a toggle that says something like "reuse master password for repeate

[2017-11-27 19:03] guillaumevincent commented on #300
Hello @HUg0005,
looks like a Firefox issue with local storage no?

[2017-11-27 19:40] HUg0005 commented on #300
I have done some testing and the problem seems to be caused by Firefox clearing it's cookies when it closes. Turning that off in the settings has fixed the issue. Thanks

[2017-11-27 19:40] #300 closed

[2017-11-28 07:50] guillaumevincent commented on #297
Hello @alainrouet,
it looks like there is no automated way to publish the extension. Can you confirm that?
If so I propose you to close this one until they provide an automated way
Thanks

[2017-11-28 08:10] alainrouet commented on #297
Hi @guillaumevincent,

You're right. I couldn't find a way to automatize the process or, at least, not at this time.

I'll close this issue for now. Thanks for looking into it.

[2017-11-28 08:10] #297 closed

[2017-11-30 01:35] batonac opened #302 "Feature request: multiple domain support per profile."
I use some services which spread themselves across domains, and allow you to login with the same account on any of them. Please allow for adding multiple axillary domains to one profile so the master domain and configured options will be queried on any associated domain.

[2017-12-01 08:23] guillaumevincent commented on #302
Hello @batonac
is it the same as https://github.com/lesspass/lesspass/issues/278 ?
if so can you +1 the issue to show your interest in this enhancement?

[2017-12-01 22:41] edouard-lopez commented on #278
Thanks @roipoussiere for taking the time to look for similar issues.

@guillaumevincent I believe [@Maxiride scenario illustrate pretty well](https://github.com/lesspass/lesspass/issues/278#issuecomment-330495900) the feature request or as roipoussiere said:

Same id, different domain. That's a use case I have and here is how I manage them:
* one where I use only 2 different entries/domains so dec

[2017-12-02 12:19] fiatjaf commented on #12
Before deciding to start using LessPass I read some discussions about it on Reddit and Hacker News, to see if someone there had pointed any issue I hadn't seen that could be present on LessPass.

I only found dozens of rants from people saying the LessPass passwords were insecure, they didn't allow change of the master password and other small things. People like those who complained are stupid en

[2017-12-05 08:13] nodejs-practice commented on #236
Sometimes, and I mean most of the times, Lesspass logs me out of my master password within 5-15 minutes of logged in time. I am not sure if it is problem with the browser or the lesspass add-on. I have clear local storage and cookies on exit set in my browser. Does this affect lesspass? Also, what is the default behavior? Does lesspass maintain session on browser re-load (within 7 days as mentione

[2017-12-05 08:57] guillaumevincent commented on #236
@nodejs-practice login information are saved in local storage, so yes when you clear local storage, you logout automatically in the same time

[2017-12-05 08:58] guillaumevincent commented on #302
I close this one, because it dupplicates #278
Feel free to comment on this one if not

[2017-12-05 08:58] #302 closed

[2017-12-05 08:58] #293 closed

[2017-12-05 09:00] guillaumevincent commented on #295
maybe we can add suggestion in offline mode with auto completion?

[2017-12-05 09:47] edouard-lopez commented on #295
@guillaumevincent Do you mean to suggest `http://google.com` when user paste `https://google.com` and vice versa?

[2017-12-05 10:02] guillaumevincent commented on #295
suggest `google.com` when user enter `http://google.com` or `https://google.com` or `https://www.google.com`

[2017-12-06 17:52] #299 closed

[2017-12-14 18:31] LoopTJ opened #303 "Auto Complete"
Like many other password managers, is it possible to auto fill the login and generated password into the site requesting authentication using the mobile app or browser extension? So once I've typed the login and master password, the generated credentials are passed to the site automatically or with a shortcut key / button.

[2017-12-14 18:33] panther2 commented on #303
Please see #290

[2017-12-14 18:41] LoopTJ commented on #303
Thanks!

[2017-12-14 18:41] #303 closed

[2017-12-15 14:01] husimo opened #304 "Provide docker-compose.yml for using with an existing reverse proxy"
Hello,
First of all, thank you for that wonderful software !
Right now it's good because it works out of the box but if you have anything else on your server it's not working.
Would it be possible to provide a docker-compose.yml for using it with an existing reverse proxy ?

1. Not generate any let's encrypt certificate.
2. Do not need to provide any domain name for nginx container.
3. Not use "po

[2017-12-15 14:34] Rudloff opened #305 "[cli] Password prompt shows password on Windows"
Hello,
When using lesspass-cli 5.0.1 on Windows 7 with Bash, the password is displayed when typed:
![image](https://user-images.githubusercontent.com/840125/34045915-667877f6-e1ab-11e7-96f2-30ee781331a2.png)

The Bash I'm using is the one provided by [Git for Windows](http://gitforwindows.org/).
I can't however reproduce with Windows original command prompt.

At first I thought it was a limitation

[2017-12-15 14:52] edouard-lopez commented on #305
I can't reproduce on Linux with bash `4.3.48`. @sctfic do you have this kind of issue?

Could you give more info about your software versions?

[2017-12-15 15:14] Rudloff commented on #305
Here is more info about the versions I'm using:
* Bash 4.4.12
* Node 9.3.0
* mintty 2.8.1

I can't reproduce on Debian with 4.4.12 either, so I really think this is specific to Windows.

[2017-12-15 15:38] Rudloff commented on #305
I just noticed something strange.

This reproduces the issue:
[code]

This does not:
[code]

[2017-12-15 16:05] guillaumevincent commented on #305
Probably related to https://github.com/npm/read/issues/34

[2017-12-15 18:11] monolifed commented on #305
You can try https://github.com/monolifed/lesspassc
Downside is you have to build it yourself and commandline options are a little different.

[2017-12-16 12:47] RomainQuidet commented on #261
I missed this thread last night when I ported the core lib into native iOS framework.
check https://github.com/RomainQuidet/LessPassCore
It might help for iOS integrations !

[2017-12-16 12:48] RomainQuidet commented on #261
About the GPL issue, several open sources apps are in the AppStore. Did you check issues VLC had for example?

[2017-12-17 19:49] monolifed commented on #305
There is a similar issue that was fixed in mute-stream 0.0.6 which is used by read
https://github.com/npm/mute-stream/issues/3
But read uses `"mute-stream": "~0.0.4"` as dependency
Not sure if it is relevant

[2017-12-17 19:55] Rudloff commented on #305
`~0.0.4` means that currently 0.0.7 is installed, so it does not seam to be the same issue.

[2017-12-18 18:22] monolifed commented on #305
Yes, ~0.0.4 should allow 0.0.x but it looked similar to the issue posted by @guillaumevincent and
Is the following one more relevant to your issue?
https://github.com/npm/read/issues/29

[2017-12-18 18:23] Rudloff commented on #305
Yes, this seems to be the same issue.

[2017-12-19 09:25] guillaumevincent commented on #304
Hello @husimo,
I'm not sure I understand properly, it looks like you want to install LessPass on an existing server.
So the only thing you need is to create another http container that fit your need.
This container is dependent on your configuration.

You can probably start using https://github.com/lesspass/lesspass/blob/master/docker-compose.prod.yml and replace nginx container with yours.

I do

[2017-12-19 09:25] #304 closed

[2017-12-19 09:41] guillaumevincent commented on #171
@elopio my snap stats are very low, 150 downloads since beginning
Have you some similar server application using snap?

[2017-12-19 10:06] #277 closed

[2017-12-19 10:10] #245 closed

[2017-12-19 15:17] elopio commented on #171
Hello @guillaumevincent!

A popular application on the same subject is keepassxc. And a very nice server snap is nextcloud. Both have been promoted in our social media, our very popular blog https://insights.ubuntu.com/ and they mention the snap in their downloads and install page. We would be very happy to promote lesspass-server if you make a snap for it, and also happy to help if you have quest

[2017-12-22 13:08] theblackking opened #307 "Can't delete saved profiles"
For some reason there is no trash can icon next to my saved profiles when signing with my account.

The same applies for using the website & the add on for chrome and firefox.
<img width="448" alt="screen shot 2017-12-22 at 13 02 38" src="https://user-images.githubusercontent.com/34771302/34299113-1c2bf98e-e719-11e7-8ad7-401ccbf72ac9.png">

[2017-12-22 13:57] guillaumevincent commented on #307
Hello,
click on the icon to select the password profile you want to delete, then click on the delete icon.
I will make the icon more visible.

[2017-12-22 14:55] theblackking commented on #307
Thanks it worked :)

[2017-12-22 15:47] guillaumevincent commented on #307
I reopen the issue because you raise an issue finding a way to delete the password profile.
Apparently it's not obvious.
We need to improve this

[2017-12-22 18:12] guillaumevincent opened #308 "Publish entropy-java on maven"
Hello,
If you're familiar with Maven, Java and you know how to push a library easily on Maven, I do want some help to push [entropy-java](https://github.com/lesspass/entropy-java).
I need it in the [LessPass React Native app](https://github.com/lesspass/mobile).

If you have good tutorials, do not hesitate to post them here.
Thank you

[2017-12-24 15:23] seamlik opened #309 "frontend: Not Generating Passwords Using Microsoft Edge"
When using Microsoft Edge 41.16299.15.0 (with EdgeHTML 16.16299) on [the frontend](https://lesspass.com), clicking the `Generate` button yields nothing.

[2017-12-26 13:05] guillaumevincent commented on #309
Hello @seamlik,
probably a web crypto non working implementation.
can you look at the pbkdf2 line [here](https://diafygi.github.io/webcrypto-examples/)
What do you see?
Thank you

[2017-12-26 15:07] seamlik commented on #309
You are right, 4 ❌ for PBKDF2. Looks like this can't be solved unless Microsoft makes improvements on it?

[2017-12-26 15:26] guillaumevincent commented on #309
You are right, I will fix this with a warning and encouraging people to use Firefox. Thanks for the feedback. I don't have a single computer on Windows.

[2017-12-31 23:18] mevatron commented on #308
@guillaumevincent At where I work we've used Sonatype's Nexus, which now has a Dockerized setup here: https://github.com/sonatype/docker-nexus

Also, since you're an open-source project you may be able to apply for JFrog's Artifactory, which I believe can also be setup as a Maven repo: https://jfrog.com/open-source/

Hope those are helpful ideas, and cool project by the way!

[2018-01-02 08:06] guillaumevincent commented on #308
Thanks @mevatron
I will look at JFrog's Artifactory this week

[2018-01-02 16:29] guillaumevincent commented on #308
Hello,
I've published the repo to JCenter: https://bintray.com/lesspass/entropy-java
I'm waiting for the approval of Bintray

[2018-01-02 16:30] #308 closed

[2018-01-04 08:47] onagano-rh opened #310 "CLI ignores initial zeros if the username is a number"
For example, all the followings generate the same password.
[code]
It seems JavaScript converts such an argument to a number automatically, where we want the string we typed. This behaviour is different from the web extensions of Firefox and Chrome those treat the argument as a string.

[2018-01-04 19:40] o-be-one commented on #261
How Master Password handle this? And other under GPL apps?

[2018-01-05 12:42] guillaumevincent commented on #261
@o-be-one there double license the code
I'm going to do the same: https://github.com/lesspass/entropy-ios/blob/master/LICENSE

[2018-01-07 17:14] denfromufa commented on #12
really enjoy this tool, can I make one-time contribution?

[2018-01-09 01:23] monolifed commented on #310
From https://github.com/substack/minimist readme.markdown:
`Numeric-looking arguments will be returned as numbers unless opts.string or opts.boolean is set for that argument name.`

[2018-01-09 13:22] guillaumevincent commented on #12
Hello @denfromufa,
you can check [here](https://github.com/lesspass/lesspass/blob/master/CONTRIBUTING.md) to see how you can contribute.

[2018-01-12 10:28] #310 closed

[2018-01-12 10:31] guillaumevincent commented on #310
Fixed with the latest version of lesspass-cli

    npm install -g lesspass-cli

Thank you for your report

[2018-01-12 10:32] guillaumevincent commented on #305
Hello @Rudloff
can you confirm the bug is still present with lesspass-cli version 5.0.2 ?
Thanks

[2018-01-12 10:36] Rudloff commented on #305
Yes, I can still reproduce with 5.0.2.

[2018-01-13 08:55] magullo commented on #177
Hi, any news on LessPass on F-Droid? I am moving from passwordstore to lesspass, and I'd like to have this app on my SailfishOS device. Thanks

[2018-01-15 14:04] edouard-lopez commented on #177
@magullo We need to push gradle file to our repo then bump the issue on [F-droid repo](https://gitlab.com/fdroid/rfp/issues/82)

[2018-01-16 18:37] guillaumevincent commented on #177
@edouard-lopez @magullo :
@Rudloff is also waiting for the new Android app based on React Native.

I'm working on it but I'm traveling right now, so I will take a little time

[2018-01-22 19:28] Kcchouette opened #311 "Encode parameter before sharing it using the url?"
Hello
I have a bug when using this feature: https://github.com/lesspass/lesspass/issues/142

Some of my login are emails, and my emails can contain specials characters like `+`.
For example in the website lesspass.com:
 - site: test
 - login: test+test@test.test
 - master password: test

(We generate the password, else we can't have the share button) `ky2@z=y6?iwE*3D\`

URL to share is: https://le

[2018-01-23 08:52] Kcchouette commented on #311
By doing some more test, we should encode (using _encodeURIComponent_) login (and site): for example `test+test@test.test` should be `test%2Btest%40test.test`, and it's yet `test+test%40test.test`

[2018-01-23 09:15] guillaumevincent commented on #311
yes this is a good idea

[2018-01-25 14:29] SystemParadox opened #312 "Pictograms change again after delay"
Hi. I am a little confused by pictograms on the lesspass interface.

Firstly, I don't know what to call these - are these mentioned in any documentation anywhere?

I assume these are some sort of hash to aid users in noticing if they typed the password incorrectly. Every time I type a character into the master password box they change. What I don't understand is why they change again after about s

[2018-01-25 16:51] edouard-lopez commented on #312
Hello,
You're right, the icons are here to help detect and correct typos on the master password. I will add wiki page.

We call this the _**icons fingerprint**_, you can find the history of this UI element in [icon fingerprint - Helping hash depend on Master Password only](https://github.com/lesspass/lesspass/issues/10).

The randomness of icon when you type is a feature to prevent information lea

[2018-01-25 17:12] SystemParadox commented on #312
Thanks, that answers my question.

Regarding revealing the password, I would expect to reveal it with a "reveal password" button. I was just playing around clicking on the icons fingerprint and suddenly became aware that my password was visible for all to see!

[2018-01-25 17:12] #312 closed

[2018-02-02 10:42] yvele commented on #12
Love it ❤️ thank you so much! I've added LessPass to [my stack on StackShare](https://stackshare.io/hapticmedia/hapticmedia), spread the world!

https://stackshare.io/lesspass

[2018-02-03 20:38] Laski commented on #236
+1. I use lesspass extension in many different browser+os+device combinations, and it's really annoying having to login again and again.

[2018-02-10 06:48] GammaNu opened #313 "what do you think about LessPass remoteStorage"
https://lesspass.alhur.es/

[2018-02-12 11:12] folusomaine opened #314 "Setup issues. Can't create super user."
Running the setup on Ubuntu installed in virtualbox. First command to install LessPass works and there's confirmation "LessPass database is running". But the command to create superuser is not working and returns "Error, No such container"
Need assistance to finish this setup, please.

[2018-02-12 11:17] edouard-lopez commented on #313
It's always nice to see community-build project.

However, having _lesspass_ and _remote storage_ in the same sentence trigger a red flag with me, so does the lack of any tests.

There is [security reasons to go against autofill feature](https://github.com/lesspass/lesspass/wiki/FAQ#why-there-is-no-auto-fill-feature-in-the-web-extension), that's why we don't have one.

[2018-02-12 11:23] edouard-lopez commented on #313
My bad, [remoteStorage](https://remotestorage.io/) seems to be an interesting way to decouple access to your personal data from the app.

[2018-02-12 11:29] edouard-lopez commented on #313
@fiatjaf You might want to weight in?

[2018-02-12 12:11] fiatjaf commented on #313
Me? I like it a lot, it is very good!

Just kidding. Why do you think autofill is bad in this particular way I'm doing it? (Indeed, it is not "autofill" as people understand it, right? That would involve saving the passwords and writing them to pages without explicit user commands. My approach is much more simple than that, just a thin addition to the official LessPass extension.)

As for [remoteS

[2018-02-12 14:04] edouard-lopez commented on #313
Ping @guillaumevincent For reference, the [filling script](https://github.com/fiatjaf/lesspass-remotestorage/blob/master/thin-content-script.js).

@fiatjaf I think the remoteStorage is interesting but need more explanation on your readme/page. Could you elaborate on how your fill-field feature work relative to the [2nd point in the FAQ](https://github.com/lesspass/lesspass/wiki/FAQ#why-there-is-no

[2018-02-12 14:29] edouard-lopez commented on #314
@folusomaine could you provide more context:
* commands
* docker version
* outputs

[2018-02-12 15:43] fiatjaf commented on #313
remoteStorage is a protocol. People have to know about it before they start using it, because they must sign up for a remoteStorage server or run their own. My extension will not send people's data to anywhere they didn't authorize explicitly.

The script is only injected when you click in the browserAction or the contextMenu item.

[2018-02-12 17:49] folusomaine commented on #314
command:
<docker exec -it lesspass_backend_1 sh>
outputs:
no such container found

docker version 17.12 ce

I also pulled the lesspass/backend from the hub and then i try to run the lesspass/backend image but it outputs: nc: getaddrinfo: name cannot be resolve

[2018-02-12 20:18] guillaumevincent commented on #314
Did you solve your problem?
Can you run

    docker-compose ps

Look like your container is not running

    docker-compose logs

[2018-02-12 20:22] guillaumevincent commented on #313
Yes there is an open issue about remoteStorage

https://github.com/lesspass/lesspass/issues/91

I will take a look at it soon.
Thank you @fiatjaf

[2018-02-12 20:50] fiatjaf commented on #91
For anyone interested, I've written an alternative LessPass widget and browser extension that stores password profiles on remoteStorage. Example widget and download links are on https://lesspass.alhur.es/.

[2018-02-13 07:55] folusomaine commented on #314
i haven't solved the problem. I mistakenly closed the issue.
I've run **docker-compose ps**
It doesn't show any running container.
it returns this output continuously **nc: getaddrinfo: name cannot be resolve**
so i opened another terminal and run **docker-composer ps**
its shows the container is running.
but afterwards the next command doesnt work **docker exec -it lesspass_backend_1 sh**

[2018-02-13 11:55] folusomaine commented on #314
I think the installation is complete but its not running correctly.
it still returns this output **nc: getaddrinfo: name cannot be resolve**
Im able to enter backend with this command **docker exec -it [container ID] sh**
**python manage.py createsuperuser**
**python manage.py migrate**
all migrations OK
but i cant access https://[DOMAIN]/admin

this output still running continuously in one termin

[2018-02-13 12:05] folusomaine commented on #314
output when i run

**docker-compose logs**

**docker-compose ps**

**docker ps**

![docker-compose-ps-logs](https://user-images.githubusercontent.com/29386389/36148988-3a3a65a4-10be-11e8-853e-51fa742e50ef.JPG)
**

[2018-02-13 15:01] guillaumevincent commented on #314
you are not on the good folder. You need to run `docker-compose` in LessPass folder where ` 	docker-compose.yml` is located.

Did you run `bash <(curl -s https://raw.githubusercontent.com/lesspass/lesspass/master/lesspass.sh) [DOMAIN] [EMAIL]` ?

[2018-02-13 16:12] folusomaine commented on #314
I'm able to resolve by doing some troubleshooting and tweaking.
I can finally access the application via the browser using the container ip address 172.17.0.2/admin
but once i login it returns this output
![login output](https://user-images.githubusercontent.com/29386389/36160140-c08ad090-10e0-11e8-8f03-09dace9ba31e.JPG)

should i still go ahead and run docker-compose in lesspass folder to fix, an

[2018-02-13 17:28] guillaumevincent commented on #314
`[DOMAIN]` should be replaced by your domain name pointing to your server (i.e. example.org)
We are agree that your `[DOMAIN]` DNS is pointing to your server?

Your `docker ps` is not good. It should returns something like:

[code]

After running `bash <(curl -s https://raw.githubusercontent.com/lesspass/lesspass/master/lesspass.sh) [DOMAIN] [EMAIL]` you should go to `[DOMAIN]/admin`.

[2018-02-13 17:51] guillaumevincent commented on #314
Look like you are running it on a VM on your computer.
If you want to test LessPass on a VM you should look at this [docker-compose.yml file](https://github.com/lesspass/lesspass/blob/master/docker-compose.yml)

Care this is a dev version. Not valid for production.

[2018-02-16 18:33] stevenandres opened #315 "Use case for regular user to keep track of counter?"
Trying to understand the use case for a non-IT non-admin regular user: If we train people to use lesspass to setup all their complex passwords, and they need to rotate every year or quarter, how is that regular user supposed to remember what the counter was set at last time? If they need to store that somewhere else, that means two areas to maintain password-ish information. Maybe I'm misunderstan

[2018-02-17 08:48] panther2 commented on #315
In case you need to change the Password every year you could set the counter for example to "18" for "2018".
Changing on a monthly base set it for example to "5" for "May" ...
... just some ideas.

[2018-02-19 07:38] guillaumevincent commented on #315
Hello @stevenandres,
@panther2 answer is one solution.
Another solution is to use LessPass Database, the connected version that allow users to save their password's profiles.

[2018-02-19 07:39] guillaumevincent commented on #314
I close this one.
Feel free to post on this thread to ask for extra help.

[2018-02-19 07:39] #314 closed

[2018-02-19 10:58] panther2 commented on #315
@guillaumevincent
What is the maximum allowed value for the counter?

[2018-02-19 13:37] guillaumevincent commented on #315
@panther2 there is no maximum.
there is surely a technical limitation on a very very large number. I don't know it

[2018-02-19 14:05] edouard-lopez commented on #315
@stevenandres nice to hear you want to use lesspass on a larger scale.

Could you tell us more about the context you're talking about so we can give some feedback? Is it for enterprise/NGO/Open-source community

[2018-02-19 14:19] panther2 commented on #315
@guillaumevincent

Thanks. That is good to know, as it gives a high flexibility for use cases such as the one @stevenandres brought up. :smile:

[2018-02-19 15:59] yannicka commented on #301
A configurable lifetime would be very interesting (for example 5 minutes, 30 minutes, 1 hour, 4 hours, 1 day, etc.)

[2018-02-19 20:44] stevenandres commented on #315
Thanks -- if there is no upper limit I can instruct people on using the year as the counter value

[2018-02-19 20:44] #315 closed

[2018-02-20 16:35] guillaumevincent commented on #315
@stevenandres send NIST password guidelines to the guy who set the rule https://pages.nist.gov/800-63-3/sp800-63b.html

this is not a good rule at all

[2018-02-20 16:43] panther2 commented on #315
@guillaumevincent
Not good, you are right for sure, but unfortunately very common in many professional (enterprise) environments. I had to change passwords for up to 10 applications (as well web based as not web based / stand alone or server based) every three months.

There is no single "guy" behind it but often regulatoric requirements that lead to these consequences.

It was a pain - but LessPa

[2018-02-20 16:52] guillaumevincent commented on #315
More often they follow some rules without any idea if the idea is good or not. Sometimes it's good to point them to the good rules.

[2018-02-23 12:05] guillaumevincent commented on #305
@Rudloff I pushed new version of lesspass-cli@5.1.0 with another module for reading password.
Can you test it and close this issue @Rudloff?

Thanks

[2018-02-23 12:37] Rudloff commented on #305
Unfortunately, I can still reproduce with 5.1.0 :disappointed:

[2018-02-25 19:32] bumi commented on #91
@fiatjaf whooot! nice, that's pretty awesome! I will look into it and try it!

[2018-02-27 18:49] ldanicel opened #316 "Save default options for offline mode"
Advanced options like password length are not saved and need to be reconfigured everytime I generate myself the password

[2018-02-27 18:55] guillaumevincent commented on #316
Hello @ldanicel,
I don't understand the issue. Are you using the connected mode or the offline mode?

[2018-02-27 18:58] ldanicel commented on #316
this was quick... offline mode - i go to my website for example and generate myself a new password by setting for example 29 as password length. I copy the password , change my password or even login. Second time I go in the extension I have to set again 29 as the length because it resets back to the default of 16 chars.

[2018-02-27 19:06] guillaumevincent commented on #316
@ldanicel nop your are right.
I will implement this soon, a page to save default options for offline mode.

[2018-03-04 09:19] tiaod opened #317 "[Question] Is master password reset useless?"
If I had forgot my master password, I can't generate the correct password for other websites anymore, isn't it? 🤔

[2018-03-05 07:46] guillaumevincent commented on #317
@tiaod the answer is yes, without your master password, you can't generate the correct password.

[2018-03-05 10:07] edouard-lopez commented on #317
Hello @tiaod, indeed as your master password is one parameter we use to create unique password:

If you want to know more, you can read our [blog post: LessPass How Does It Works?](https://blog.lesspass.com/lesspass-how-it-works-dde742dd18a4) and a short
[Technical Overview of Password Generation](https://github.com/lesspass/lesspass/wiki/Overview-of-Password-Generation)

If you are locked out of

[2018-03-05 10:18] tiaod commented on #317
Maybe Couchdb + Lesspass is a good idea! Because password reset is not necessary, I can use only the original Couchdb as my backend, and I don‘t need to change anything! 😃

[2018-03-05 10:18] #317 closed

[2018-03-06 07:37] florentulve opened #318 "Unable to change password, no email received"
I've forgotten my password, so I'm trying to change it but I don't received any mail in my inbox.

[2018-03-06 08:37] guillaumevincent commented on #318
![screenshot from 2018-03-06 09-35-39](https://user-images.githubusercontent.com/943762/37021985-cc09853c-2121-11e8-92da-af27e2e2f3bf.png)

Hello @florentulve, it works for me.
Can you recheck?

[2018-03-06 11:53] HeapUnderfl0w opened #319 "nginx-less docker configuration"
While i was installing the docker image through the [command](https://github.com/lesspass/lesspass/#self-host-your-lesspass-database) from the README.md, i ran into the following problem:

I have a running instance of NGINX on the host-system which serves as the reverse proxy for all of the web-services running on the system (it is secured with HTTPS).
This creates a problem as the nginx-container

[2018-03-06 12:01] HeapUnderfl0w commented on #319
this has already been answered in #304

[2018-03-06 15:52] HeapUnderfl0w commented on #319
Reopening as i could not get anything to work with the "solution" in #304

What i am trying to do is
i have the sub-url `/lp/` on my existing nginx-server over which i want to serve the lesspass page.

This is the modified `docker-compose.prod.yml` and `nginx.conf` i came up with.:
https://gist.github.com/HeapUnderfl0w/2b506a156c8e1ec7f0d74c6acd1152b1

It works up to the moment of me trying to acc

[2018-03-06 19:26] florentulve commented on #318
Unfortunately, it doesn't work... The adress is already known when trying to register but when I try to reset password, nothing happened.

![image](https://user-images.githubusercontent.com/2817358/37053206-d2bd1998-217b-11e8-863e-103cf77d76d6.png)

[2018-03-07 09:34] edouard-lopez commented on #318
@florentulve Did you check your spam folder?

[2018-03-07 11:53] florentulve commented on #318
Yes, I've check spam. Maybe it's somehow related to protonmail, it works with another accout with a Gmail address.

[2018-03-07 21:37] edouard-lopez commented on #318
I'm closing then.

Feel free to re-open if you find the cause.

[2018-03-07 21:37] #318 closed

[2018-03-18 13:06] pwFoo commented on #313
I'm new with remoteStorage (and lesspass) but it sounds good to me.
Maybe it would be nice to have docker images and a compose file to setup lesspass with self hosted remoteStorage? Is there an example to do it?

[2018-03-18 13:10] pwFoo commented on #91
Instead of a remoteStorage would it be possible to add lesspass profile database (server) as backend? Becuase it looks simple to setup with docker self hosted. Is there a example how to self host a remoteStorage server and compare features with lesspass profile database / server?

[2018-03-18 13:17] pwFoo commented on #91
I know there are two plugins, but maybe both could be merged with remoteStorage and lesspass database server backends?
And an example how to setup self hosted remoteStorage would be nice. Docker based images and compose is an easy way for testing and production use.

[2018-03-18 16:01] fiatjaf commented on #91
@pwFoo I don't know about hosting your own remoteStorage, but there are many remoteStorage server implementations: https://github.com/search?utf8=%E2%9C%93&q=remotestorage+server&type=

The better place to discuss these things (or look for existing discussion, as surely there may be some already) is on the remoteStorage community: https://community.remotestorage.io/

[2018-03-23 10:00] guillaumevincent opened #320 "New Design"
Hello LessPass Community,
I'm working on a LessPass Redesign. There is still a lot of work to be done but you can see a preview on this [codepen](https://codepen.io/guillaumevincent/full/PRwamO/).

If you have any feedback on the new interface, feel free to add a comment here.
I will update this issue after any update.

![screenshot from 2018-03-23 10-59-23](https://user-images.githubusercontent.c

[2018-03-23 14:24] panther2 commented on #320
@guillaumevincent

Looks nice.
What will be behind the
![lp](https://user-images.githubusercontent.com/20812775/37834403-e93df69e-2ead-11e8-8d06-66e06729b189.PNG)
image?

The site default in this case would be "lesspass.com" - so I hope you won't change today's defaults...

[2018-03-23 17:30] guillaumevincent commented on #320
@panther2 behind the hamburger, we will have the menu, with settings for LessPass, Login, etc. The menu is in the todo list.

The default will not change, but we will add a new feature :)
An auto complete suggestion:

[code]

[2018-03-28 10:30] edouard-lopez commented on #320
### Icons

I'm a bit confused by the use of the hamburger and the cog icons.

The ![selection_007](https://user-images.githubusercontent.com/1212392/38022486-f201c654-327f-11e8-874a-81a6d63fc73c.png) (cog icon) is often associated with settings, I would suggest to use the [![selection_008](https://user-images.githubusercontent.com/1212392/38022677-72146856-3280-11e8-942a-9482d7c68892.png) _slider_

[2018-03-28 11:01] edouard-lopez commented on #320
A quick look at my phone apps shows a recurring design pattern for a panel:
1. a hamburger icon in the top/bottom navbar.
1. clicking it slide the panel from the border to the center
1. take full height
1. contains action entries

This is used by Google Keep/Maps/Calendar, Wikipedia, Pleco, etc. A similar pattern is based on the slide gesture without icon but that won't fit on a desktop.

| App |

[2018-03-28 12:20] edouard-lopez commented on #320
Here is a [codepen proposal based on above feedback](https://codepen.io/edouard-lopez/pen/QmaxvW). There are some rough edges that need improvement but you get the idea.

![selection_002](https://user-images.githubusercontent.com/1212392/38028189-6c04b94a-3292-11e8-9db0-db63b56c9fab.png)

### Panel focus
![proposal-new-design-panel](https://user-images.githubusercontent.com/1212392/38028433-3462e5

[2018-03-28 13:08] guillaumevincent commented on #320
I love it!
The only problem I see is that the hamburger menu should contain also the login button and the global settings button.
Maybe we should move the password settings button on the bottom right.
@edouard-lopez where do you see the sliders icon?

[2018-03-28 14:05] edouard-lopez commented on #320
Global _settings_ button is present at the top when open, otherwise there is only the hamburger menu visible.

There is a strong constraint on available space, we have several action point to mitigate this:
* inline the spinner next to their labels
* remove section header
* tweak margin/padding

I will give it a shot.

the slider icons remark was related to your first proposal.

[2018-03-28 15:25] edouard-lopez commented on #320
preview

| Fit in Panel and Sign-in | [_Settings_ at the bottom](https://codepen.io/edouard-lopez/pen/QmaxvW) |
| --- | --- |
![proposal-panel-sign-in](https://user-images.githubusercontent.com/1212392/38038849-402a4834-32ac-11e8-9215-9e0c6871d72c.png) | ![proposal-panel-settings-bottom](https://user-images.githubusercontent.com/1212392/38038959-735b838a-32ac-11e8-81a7-498faace484b.png)

[2018-03-29 07:54] guillaumevincent commented on #320
Login and Global settings are different from password generation settings.
Maybe we can try to keep the current structure but use the settings panel.

![screen shot 2018-03-29 at 09 53 28](https://user-images.githubusercontent.com/943762/38076806-0ca0f086-3337-11e8-9ff2-f46be2de15d3.png)

[2018-03-30 06:03] guillaumevincent commented on #319
Hello @HeapUnderfl0w,
sorry I miss your issue

What is the issue you encounter?
Can you print here the `docker-compose logs` output?

[2018-03-30 06:04] #291 closed

[2018-03-30 06:23] guillaumevincent commented on #313
I close this one, we can continue the discussion on #91
I love the idea behind remote storage protocol. There are 2 main issues, I don't have a lot of time actually to engage myself in a backend rewrite. And there is not a lot of remote storage implementation. So people will still continue to use the one I will add.

But I keep #91 open, because I like the idea.
Thank you @fiatjaf

[2018-03-30 06:23] #313 closed

[2018-03-30 06:23] guillaumevincent commented on #56
I close this one, I will reopen this one in case of a version 3.

[2018-03-30 06:23] #56 closed

[2018-03-30 09:11] #311 closed

[2018-03-30 13:24] HeapUnderfl0w commented on #319
On the system there is currently an nginx-reverse-proxy already running.
Due to that i tried to create a docker-configuration, that did not include the nginx image.

This is the log when i start the docker-file
https://gist.github.com/HeapUnderfl0w/76ca3b24a17131db881b145a427a9cb4

But when i then access the page `/lp/` on my reverse proxy that is configured like [this](https://gist.github.com/Hea

[2018-04-02 07:25] theratlesnake opened #321 "How to find the original password？"
I registered for Lesspass（Chrome）， then entered my email address and password at google.com, then clicked the Generate button, and then what should I do? Even if I saved the generated password,  how can I see the original password I entered? what's the use? Can someone tell me how to use this software? Thank you! (I'm sorry, my English is not very good)

[2018-04-02 07:51] guillaumevincent commented on #321
Hello @theratlesnake,
did you see the "How does it work?" section on the readme?

    🇫🇷 LessPass comment ça marche?
    🇬🇧 LessPass How Does It Work?
    🇩🇪 LessPass - Wie funktioniert das?

LessPass is different from other password managers. Read the How does it work section, then come back here for more details

[2018-04-02 14:47] theratlesnake commented on #321
@guillaumevincent  Hello, I have already seen the readme.  But still don’t quite understand how to use it, and in my country, I can’t find any ways to use. It may be that there are not many people who use it. So thank you again!

[2018-04-02 14:48] #321 closed

[2018-04-03 07:53] guillaumevincent commented on #319
@HeapUnderfl0w so the frontend is properly listening on http://localhost:8080 ?
What is the output of `curl http://localhost:8080`?

Look like a nginx misconfiguration.

[2018-04-03 08:00] #295 closed

[2018-04-03 08:00] #294 closed

[2018-04-03 08:05] guillaumevincent commented on #307
It's fixed in the last version of LessPass in production

[2018-04-03 08:05] #307 closed

[2018-04-03 14:03] HeapUnderfl0w commented on #319
Ok, i will look into it. (curl returns the desired content)

[2018-04-03 14:03] #319 closed

[2018-04-03 18:08] failshell commented on #261
Any progress on the iOS app?

[2018-04-03 20:29] guillaumevincent commented on #261
Hello @failshell,
I don't have a lot of time for LessPass right now.
I'm working on new features, the new design and the iOS app.
I will update this issue when I will have some update.

[2018-04-07 14:27] VannTen opened #322 "'Password must be less than 35' breaks existing passwords"
Hi there.

I am a happy user of lesspass, and I usually set the length of my generated password to 50, unless the site itself require less.
But today, the Chrome expansion no longer allows that. And so I have lost all access to my generated passwords :/
Is there a way to allow at least an option to set the maximum over 35 ? What is the benefit of that change ?
(I am aware that over a certain value

[2018-04-07 17:27] guillaumevincent commented on #322
Hello @VannTen,
the password generated length cannot be more than 35 because of the size of the entropy consumed. See https://github.com/lesspass/lesspass/wiki/Generated-password-info. It didn't change anything regarding the password length.

Are you talking about LessPass connected and the saved password profiles? I didn't change anything. It should work.

Did you update your browser?
Because the

[2018-04-07 19:45] guillaumevincent commented on #258
I close this one thanks to the suggestion box in the last version.
![screenshot from 2018-04-07 21-43-44](https://user-images.githubusercontent.com/943762/38459662-e94cdabe-3aac-11e8-86a8-d168b213bb44.png)

[2018-04-07 19:45] #258 closed

[2018-04-07 21:17] #248 closed

[2018-04-07 22:48] guillaumevincent commented on #109
I close this one. The issue is difficult to solve without a visual component.
Because `a visible countdown puts people under pressure, which is a bad thing` and because we loose the web context in the web extension, I don't know what solution I can use.

Feel free to add some comment here, if you have good solution.

[2018-04-07 22:48] #109 closed

[2018-04-09 10:04] VannTen commented on #322
I understand that having a generated password does add anything ; however, does it harm ?
Previously, all my generated password (besides a few exceptions for sites which didn't allow it) were 50-characters long. Having mistakenly paste  them in the url field sometimes, i saw that in the end was only `a` characters. So, as far as I understand, beyond 35 characters, lesspass was adding padding chara

[2018-04-09 11:46] guillaumevincent commented on #322
Hello @VannTen,
I understand your problem, it's just that I didn't understand why you didn't have the limitation before.

**As a temp workaround** you can try to install a [previous version](https://github.com/lesspass/webextension/releases). Unzip the source code and 'load unpacked extension' in your browser extension panel.

The length of the generated password does not matter in the security of

[2018-04-09 11:52] guillaumevincent commented on #322
I will try to find why the issue appears recently.

Another workarounds:

 * install the previous version on Firefox https://addons.mozilla.org/en-US/firefox/addon/lesspass/versions/?page=1#version-3.0.3
 * `npm install --global lesspass-cli` then `lesspass site login -L=50`

[2018-04-09 12:01] guillaumevincent commented on #322
The patch which introduce the limitation: https://github.com/lesspass/pure/commit/aa6c82f8c99c60b89b77f286ac4e7f186b014650#diff-4e80f5a32e189769daf6a979bb1dffa6

client side validation for a form in HTML5 is triggered only when form is submitted :disappointed:

[2018-04-09 12:12] #322 closed

[2018-04-17 03:44] order4adwriter opened #323 "Professional Copywriter Willing to Contribute..."
I've seen and used the demo of your online password manager  app Lesspass at your website...and I must say that it looks pretty cool!

I am a professional copywriter and I 'd like to contribute to your repository by writing an About Lesspass/ About Us page content, Privacy Policy, Help/FAQ, Terms Of Use, Case Studies, Blog posts ... and other necessary marketing content for your app website.

My q

[2018-04-17 07:55] guillaumevincent commented on #323
Hello @order4adwriter,
I see that you opened a lot of similar requests in a lot of different projects with the same message.
We have already some of your suggestions.

Is this request for disguised advertising? order4adwriter > order for advertising writer ?
I close this one, LessPass is an open source repository, you don't need an approval for pull request.
Thanks

[2018-04-17 19:56] order4adwriter commented on #323
Hi @guillaumevincent,
Yes I did send similar requests to other projects because I still believe in getting permission form such project owners before creating any content / copy for the pages.

Lol!.... No it is not a marketing gimmick...Order4adwriter is indeed my moniker on a lot of freelance websites I work on including fiverr, freelancer, peoplerperhour, upwork etc.

At times when I feel bored

[2018-04-18 11:13] guillaumevincent commented on #323
Hello @order4adwriter,
thank you for the clarification.
Feel free to contribute, check the [contributing file](https://github.com/lesspass/lesspass/blob/master/CONTRIBUTING.md) to see what kind of help we are looking for.

[2018-04-18 11:13] #323 closed

[2018-05-08 11:42] FranzSkuffka opened #326 "The maximum length of a password is 35 characters."
`The maximum length of a password is 35 characters.`

This effectively locks this out of generating any hashes / keys :( (IOTA in my case)

[2018-05-08 19:16] guillaumevincent commented on #326
Hello,
the entropy used to generate a password limit us to 35 chars. Without changing the algorithm it will be impossible to modify the max length.

[2018-05-08 22:00] FranzSkuffka commented on #326
I understand - thank you for the insight.

[2018-05-08 22:00] #326 closed

[2018-05-08 22:01] FranzSkuffka commented on #326
Just wanted to add this to the wiki. It is not writable is it?

[2018-05-09 08:48] buoyantair commented on #320
Woah :O

[2018-05-09 15:08] oncletom opened #327 "LessPass for teams"
Hello folks 🙂

I get LessPass is about choosing a master password.
How does it work if passwords are meant to be shared amongst different people, who could be joining and leaving an organization?

I can imagine this being used in combination of personal passwords (not shared with the team).

Is it already possible? Is it something you've been thinking about?

Thanks a bunch for this project :-)

[2018-05-09 15:10] oncletom commented on #145
Especially as it's been standardised as [webauthn](https://www.w3.org/TR/webauthn/) 👍 ([ah npm](https://www.npmjs.com/search?q=webauthn))

[2018-05-09 20:56] D-Nice opened #328 "Non-matching password on counters >= 10 with different versions of lesspass-cli"
Using the npm package lesspass-cli on Void GNU/Linux Kernel 4.12.x - 4.16.x  with musl libc, when a counter of 10 or higher is set, it renders passwords that do not match with those generated on other OS, including other Linux distributions just using glibc and Windows. The above is not an exhaustive list, I have a feeling it may have to do something with musl, so if someone is using Alpine Linux

[2018-05-10 13:47] guillaumevincent commented on #327
Hello @oncletom,
Happy to see you there.
I think @Krilivye use LessPass in his team. He told me they share a master password. They consider that changing master password when somebody leave is a feature.

I imagined at the beginning using LessPass Database to saved team info and some GPG encryption "like pass" to share a master password across team.

But this is a complex evolution (interesting al

[2018-05-10 13:51] guillaumevincent commented on #328
Hello @D-Nice,
Nice catch. I will look at this issue after my paternity leave.
Feel free to update the issue if you find anything else

[2018-05-10 17:01] oncletom commented on #327
Thank you @guillaumevincent :-)

Good to see all the nice work you've put into LessPass too!
I'll think about it and see what's the most convenient for our team between a shared password and NextCloud password manager.

[2018-05-10 17:01] #327 closed

[2018-05-10 20:09] Krilivye commented on #327
Hi folks!
Some of us in the team use LessPass for every bare-metal server we have (1 password/server).
Most of us use a personal KeyPass.
For collective datas we use a shared KeyPass Base on a private cloud service with 2 Factors auth.

My main +++ for LessPass is the CLI and so it's ability to be combined in automated script (ansible/ssh... )
and it's "simple" open source implementation.

Kudo's

[2018-05-13 09:41] guillaumevincent opened #329 "Ubuntu 18.04 and LessPass Web Extension issue on Firefox"
Hello LessPass users,
there is an issue with Firefox 60 on Ubuntu 18.04 due to a broken ibus package.
See https://github.com/ibus/ibus/issues/2002

It's not related to LessPass and we are waiting for a fix from ibus

Thanks to [jfietkau](https://www.reddit.com/user/jfietkau) for the research

See next post for a temporary workaround
Thanks @subdavis

[2018-05-18 13:19] Commifreak opened #330 "Backend: 500 Internal Server Error"
Hi,

since a few days, LessPass stopped working without anything touched?

frontend is working but all api calls end in 500:

[code]

[code]

[code]

nginx seems to do it's thing right, but the backend service seem to have a problem. How to check further things? Iam on latest images, based on:

[code]

Thanks in advance ;)

[2018-05-18 16:55] guillaumevincent commented on #330
Hello @Commifreak,
nothing change recently in the LessPass world.
Can you see what `docker-compose logs` returns and print `docker` and `docker-compose` version?
Check that all the services are up and running with a `docker ps`
thank you

[2018-05-18 18:07] Commifreak commented on #330
Thanks for your answer!

I remember - the last thing I've did was a docker update. This is the current state here:
[code]
[code]
[code]
backend_1   | Invalid HTTP_HOST header: 'localhost'. You may need to add 'localhost' to ALLOWED_HOSTS.
backend_1   | Internal Server Error: /api/tokens/auth/
backend_1   | Traceback (most recent call last):
backend_1   |   File "/usr/local/lib/python3.5/site-packa

[2018-05-18 18:07] #330 closed

[2018-05-18 18:17] Commifreak commented on #330
Solution: Apache seemed to changed their default config for ```ProxyPreserveHost```. Now Off per default.

Adding ```ProxyPreserveHost On``` to my vHost solved the original issue. .env reverted back now.

[2018-05-19 15:07] guillaumevincent commented on #330
Ack thanks for the update

[2018-05-20 15:19] D-Nice commented on #328
Did try on clean installation of Void Linux using glibc and the same issue, so it doesn't appear that muslc is the culprit as I had expected.

[2018-05-30 13:30] r4nd0m9uy opened #331 "LessPass installation fails when generating LE certificate."
Hi everyone

I just installed LessPass, but during the installation, I got this message when the Let'sEncrypt certificate generates:
`Create LetsEncrypt certificate...
Unable to register an account with ACME server`

After which the installation process just stops.

I tried running the following steps manually and ignoring the certificate problem by calling following commands:

`root@less:~# curl

[2018-06-01 12:53] guillaumevincent commented on #331
@r4nd0m9uy can you copy paste the info from `/var/log/letsencrypt` ?

See https://github.com/certbot/certbot/issues/3671
`The ACME server believes xxx@yyy.com is an invalid email address. Please ensure it is a valid email and attempt registration again`

[2018-06-02 18:53] r4nd0m9uy commented on #331
Hi @guillaumevincent

There is no log at /var/log/letsencrypt

The emailaddress is a valid mail address, so this shouldn't be a problem

This is the full output of `root@less:~# bash <(curl -s https://raw.githubusercontent.com/lesspass/lesspass/master/lesspass.sh) [less.dlds.be] [me@dlds.be]`:

`Docker version 17.12.0-ce, build c97c6d6
docker-compose version 1.18.0, build 8dd22a9
Pulling frontend

[2018-06-05 07:11] guillaumevincent commented on #331
@r4nd0m9uy I tested and it works for me

Certbot needs to answer a cryptographic challenge issued by the Let's Encrypt API in order to prove you control your domain. It uses ports 80 or 443 to do so

Can you look if you don't have a firewall rule for port 80 and 443?

Other test you can do is to run manually the command with more log
[code]

[2018-06-08 15:30] jliebrand commented on #301
+1 especially with a configurable lifetime... (plus 'clear cache when screensaver comes on / device locks')

[2018-06-09 17:38] r4nd0m9uy commented on #331
Okay now the LE certificate gets installed w/o error. I don't know what the reason was, unfortunately.
I have another issue that came up now, but I'll open a new issue for that.

[2018-06-09 17:38] #331 closed

[2018-06-09 17:44] r4nd0m9uy opened #332 "createsuperuser command gives error when connecting to db"
Hi again to all! :)

When I'm trying to create the superuser, the command gives `django.db.utils.OperationalError: FATAL:  password authentication failed for user "postgres"` as a result.
I tried to find out where the password was stored in the lesspass folder, but I couldn't find it.

What are the things I should check?

Thanks in advance

Kriz

[2018-06-11 07:18] guillaumevincent commented on #332
Hello,
The postgres database use the [env variable DATABASE_PASSWORD](https://github.com/lesspass/lesspass/blob/master/docker-compose.prod.yml#L11).
The DATABASE_PASSWORD is generated during the [lesspass.sh](https://github.com/lesspass/lesspass/blob/master/lesspass.sh#L39) run and saved in a .env file.
The DATABASE_PASSWORD is then used by the [django backend](https://github.com/lesspass/backend/

[2018-06-12 11:22] jeromecst opened #333 "Autocomplete on site field for multiple login return only one entry"
For example I have many accounts on twitter, all with differents login and password on lesspass.
Is it possible to have to autocomplete box for login field so I can directly choose my different account from the same website

[2018-06-12 11:30] guillaumevincent commented on #333
Hello @owazae,
it's a bug, if we have two accounts on the same site, the auto completion on the site field should return two entries:

 * twitter.com 1@example.org
 * twitter.com 2@example.org

Actually it only returns

 * twitter.com

I will fix this

[2018-06-12 11:32] owazae commented on #333
Got it, I didn't know I was a bug.
Thank you

[2018-06-13 17:45] r4nd0m9uy commented on #332
both passwords are the same. Running update.sh doesn't give any error messages.  I do see a hostname with some numbers and letters, is this correct?

[2018-06-14 06:36] guillaumevincent commented on #332
`docker-compose logs -f` can give us more information about why is not working when you try to create the super user.

[2018-06-15 09:09] MurzNN opened #334 "How to login into "connected" version on LessPass website?"
At https://lesspass.com/ website there are described:

We all know sites with stupid password rules. For this kind of site, we created a "connected" version to memorize the options. Sign in, load or save complex password profiles on LessPass Database.

But I can't find at website this login form for sign in:
![](https://lesspass.com/dist/LessPassDatabase.png)

Where is this form located?

[2018-06-15 09:14] guillaumevincent commented on #334
Hello @MurzNN,

the source code? or the form?

Source code is here: https://github.com/lesspass/pure/blob/master/src/views/Login.vue
To access this form, you should click on the login icon (top right in the black header) in the application.

![t](https://user-images.githubusercontent.com/943762/41460474-350fc32e-708d-11e8-916d-21d3704771e1.png)

[2018-06-15 09:27] MurzNN commented on #334
Wow, thanks! This button have too bad visibility. Will be good to duplicate this via some menu item or text with "Login" and Register" words.

[2018-06-15 10:09] guillaumevincent commented on #334
@MurzNN you are right, and we are working on a complete redesign here #249

![proposal-panel-sign-in](https://user-images.githubusercontent.com/1212392/38038849-402a4834-32ac-11e8-9215-9e0c6871d72c.png)

Sign In will be more accessible and simpler to find
Thank you for the report

Feel free to add a comment in #249 for other early feedback
Thanks

[2018-06-15 10:09] #334 closed

[2018-06-15 15:57] dajbelshaw commented on #170
@guillaumevincent I love LessPass, but for the last couple of months (can't pin it down to a particular release) I've only been able to use the Chrome extension.
Here's what happens in Firefox (regular/Nightly, have tried new profile) on Ubuntu 18.04:

![Attempt to tab into master password box](https://user-images.githubusercontent.com/2429426/41477688-f7a19d0c-70bc-11e8-978a-4a8bb2c7a4ee.gif)
Att

[2018-06-15 19:44] guillaumevincent commented on #170
@dajbelshaw it's probably related to https://github.com/lesspass/lesspass/issues/329

[2018-06-16 07:41] r4nd0m9uy commented on #332
https://snippeter.krizdelogi.be/public.php?id=182
There isn't much to see about the backend section.

[2018-06-18 08:58] guillaumevincent commented on #332
@r4nd0m9uy database docker container is not running: `LOG:  database system is shut down`

`docker ps` can confirm this.

Maybe you have already a service listening on 5432 port on your host?

What is your OS?

[2018-06-18 09:29] guillaumevincent commented on #332
fyi the production is running on the same OS

[2018-06-18 10:13] Yajo commented on #170
That was my bug, yes, although I just checked today and it seems fixed in my current environment. I've been using the lesspass site since then.

I use Fedora BTW (version 28 since not much long ago).

[2018-06-19 16:03] D-Nice commented on #328
Just tried this on a Windows 10 PC and same issue occurred. Appears to have nothing to do with the distro as I initially seemed to assume. Instead it has to do with the version of lesspass-cli (although I swore I tried diff versions earlier).

I haven't had the time to check exactly at which version the difference starts occurring, but the previously mentioned Windows/Debian 9 results are with les

[2018-06-20 09:53] Yajo commented on #170
Lol, it started happening again...

[2018-07-15 08:17] rphlypo opened #335 "Same credentials give different passwords on different platforms"
Used LessPass Android app and Firefox (61, Quantum) browser extension as well as web page lesspass.com to generate password with the exact same settings (tried version 1 and 2 on android app, not available on the other modalities). The final generated password is different on Android than it is on my Linux 64bit (Ubuntu 18.04), and this independently of which modality is used (web based, browser e

[2018-07-17 06:20] guillaumevincent commented on #335
Hello @rphlypo,
this is strange. Do you use some non ASCII char in the login, site or master password?
Can you generate an example with different password on different platforms?

[2018-07-17 06:39] guillaumevincent commented on #332
@r4nd0m9uy I close this issue
Feel free to reopen the issue with some extra info for more help

[2018-07-17 06:39] #332 closed

[2018-07-19 23:33] daffy1234 opened #336 "Different inputs can result in the same password in some cases"
https://github.com/lesspass/lesspass/blob/1e6cec07344d97e6663600fe76b7dd9e070f38c9/core/src/lesspass.js#L61

Simply concatenating these two values can lead to different inputs becoming the same output. For example, site name "example.co" and username ".ukraine" will result in the same passwords as "example.co.uk" and "raine".

[2018-07-21 12:43] edouard-lopez commented on #334
Addon redesign conversation is #320

[2018-07-21 12:59] edouard-lopez commented on #335
Can you try to generate using following credentials?
* site: `github.com`
* login: `lesspass`
* master password: `debug`

I get the same result via the web-extension, website and mobile app.

You should get it too.

:warning: On mobile some fields are capitalized.

[2018-07-21 13:19] rphlypo commented on #335
This is doing fine, no longer able to reproduce the issue. Both your proposed site/crendentials and mine now give the same result on different platforms.

[2018-07-21 13:20] #335 closed

[2018-07-26 19:36] thebetterjort opened #337 "Run LessPass with BYOC?"
I want to pass LessPass my cert that I have from my organization and not use LetsEncrypt. Is this possible?

[2018-07-27 13:48] guillaumevincent commented on #337
I don't know. You can try to create a folder `./letsencrypt/live/{{ domain }}` in the root directory and add the ssl certificate with name `fullchain.pem` and ssl certificate key with name `privkey.pem`.
Then restart the container.

Let me know if it works

[2018-07-29 12:40] tim-peters commented on #236
Since this issue remained open for more than a year now, maybe a quick recap of the results of our discussion:
- Having to authenticate over and over again just to access non-critical data is not just super annoying but a crucial usability issue
- Feasible solutions would be: Dramatically increasing the lifetime of the login token (> several month) or even providing a 'keep me logged in' option
-

[2018-07-30 06:15] panther2 commented on #336
@daffy1234 In case that constructed situation occured to you in reality, you could bypass it, by simply giving different (for example) counters, if it really bothered you.

[2018-07-30 07:00] daffy1234 commented on #336
I bring it up because it breaks cryptographic principles.

The average user won't care about the extra options, and will only care about the 3 main options (site, username, password). Though it gets even more practical of an issue when you take the counter into consideration.

Imagine someone signing up with the username "Albert" with default settings. Then their password is breached so they chang

[2018-07-30 11:33] guillaumevincent commented on #236
Hello @tim-peters,
yes definitively I should look at this issue.
I'm a little busy this summer (I'm the father of an adorable little girl)
I will try to find some time soon

sorry for this

[2018-07-30 22:20] kidburglar opened #338 "Possibility to have a default setting for the domain / FQDN option"
Hello,
Sorry to come back with that I took some time to check how lesspass was going.

Related to https://github.com/lesspass/lesspass/issues/199

I see that now there is a suggestion box and that is a nice feature but I saw an little issue.
The suggestion box is only displayed when you type the site and not automatically.

What would be very nice too it's an option to ask which is the default val

[2018-08-03 18:09] xates commented on #336
How about separating the different fields with a newline before hashing?

[2018-08-03 20:57] #337 closed

[2018-08-03 21:23] daffy1234 commented on #336
@xates If it can be guaranteed that newline characters can't appear in the username or site name (which in this case is a reasonable assumption) then that would work.

Another way to go about it is hashing each part individually, concatenating the hashes, then hashing _that_ to get the resulting salt.

[2018-08-04 06:57] SoftwUser commented on #336
That would all be breaking changes.
Though I agree this is a valid issue, it does not justify changes that break all the passwords of existing users, **IMHO**

If unlikely cases as outlined really occurred, I see enough existing options to overcome it.

I mean users have to deal with LessPass' options sooner or later.

[2018-08-04 23:03] daffy1234 commented on #336
Yeah, it definitely would be destructive to mess with the hashing formulas.

One way to go about it in a non-breaking way is provide it as a non-default option. Maybe an on/off slider called "Unambiguous hashing" which is off by default. Maybe with a (learn more) link next to it giving more detail.

[2018-08-05 05:10] SoftwUser commented on #336
Yes, I like that idea.

IMHO: Once a user starts using LessPass he will be forced to care about options sooner or later. And I think "sooner" rather than "later", as the requirement of using options comes in quickly. There still are some websites not accepting every special character, for example. Or there are maybe routines to change the password every two weeks. Or the password my only consist o

[2018-08-06 14:13] guillaumevincent commented on #336
It will break the existing passwords, and this should be fixed in a version 3. This is a bug but it could be consider not so critical because the condition to create a same password for a user is really small.
I let this issue open to fix this in a new version.

Thank you for raising the issue

[2018-08-16 03:41] vuleetu commented on #261
Any updates?

[2018-08-16 20:44] RomainQuidet commented on #261
Hi

I’ve created a native app based on my port of the algorithm in swift. I need some time to test it and release it. I’ll keep you informed of the evolution.

Romain

[2018-08-21 17:53] contactlp opened #339 "Store encrypted metadata locally and allow autofill after entering master password"
I would like to propose new feature which stores encrypted metadata locally and allow auto fill after entering master password.

1. Store metadata locally encrypted/hashed.:
1.a. Metadata will include: URL, login, length, counter,lower character ,upper character ,special character
1.b. each field will be encrypted interdependently, except url and it will be hashed instead of encrypted.
1.c. encryp

[2018-08-22 05:03] roguh opened #340 "Connected LessPass with file system"
I noticed the deterministic password manager [Pain-free Passwords](https://pfp.works/) lets you upload site-specific password settings (like length, revocation counter, and character requirements) to Dropbox. In this way it is possible to use the extension from multiple devices without memorizing every setting. It makes password changes much easier too.

Is it possible for LessPass to upload/read

[2018-08-22 08:58] guillaumevincent commented on #340
This is an interesting idea. I will transform the backend mechanism to allow different type of storage (local storage, API HTTP, or FS)

[2018-08-22 09:13] guillaumevincent commented on #339
Hello,
yes this is a good idea to help users with autoload feature based on the website you are visiting.
There is already this feature with LessPass extension.
Password profiles (metadata) are not encrypted yet.

I will probably split this issue in two issues in the future. But I let it open for further discussion

[2018-08-22 10:41] roguh commented on #340
Thank you! This would be very helpful.

I also envision using such a feature for *printing* a list of password metadata so I could physically store the data somewhere safe.

[2018-08-22 10:42] roguh commented on #12
A useful and innovative project with a great community behind it!

Thank you.

[2018-08-22 13:12] panther2 commented on #340
Sounds great, indeed.

[2018-09-06 08:59] guillaumevincent commented on #145
Yes, you could imagine protecting your authentication to the LessPass Database with your key.
But we can imagine also using the key to generate your master password easily.

I admit this is an area where we need to experiment to see what is possible.

[2018-09-07 16:07] edouard-lopez commented on #340
Worth mentioning we have:
* a FAQ about [What information are saved in LessPass Database?](https://github.com/lesspass/lesspass/wiki/FAQ#what-information-are-saved-in-lesspass-database)
* A [connected mode](https://github.com/lesspass/lesspass/wiki/Private-vs.-connected-mode)
* a manual way to retrieve your profiles is to use lesspass.com and inspect the page Network requests

[2018-09-13 13:55] vauvarin opened #341 "LessPass is no longer compatible with the latest version of "My Cozy Cloud" service"

[2018-09-13 20:47] edouard-lopez commented on #341
Thanks @vauvarin,
Do you have more details about that? (log, error message, etc.)

[2018-09-14 07:51] guillaumevincent commented on #288
I did some experimentation yesterday on this feature:
![fingerprint](https://user-images.githubusercontent.com/943762/45537043-84f71c80-b803-11e8-843e-8bdfe6d0c888.gif)

[2018-09-19 18:21] kemelzaidan commented on #170
I'm having the same issue and it very annoying! And it's certainly not fixed...

[2018-09-20 05:46] guillaumevincent commented on #170
@kemelzaidan I close this one because it duplicates https://github.com/lesspass/lesspass/issues/329
Feel free to open another issue if it's not the same bug

[2018-09-25 17:10] major0 commented on #154
I am aware that this issue is closed, though I admit I ran across the issue in trying to find an easy way to _load_ profiles from a file (for use with phones, browsers, and the CLI tool). I still feel that there is something missing in part of this discussion, or perhaps my use case just mangles this a bit (or I am doing something wrong).

My partner and I use LessPass as a means for sharing authe

[2018-09-25 17:59] guillaumevincent commented on #154
@major0 why not using LessPass Database with the same login?

[2018-09-25 18:29] major0 commented on #154
@guillaumevincent That dawned on me directly after submitting my post... Though I suspect we will be storing backups of the profiles in Keybase still, in case the LastPass database is ever lost.

[2018-09-25 18:46] major0 commented on #154
That raises the question .. and this likely belongs in its own issue.  Would it be possible to support import/export of profiles to/from the LessPass Database for the purpose of backup/recovery?

[2018-09-25 20:14] major0 commented on #154
Found the solution: https://github.com/lesspass/lesspass/wiki/password-profiles-manipulation-scripts

Though it makes me wonder, couldn't this solution be added to the lesspass cli as something like:

[code]

[2018-10-01 04:59] aeosynth opened #343 "[webextension] firefox: hotkey doesn't work when toolbar button removed"
Hi, when I remove the lesspass toolbar button from Firefox, the ctrl+shift+l hotkey doesn't work; maybe it's a browser restriction, I don't know.

When I put it in the overflow menu, it shows with scroll bars:

![scrollbars](https://user-images.githubusercontent.com/75317/46270370-02a57280-c4fc-11e8-9c2c-44bf79678034.png)

using Solus Linux

[2018-10-02 02:33] JLarky commented on #145
@guillaumevincent you can probably use RSA keys like Neokey Pro to store master password or to encrypt the password :) you can also look into OpenKeychain Android app, you can even sign into ssh with it :) with [termbot](https://play.google.com/store/apps/details?id=org.sufficientlysecure.termbot)

[2018-10-03 13:57] lolozere commented on #329
After reading all issues from mozilla, ibus and gnome-shell, I try and fix the problem by applying this package: https://bugzilla.mozilla.org/attachment.cgi?id=8974077

Run:

[code]

And restart Firefox. It should be worked.

[2018-10-17 19:02] fauust opened #344 "Wrong URL on blog"
Hi,
sorry if this is not the right place to report this but URL is not OK on:
https://blog.lesspass.com/lesspass-comment-%C3%A7a-marche-9f1201fffda5

https://github.com/lesspass/core -> 404

Regards,
Faustin

[2018-10-17 19:10] guillaumevincent commented on #344
Fixed
Thank you @fauust

[2018-10-17 19:10] #344 closed

[2018-10-17 19:11] fauust commented on #344
de rien :-)

[2018-10-17 20:03] betsythefc opened #345 "Add LessPass android app to F-Droid"
**related:** #252 #177

---

F-Droid is an open source app store for Android.

From F-Droid's website: https://f-droid.org/en/contribute/

## Submit Applications

If you see an application missing from the repository (after reading the [inclusion policy](https://f-droid.org/en/docs/Inclusion_Policy)), please feel free to submit it via the dedicated [Requests For Packaging](https://gitlab.com/fdroi

[2018-10-18 17:01] betsythefc commented on #345
That works for me! Can't wait to see the new app.

[2018-10-18 17:31] betsythefc commented on #340
I would recommend using git or something similar when storing in any filesystem like backend for version control. It would be cool, though I'm not sure of the usefulness.

[2018-10-18 17:57] betsythefc opened #346 "Increase available password length"
I would like to generate passwords longer than 35 characters. Is the limitation to 35 characters a technical one and could it be increases non-destructively?

[2018-10-19 06:29] panther2 commented on #346
Please see #326 .

[2018-10-19 07:18] #346 closed

[2018-10-24 01:01] virtuallyvlad opened #347 "Storing custom passwords"
Sometimes a service or application will simply provide a password for you to use, without allowing you to generate your own.

Other times a custom password may not be changed, for example if a service or application no longer exists or prevents the change for some other reason.

Is there a way to handle either of these cases assuming you want or need to store these passwords?

[2018-10-31 13:21] edouard-lopez commented on #347
Hello @virtuallyvlad,
This is behing Lesspass scope. Indeed Lesspass is stateless, _i.e._ we don't store password.

For more information, refer to the [FAQ: How does this compare with KeePass?](https://github.com/lesspass/lesspass/wiki/FAQ#how-does-this-compare-with-keepass) or the [blog post](https://blog.lesspass.com/lesspass-how-it-works-dde742dd18a4).

[2018-10-31 13:21] #347 closed

[2018-11-07 21:20] bag-man commented on #339
@guillaumevincent Any updates on this? Autofilling and encryption would definitely win over a lot more users. They are the things holding me back.

[2018-11-09 17:35] betsythefc commented on #185
I'm by no means an expert on security, would it be better to encrypt each string with the password after pbkdf2 and upload/download the json block with the encrypted strings instead of the plain text strings, or to encrypt the whole json block as a unit and upload that?

Here is what I mean (assuming I am not making sense):

[code]

vs

[code]

[2018-11-12 09:02] edouard-lopez commented on #176
Brave now [support Chrome Web store extension](https://github.com/brave/brave-browser/wiki/Roadmap#milestone-4-dev-channel-releasable-builds-for-055x-august-2018), thus LessPass is supported ! :tada:

* [Brave ad-blocking browser gets Chrome's extensions with major new version](https://www.cnet.com/news/brave-browser-getting-closer-to-chrome-including-its-extensions/)
* [The rewrite of Brave named

[2018-11-13 17:08] vpfautz commented on #185
If you encrypt the hole json block. The only Information you can get out of it is the length of the encrypted data. Also changes give you just a information about the length. If the values are encrypted, than you can easily find out if there was a password added, removed or probably even linked, because the other passwords are not reencrypted with another IV.
Another issue is, that if some attacke

[2018-11-18 09:07] Quenz opened #348 "Terminal support for Mac"
The Terminal link on the website links here [here](https://github.com/lesspass/cli#install) to a 404 page.

Is there, or could there be a terminal app for macOS?

[2018-11-18 17:52] guillaumevincent commented on #348
yes, I will update the web site
you can follow the documentation here: https://github.com/lesspass/lesspass/tree/master/cli

[2018-11-22 16:47] guillaumevincent opened #349 "LessPass Pro"
Hello,
two people send me an email about the branch I created called pro. You guys are crazy :+1: :heart:
So instead of responding and copy paste the email, I will create an issue here.

I'm working on an experimental feature right now, that maybe will become available only in a pro version. This is an experience. I don't know if the idea will be viable, so I will experiment and come back later fo

[2018-11-23 09:56] mihira commented on #329
Thanks @lolozere, this worked for me :)

[2018-11-26 09:47] kishaningithub opened #350 "Multiple passwords within a site"
In India, we have banks which have 3 passwords within the same site

1.  Internet banking password
2. Profile password
3. Transaction password

So i wish to be able to use multiple passwords inside the same website. I am very much open to discussions around this and i really ❤️ the idea behind lesspass.

[2018-11-26 13:55] panther2 commented on #350
In case the website does not have different URL for different tasks, you can simply modify your "Login" information for LessPass, such as

1. Kishan Banking
2. Kishan Profile
3. Kishan Transaction

Actually you can enter whatever you want there. Different content creates different passwords.
In case you want don't want to use different "Login-information", just use different counters for different

[2018-12-03 17:40] Enderdead opened #351 "docker install script don't work"
In your docker install script, you use this url : **https://raw.githubusercontent.com/lesspass/lesspass/master/docker-compose.prod.yml**

But this link is broken (error404). Can you update it ?

[2018-12-03 17:45] Enderdead commented on #351
I did a Pull request.

[2018-12-03 19:44] guillaumevincent commented on #351
Hello,
I'm working on a new version right now
The breaking change is normal
See https://github.com/lesspass/lesspass/issues/349

[2018-12-05 07:34] durksi opened #353 "Firefox extension issues"
Hi,
I am currently finding that the firefox extension will not accept my password or my email. App works fine. First the desktop version was working  but the mobile Firefox extension was not accepting my information and telling me it doesn't recognise the username and email. Now the desktop extention is not working either.
please help.

[2018-12-05 08:45] guillaumevincent commented on #353
Hello @durksi,
the firefox extension on Firefox or on Firefox mobile works.
Be sure your email and password are correct and check (on mobile) that the first letter for your email is not capitalized.
This is a bug somebody raise by email, and I will address this in the next version

[2018-12-05 22:13] edouard-lopez commented on #353
@durksi Please check the version you are using on mobile (as of 2018-dec-05 it's `2.0.7`) and `3.1.2` on Firefox desktop.

If you encrypt your master passowrd before sign-in you should do it again:

![lesspassdatabase](https://user-images.githubusercontent.com/1212392/49547557-4b561f00-f8e3-11e8-9fe0-e58c59d71e57.png)

[2018-12-06 03:31] durksi commented on #353
Yes, you're right. Thanks for engaging with my concern and love the app.

[2018-12-06 03:31] #353 closed

[2018-12-12 21:20] #349 closed

[2018-12-12 21:22] guillaumevincent commented on #341
We decided to remove the cozy support. If t's important for you, feel free to create a repo and use lesspass-pure component

[2018-12-12 21:22] #341 closed

[2018-12-12 21:32] guillaumevincent commented on #351
I will merge the PR, I close

[2018-12-12 21:32] #351 closed

[2018-12-12 21:36] guillaumevincent commented on #329
I close, this is a bug related to a broken package on Ubuntu. Feel free to comment the ibus issue

[2018-12-12 21:36] #329 closed

[2018-12-12 21:38] guillaumevincent commented on #343
I don't have the bug on Firefox 56
Can you try again?
It's a Firefox issue no? Do you have the bug with another extension?

[2018-12-12 21:38] #343 closed

[2018-12-12 21:39] #320 closed

[2018-12-12 21:40] guillaumevincent commented on #288
This feature is on production!
Download LessPass version 3.0.2 on Android store

[2018-12-12 21:40] #288 closed

[2018-12-12 21:42] guillaumevincent commented on #316
The feature is present in the Android version
I close, I will implement it in the web extension soon

[2018-12-12 21:42] #316 closed

[2018-12-12 21:45] guillaumevincent commented on #301
The Android version can save your master password locally with your fingerprint. It's not a caching method but similar.
I close this one

[2018-12-12 21:45] #301 closed

[2018-12-12 21:47] danielrozenberg opened #356 "Login to cloud database in Android app v3.0.2 does not support encrypted password"
This feature is missing from the new Android app:
![image](https://user-images.githubusercontent.com/1839738/49900790-91543b00-fe2d-11e8-995e-4145601ad6d3.png)

[2018-12-12 21:48] guillaumevincent commented on #271
I close this one
This is a feature that I will probably never implement because of low priority and not a lot of time.

Interesting discussion btw

[2018-12-12 21:49] guillaumevincent commented on #356
The feature is by default on the sign in form
The option is available in the settings

[2018-12-12 21:49] #356 closed

[2018-12-12 21:50] guillaumevincent commented on #296
It's fixed in the new version of LessPass 3.0.2

[2018-12-12 21:50] #296 closed

[2018-12-12 21:52] danielrozenberg commented on #356
Oops, that wasn't clear to me from the sign-in form due to the different UX between the browser extension and the Android app. Might be worth clarifying that this is happening in the login form, but not that important. Thanks!

[2018-12-12 21:53] guillaumevincent commented on #339
I close this one,
A new feature with autocomplete on password profiles will be implemented and will make this issue obsolete

[2018-12-12 21:53] #339 closed

[2018-12-12 21:55] guillaumevincent commented on #356
Yes definitively, I need to update the web extension and the wiki.
Sorry for this.

I tried to describe it in the help page, and the error message if your sign in fails.

[2018-12-12 21:57] danielrozenberg commented on #356
Admittedly I didn't even try to sign in, because the emojis looked like my unencrypted password and I just assumed it wouldn't work 😇

[2018-12-12 21:57] guillaumevincent commented on #345
The version is live, can you guide me on how to push LessPass on FDroid?

[2018-12-12 22:01] guillaumevincent commented on #350
If you are on the same site, you use 3 different logins no?
@panther2 is right use different login

[2018-12-12 22:01] #350 closed

[2018-12-12 22:02] guillaumevincent commented on #333
It's fixed on mobile
Will be fixed soon on web extension

[2018-12-12 22:05] guillaumevincent commented on #145
I close this one for now
LessPass is developped during our free time. LessPass database don't save some sensitive information. We will probably never have some time for this one. Low priority

[2018-12-12 22:05] #145 closed

[2018-12-12 22:06] guillaumevincent commented on #309
I close, Edge will use chrome engine so it will work in the future!

[2018-12-12 22:06] #309 closed

[2018-12-12 22:08] guillaumevincent commented on #338
A new feature will make this issue obsolete
I close

[2018-12-12 22:08] #338 closed

[2018-12-13 22:30] Rudloff commented on #345
I can take care of writing the F-Droid build recipe.
However, I see the code is now [included in the main repository](https://github.com/lesspass/lesspass/tree/master/packages/mobile). F-Droid usually looks for Git tags to see if a new stable version was released but I suppose this will not be possible here.

[2018-12-14 06:55] guillaumevincent commented on #345
@Rudloff we can add some tag like `mobile-v3.0.2`
is it enough?

thank you for taking care of this

[2018-12-14 08:48] Rudloff commented on #345
It would be very helpful, yes.

[2018-12-14 08:53] guillaumevincent commented on #345
done https://github.com/lesspass/lesspass/releases/tag/mobile-v3.0.2

[2018-12-14 08:56] Rudloff opened #357 "[mobile] Can't find lesspass-fingerprint"
Hello,

When trying to build the new mobile app (6133a19109a36905d0982ab1d2b9894c783f83ec), I get the following Yarn error:
[code]
It seems that `lesspass-fingerprint` indeed does not exist as a published NPM package.

Am I missing something?

[2018-12-14 08:56] guillaumevincent commented on #12
3000 stars!

![happy dance](https://media.giphy.com/media/pa37AAGzKXoek/giphy.gif)

Just thank you :heart:

[2018-12-14 08:58] guillaumevincent commented on #357
yes until I cleaned everything you need to bootstrap the mono repo

    yarn install && yarn run bootstrap

[2018-12-14 09:02] Rudloff commented on #357
It works, thanks!

[2018-12-14 09:02] #357 closed

[2018-12-14 11:01] #305 closed

[2018-12-14 11:01] #328 closed

[2018-12-14 11:05] guillaumevincent commented on #305
LessPass cli move on pypi and this bug is fixed:

    npm -g uninstall lesspass-cli
    python3 -m pip install --user lesspass

:warning:  breaking changes:

 * -c is associated with --copy flag to copy the password
 * -C is associated with the counter (previously -c)

[2018-12-14 11:05] guillaumevincent commented on #328
LessPass cli move on pypi and this bug is fixed:

    npm -g uninstall lesspass-cli
    python3 -m pip install --user lesspass

:warning:  breaking changes:

 * -c is associated with --copy flag to copy the password
 * -C is associated with the counter (previously -c)

[2018-12-14 14:03] edouard-lopez commented on #345
It has been [merged on F-droid](https://gitlab.com/fdroid/fdroiddata/merge_requests/4086) waiting to be published, thanks @Rudloff :heart:

[2018-12-14 14:35] guillaumevincent commented on #345
thank you @Rudloff
 * just for your information package/cli has been removed

We can probably save the file metadata/com.lesspass.android.yml in the source code no?

[2018-12-14 14:41] Rudloff commented on #345
Don't worry, I just removed this folder from the F-Droid build because it contains some binary files and it triggered a warning (and it is not used for building the Android app anyway).

Build recipes always need to be stored in the fdroiddata repository, they are never fetched from upstream.
However, you can host additionnal metada (screenshots, changelog, etc.) in your repository if you want: ht

[2018-12-15 01:30] ghost opened #358 "Dark theme"
My issue is a simple feature request. I'm loving the new React native Android app, but I think it would be really swell if there was an option in the settings for a darker background and UI elements with white text. Also, for devices with OLED displays, the background and as many UI elements as possible should be pure black (#000000) so that those sections of the display are turned off to conserve

[2018-12-15 06:58] edouard-lopez opened #359 "Suggestion block access to other fields"
On beta 3.0.2, when being connected to my account and typing a site, the suggestion cover the _login_ and _master password_ field. Hitting the `enter` key doesn't switch field so I have to find a safe place to touch to make the site field loose focus.

[2018-12-15 07:06] edouard-lopez opened #360 "Fingerprint doesn't toggle password visibility"
On the mobile beta `3.0.2` when I type a master password the fingerprint help me detect any typo I might have done. However, on old version and other platforms touching the visual fingerprint toggle the password visibility.
This is not the case in this version , so every time I make a typo I have to erase everything and start again

[2018-12-15 07:11] guillaumevincent commented on #360
This is expected for security reason. If you can save the master password locally, you should not have some way to get it from a user.

[2018-12-15 07:12] edouard-lopez opened #361 "Field to store master password locally should behave like on main form"
On mobile beta `3.0.2`, when I want to store my master password locally, I'm presented with a simple form field. I can toggle the field visibility and there is no fingerprint to help me verify is what I type is correct or not.

Expectations are the same as the field in the main form.
![img_20181215_081218](https://user-images.githubusercontent.com/1212392/50040307-27ac7a80-0041-11e9-839b-818364f7f

[2018-12-15 07:16] guillaumevincent commented on #361
👍
PS the version is on production

[2018-12-15 07:21] edouard-lopez opened #362 "Prevent invalid value"
In mobile beta `3.0.2` you can put a negative `counter` and `length`. I guess for the counter it can be a possibility yet a strange one, for the length it doesn't make sense to have it.

Current behaviour highlight the fields in red but guiding user by preventing invalid values is a better way.

![screenshot_lesspass_20181215-081546](https://user-images.githubusercontent.com/1212392/50040360-3a737

[2018-12-15 07:56] guillaumevincent commented on #362
On mobile an textinput numeric always return a text. It's difficult to force an integer on the fly.
If you enter 1 for example we display a red box. But maybe you are just going to type 5 for a length of 15.
Imagine the following scenario:
 * you prevent clic on + or - if data will become invalid (length = 35 and you try to clic on + button, nothing append)
 * User enter 1 in the field then decide

[2018-12-15 09:19] coltondrg opened #363 "Saving generated passwords for specific sites on Android"
On Android devices with a fingerprint reader, the new React native version of LessPass allows storing the master password in Android's encrypted data store so the accounts can be unlocked without having to type the password, but I don't really want to do that because I have security concerns relating to Android's encrypted storage and fingerprints as a secure authentication method in the first pla

[2018-12-15 13:39] edouard-lopez commented on #360
This make sense when you store your master password, but it does happen even if it's not stored.

[2018-12-15 13:47] edouard-lopez commented on #362
I was thinking to disable the <kbd>-</kbd> (minus) button when reaching `0` or a set minimal value.

The scenario you describe when all option are disabled is nice, I didn't notice the behaviour.

[2018-12-15 14:04] guillaumevincent commented on #360
So we will introduce different behavior depending on an option. But the relationship between the option and the fingerprint behavior is not easy to understand.
I will try to do some experiments

[2018-12-15 14:21] edouard-lopez commented on #360
I agree changing the behaviour based on a configuration hidden in the Settings tab will make things hard to understand.

Right now behaviour are inconsistent between webExtension/site vs. mobile app. The former allow access to master password for a limited amount of time since we have a timeout mechanism, the latter doesn't have the same timeout mechanism to clear the master password.

If we resto

[2018-12-16 10:54] licaon-kter commented on #345
This can be closed

[2018-12-16 15:30] kidburglar commented on #338
Hello @guillaumevincent

Which feature will help for this issue ?
There is already an issue for the new feature ?

Cheers.

[2018-12-16 16:02] edouard-lopez commented on #345
@licaon-kter the app isn't available yet.

See https://search.f-droid.org/?q=lesspass

[2018-12-16 16:04] Rudloff commented on #345
It is available in the F-Droid client.
I guess the website has not been updated yet.

[2018-12-16 16:09] licaon-kter commented on #345
@edouard-lopez why aren't you using the client? You're missing out app updates...

[2018-12-17 07:30] guillaumevincent commented on #345
Thank you all of you
thank you @Rudloff for your patience and reactivity
:heart:

[2018-12-17 07:30] #345 closed

[2018-12-17 07:34] guillaumevincent commented on #360
For me we should always hide the master password.
Because for simplicity and consistent behavior with and without the fingerprint feature.

Consistency between app will be soon the same, as soon as the react version will replace the web extension

[2018-12-17 07:45] guillaumevincent commented on #338
I'm working on the beta for the issue
It's will be available in early 2019

[2018-12-18 17:54] anjo96 opened #365 "Don't use the Android clipboard"
The idea of LessPass is amazing, but there is a big security issue. If you copy the password, any app can read your Clipboard. You can't easily permit apps to use the clipboard. As soon as you have one closed source app on your phone or don't check every app in detail, you take the risk of giving it your password.

Therefore it would be great if you'd remove the copy option/give an alert if the co

[2018-12-19 15:31] guillaumevincent commented on #360
I close for now, I don't like the inconsistent behavior depending on an option

[2018-12-19 15:31] #360 closed

[2018-12-19 15:49] #361 closed

[2018-12-19 15:49] #362 closed

[2018-12-22 16:20] rodolpheh commented on #90
Did the `desktop` repository disappeared ? I can't find any way to build the electron package anymore.

[2018-12-23 08:01] guillaumevincent commented on #90
Yes I decided to remove the code. I don't have time to maintain the code.

[2018-12-26 08:32] jdeniau commented on #336
@daffy1234 @xates A possibly simpler way is to make a JSON object of those value, and then encode this value.

[code]

It will be then simpler to add other fields to the object if needed.
You could even imagine an option to select wich fields are encoded (but it will probably make the interface really complex ;) )

[2018-12-26 08:35] jdeniau commented on #12
![You're the best !](https://media.giphy.com/media/3oriO6qJiXajN0TyDu/giphy.gif)

[2018-12-26 14:14] sdaro commented on #336
In my opinion there shouldn't be any doubts that this has to be fixed, because @daffy1234 shows us a scenario that is unacceptable in security perspective.

Maybe we should consider to introduce a lesspass algorithm version number and make this as an option available, but not selectable. This value should be saved in the database for every entry separately. Old entries with no version number use t

[2018-12-27 11:59] Pizzacus commented on #336
@sdaro I think it would be simpler to have a checkbox saying "Use Legacy Algorithm", and show a message to inform everyone of the algorithm change to tell them to either change their passwords or check that box when obtaining their password.

That way, LessPass stays stateless: Nothing is saved and you can re-obtain any previous passwords.

Because relying on saving which passwords were generated

[2018-12-27 15:20] edouard-lopez commented on #336
@sdaro We already have an [version number for the algorithm](https://github.com/lesspass/lesspass/wiki/FAQ#what-information-are-saved-in-lesspass-database), only available on the connected mode.
For more info you can have a look at #93, #121 and [`Harmony`'s release note](https://github.com/lesspass/lesspass/releases/tag/harmony) for more info.

Has mention earlier, this has been considered as not

[2018-12-27 15:41] edouard-lopez opened #366 "Add --version flag to the CLI help"
There is no mention of the `--version` when running `lesspass --help`, despite the fact it's supported:

<details>

[code]

</details>

[code]

[2018-12-28 05:52] engrravijain commented on #366
Hello, I would like to work on this

[2019-01-02 10:33] rodolpheh commented on #90
Is there any way to retrieve the latest commit from the `desktop` repository ? I maintain the `lesspass-desktop-git` and got complains recently that the package can't be built anymore because of the code removal.

In case I can get my hands on the `desktop` code, did the algorithm for generating password  has changed or is it only changes related to the client/server communication ? My next questi

[2019-01-03 08:12] guillaumevincent commented on #90
Hello @rodolpheh
sorry for this
you can find the old code in the git history
commit just before the cleanup: https://github.com/lesspass/lesspass/tree/495e8b3323cb3a7f24dce03e4d01158affa8ccf7/desktop
Feel free to fork the source code

[2019-01-03 20:39] edouard-lopez commented on #90
@rodolpheh we have a [CLI package](https://github.com/lesspass/lesspass/tree/master/cli) written in Python that is up-to-date.

[2019-01-04 06:14] rodolpheh commented on #90
Thank you everyone. I've updated the AUR package to reflect this. It is now indicated as deprecated and I recommend users to switch to the new lesspass-cli. I may take some time this week-end to produce a lesspass-cli package for the AUR.

[2019-01-05 15:40] vaibhavsingh1993 opened #368 "Not able to input master password in desktop FF extension"
**Browser Version**: Firefox Quantum 64.0 64-bit
**OS**: Ubuntu 18.04
**Steps to replicate**:
1.) Install lesspass extension from FF   [add-ons marketplace](https://addons.mozilla.org/en-US/firefox/)
2.) Try clicking on *Master Password* form field in the extension. Popup window closes automatically without allowing user to input the Master Password.

[2019-01-05 16:25] 71 opened #369 "Make lesspass.com a PWA"
Making https://lesspass.com a PWA would allow anyone to generate passwords without installing an application, even offline. Since there already is a `manifest.json` file, I think the only step left is adding a service worker to cache scripts / images / pages.

[2019-01-05 18:32] edouard-lopez commented on #369
@71 You can already do it [with the website](http://lesspass.com/)

[2019-01-05 18:35] guillaumevincent commented on #369
Hello,
yes the manifest is not present.
I will see when I will work on the site to add the manifest.
However keep in mind that you should use the web extension instead of the site to generate your password.

[2019-01-05 22:07] vaibhavsingh1993 commented on #368
@guillaumevincent it works, thanks!

[2019-01-06 16:36] edouard-lopez commented on #369
@guillaumevincent on the website we do have a [_manifest.json_](https://lesspass.com/dist/manifest.json). It look like it's being [created by a `gulp` task](https://github.com/lesspass/lesspass/blob/4280872d3cc1e9371b4b6f216380f267a268665a/containers/website/gulpfile.js):

[code]

For the offline part that something different, we could go with [GoogleChrome/workbox](https://github.com/GoogleChrome

[2019-01-07 17:41] esmoak opened #370 "[Feature Request] Built-in text editor for notes"
It would be great to have a way to take notes within the app to list authentication reminders.

Example: I want to remember that site "blahblahdotcom" is using counter 2 in the app, I could notate it in the built in editor. Or if I want to note that I enter "blahblah" without "dot com" when generating a password.

This would be a use at your own risk function, but could greatly improve the usabili

[2019-01-07 20:08] edouard-lopez commented on #370
@esmoak thanks for the interest in contributing.

What you describe, special ruleset, sounds like a use case for the [connected mode](https://github.com/lesspass/lesspass/wiki/Private-vs.-connected-mode). We have a wiki page detailing [what is store](https://github.com/lesspass/lesspass/wiki/FAQ#what-information-are-saved-in-lesspass-database) on the connected mode

[2019-01-08 07:40] guillaumevincent commented on #370
Hello,
yes this is what the connected mode is for.
See the wiki for more information, or ask your question here, we will be happy to answer it
thanks

[2019-01-08 07:40] #370 closed

[2019-01-09 01:18] esmoak commented on #370
Thanks to both of you for your work and input.

[2019-01-12 09:22] eratio08 opened #371 "Building for ARM(rpi) & Docker fails"
Hello,

I wanted to run lesspass with docker on my rpi but sadly the building fails at Step 5
[code]
The images wont run that easy like said in #215

Seems like the package `epel-release` could not be found. Some googleing showed that the repo of that package must be explicitly added for ARMv7 like showed here [https://stackoverflow.com/questions/35925066/epel-repository-for-arm7](https://stackove

[2019-01-12 10:11] edouard-lopez commented on #371
Thanks for the feedback and the time you took to find a solution.

However, building a security software on unsigned, _i.e._ possibly altered, packages don't sound like a good idea.

cc @guillaumevincent

[2019-01-12 10:38] guillaumevincent commented on #371
No this is a bug, let me check with my teammates at Red Hat. I think the solution is to drop epel.

I need to find the appropriate repository with python3. I will reach some devs from the Openshift team.

Thanks for reporting this

[2019-01-12 20:42] salim-b commented on #12
![giphy](https://user-images.githubusercontent.com/20040931/51078264-84379f80-16aa-11e9-96b7-c3505b709e97.gif)

[2019-01-12 22:16] salim-b opened #373 "Make Firefox add-on properly responsive"
On Firefox for Android, the browser extension is not properly fit to the screen size (horizontal scroll bars):

![screenshot_20190112-225700](https://user-images.githubusercontent.com/20040931/51078997-3ecd9f00-16b7-11e9-89d5-16f5d13798f1.png)
![screenshot_20190112-225654](https://user-images.githubusercontent.com/20040931/51079004-442ae980-16b7-11e9-99f4-39608bf4e8d7.png)

I'm on Android 7.1.2 (L

[2019-01-12 23:46] edouard-lopez commented on #373
We have a native android app available [on F-droid](https://f-droid.org/app/com.lesspass.android) and the [Play store](https://play.google.com/store/apps/details?id=com.lesspass.android).
You will have a better experience using it.

[2019-01-13 00:01] salim-b commented on #373
I know, thanks. But I think the browser add-on is more convenient since one
1. doesn't have to switch apps while browsing,
2. the domain is auto-filled.

[2019-01-13 16:56] edouard-lopez commented on #373
Thanks @salim-b, last time I check Firefox mobile integration was a looong time ago (`v1`) and autocomplete wasn't working.

[2019-01-14 00:26] 3bagr opened #374 "Android app generates different passwords than website"
I like the idea here but the android app generates different emoji and passwords than the firefox plugin and website.

[2019-01-14 02:38] edouard-lopez commented on #374
@guillaumevincent I replicate with:
* webextension: `3.1.2` (site as same fingerprint)
* Android `3.1.0`

[2019-01-14 02:47] edouard-lopez commented on #374
@3bagr upgrading to `3.1.1` on android solve the issue, it's available PlayStore (seems  F-droid take some time to build new version).

[2019-01-14 06:08] guillaumevincent commented on #374
Yeah, I will add some tests to avoid that in the future

[2019-01-14 21:19] guillaumevincent commented on #371
@eratio08 I will test this when I will get back a rpi

Can you test https://hub.docker.com/r/centos/python-35-centos7/ and see if you can run python-35-centos7 container?

[2019-01-15 00:41] 3bagr commented on #374
I downloaded 3.1.1 and the problem persists. I am using spaces in my master password.

--
 Securely sent with Tutanota. Get your own encrypted, ad-free mailbox:
 https://tutanota.com

Jan 14, 2019, 2:47 AM by notifications@github.com:

[2019-01-15 04:06] djerrystyle opened #375 "Unified Naming rules"
In "Site" column:
`<auth method>/(<service>)/<target>/<(c-company,h-home)>/<encrypt salt>`

**eg:
ssh/1.1.1.1/c/this is linux
rdp/1.1.1.1:3389/c/this is my windows
sso/google/h/none
sso/cloud/google/h/none
sso/driver/google/none
web/youtube/h/use in home
ldap/company_A/c/none**

ALL IN ONE:(create password policy)

web/jumpserver/c/nice_|username123|password123|a-z/A-Z/0-9/%!@|20/10
-> mapping fun

[2019-01-15 07:06] guillaumevincent commented on #374
@3bagr space in master password works properly
can you give us an example with **faked data**?
You can send an email at contact(at)lesspass.com if you don't want to send it here

[2019-01-15 07:13] guillaumevincent commented on #375
Hello,
I don't understand what your are trying to report;

Can you give us more context?

Look like you want a cli in the web component?

[2019-01-15 21:10] edouard-lopez commented on #375
@djerrystyle

Once you have generated a password, you can share the profile/settings used to create it. You will get a link with all the settings preset like

![share your password with lesspass](https://user-images.githubusercontent.com/1212392/51209994-e514e100-1911-11e9-8f54-6115948468ee.png)

[2019-01-16 10:59] #374 closed

[2019-01-19 11:00] torstenmarek opened #376 ""Private Key" similar to Password Hasher Plus"
I've been a user of Password Hasher Plus for many year, but I'm looking into a different solution, mostly to have a synced version of the password settings. However, Password Hasher Plus has the extra option of generating a private key. This private key is

- hashed into every single password
- never typed in, just stored in local storage

It guards against accidental exposure of the password, a m

[2019-01-22 17:05] meehanman commented on #376
I feel as though this wouldn't increase the security of LessPass.

I can see how you would think that this additional key would help with additional exposure if you accidentally entered the LastPass into another malicious website or someone was looking over your shoulder while having the password visible on the screen.

..but this additional step would restrict the "Stateless" aspect of "LessPass

[2019-01-23 07:44] guillaumevincent commented on #376
Hello,
@meehanman is right, this additional key will make LessPass less stateless. But it could be an option for people who want to increase the entropy of the generated password.

So I'm not against this idea, but it should be optional.

For this I prefer the mobile solution with the fingerprint. Nothing is visible except the 3 icons.
And you don't have to type your password, only one click.

[2019-01-25 18:49] beli3ver commented on #261
@RomainQuidet could you put your app at TestFlight than all can test it.

[2019-01-29 08:08] RomainQuidet commented on #261
Hi @beli3ver public beta on TestFlight is not so easy, I need to pass Apple's review. For that I need to finish a v1 of my app.

[2019-01-31 21:19] zorbakus opened #381 "Provide a truly offline independent app"
Currently you can only install a CLI, install an Android app, install a Firefox addon... but these are all dependent on their presence in the cloud and once installed, are tied to one specific device. I would like to have a truly standalone version of LessPass that I can copy to external drive and launch in whatever environment because I would feel more secure that way .What if website gets taken

[2019-02-01 12:57] zorbakus commented on #381
Oh, I didn't realize you can download .apk itself from F-Droid. Also thank you for your other inputs.
#Closed

[2019-02-01 13:56] guillaumevincent commented on #381
Save it with Firefox,
Yes the icon are not working because your browser expect font to be statically rendered
So you need a web server

[2019-02-01 13:56] #381 closed

[2019-02-02 06:42] AliAzizAhmed opened #382 "Getting Error while Installing Lesspass on Self Hosted Server"
Bonjour LessPass Team,

I am having issues while installing a self hosted lesspass server as there are no relevant documents available to do it, therefore appreciate your support in it.

Server/Protocol Details:
**OS: Centos 7
docker-compose version 1.23.2, build 1110ad0
docker-py version: 3.7.0
CPython version: 2.7.5
OpenSSL version: OpenSSL 1.0.2k-fips  26 Jan 2017**

I have installed the docker

[2019-02-02 22:49] AliAzizAhmed commented on #382
Hi @guillaumevincent,

Thanks will wait and hope it comes out soon.

Thanks
AAA

[2019-02-03 09:46] earlcray commented on #318
hello all i am experiencing the same error? any fix for protonmail users?

[2019-02-03 09:48] earlcray opened #383 "cannot reset password"
https://github.com/lesspass/lesspass/issues/318

Am receiving the same issue as above, I am a protonmail user also.

[2019-02-04 08:34] guillaumevincent commented on #383
@earlcray I will look in detail at this issue soon. I don't know why protonmail don't like emails coming from [AWS SES](https://aws.amazon.com/ses/)

I need to check if DMARC is correctly configured

[2019-02-05 01:50] AliAzizAhmed commented on #382
Hi @guillaumevincent,

Thanks I have update it and below is the output, I was able to successfully install lesspass, now can you let me know how to get it working with my browser? I am looking for a document but couldn't find any on the subject.

I try to open my Linux box IP in the browser but nothing comes up but the message appears that IP didn't send any data. I am new in using the Lesspass st

[2019-02-05 10:23] edouard-lopez commented on #382
No need to be `root` to install lesspass CLI, this should solve the `$PATH` related warning.
Otherwise, add `/root/.local/bin` to  the root user `$PATH` as show in the error.

I'm  it sure why you try to install the CLI, the self-hosted container are here to provide a backend and database to store your saved profiles.

[2019-02-05 10:31] edouard-lopez commented on #382
The current readme is only addressing the CLI install.

:warning: I haven't tested this since I'm on my mobile.
What you want to do to install the self-hosted servers is something like :

[code]
Then connect to your containers ip on port `80` or `443` for HTTPS.

[2019-02-05 10:45] AliAzizAhmed commented on #382
Hi @edouard-lopez,

**I forgot to add the below abstract in my previous one,**

[root@localhost home]# python3 -m pip install --user lesspass
Requirement already satisfied: lesspass in /root/.local/lib/python3.7/site-packages (6.1.0)

**After running the suggested git clone I get the a permission deny, [Permission denied (publickey).
fatal: Could not read from remote repository.], please see below

[2019-02-05 11:23] Rudloff opened #384 "Master password is auto-capitalized"
Hello,

When entering my master password on the Android app (version 3.1.1), the keyboard wants to start with a capital letter, which is annoying.

I think `autoCapitalize="none"` is missing here: https://github.com/lesspass/lesspass/blob/e526584d690e92beef8eb59006b5b33031f21533/packages/mobile/src/password/MasterPassword.js#L54

[2019-02-05 13:43] guillaumevincent commented on #382
Wait a little before installing anything from source code, as I said, the work is in progress.
As @edouard-lopez said the containers are in the containers folder of the lesspass source code.
Clone https://github.com/lesspass/lesspass and play with it.

Are you familiar with git and docker and docker-compose?
If no wait a little before we provide a one liner installer.

[2019-02-05 14:30] edouard-lopez commented on #384
Hi @Rudloff
Are you sure of the version, I can't reproduce on `3.1.1` on Android `8.1.0`.

* Can you check version from in-app `settings` **and** Android app information ?
* Did the behaviour change after an update or something?

[2019-02-05 14:35] Rudloff commented on #384
I confirm I am using 3.1.1 (from F-Droid) on Android 7.1.2.
I always had this behavior since I started using the React Native app (with 3.0.2 I think).

[2019-02-05 14:46] edouard-lopez commented on #384
@Rudloff my bad, you are correct, I **reproduce with Android native keyboard**, SwiftKey Beta Keyboard behave differently.

[2019-02-06 11:51] christophercrouzet opened #386 "Reducing Keystrokes"
Hello,

I only recently started looking into password managers and decided to choose LessPass in the process, for which I am really happy with so far, and grateful for.

Using LessPass (and probably other password managers?) takes a bit more time to log into each account but I understand and accept it. That being said, I would like to share with you a couple of UX ideas that could possibly help mi

[2019-02-06 17:01] panther2 commented on #386
@christophercrouzet

Well said, LessPass is much more than "only" a website-tool. I use it for **everything** that requires passwords.

[2019-02-07 01:06] earlcray commented on #371
any updates with this issue?

[2019-02-07 08:07] guillaumevincent commented on #371
For now there is no centos7 ARM image on dockerhub, so maybe we need to choose another base image for LessPass containers

[2019-02-07 09:42] guillaumevincent commented on #386
Hello,
thank you for this issue :heart:

You are addressing a lot of points.

 * autocompletion: yes we should create a configurable behavior to help user to have the better experience. I personally remove the `www.` all the time.
 * copy after generation is mandatory only because of Firefox (Firefox dev if you read me!) Firefox copy api refuse to copy text in an asynchronous function. This is abs

[2019-02-07 11:27] #384 closed

[2019-02-07 11:32] guillaumevincent commented on #375
No input from OP
I close

[2019-02-07 11:32] #375 closed

[2019-02-07 13:06] guillaumevincent commented on #384
It should be testable in 15 min in LessPass 3.1.2 beta

[2019-02-08 16:09] betsythefc commented on #383
Hey, I also have protonmail and haven't been able to change my password as well. Just a heads up that it affects other protonmail users too.

[2019-02-11 10:24] christophercrouzet commented on #386
Thanks for taking the time to reply, @guillaumevincent!

By no mean do I understand the specifics here and I trust you to know (much) better but I couldn't help looking at the code out of curiosity and found both the `generatePassword()` and the `copyPassword()` functions from the lesspass-pure module. Module which is sadly not available on GitHub anymore?

From there, it seems that you are using

[2019-02-12 21:58] 0x2b3bfa0 opened #387 "Hardware authentication token"
Well, after reading #145 I decided to implement a proof of concept using an Atmega-32u4 development board in HID emulation mode to automatically enter the master password. This approach is totally unsafe, because there are no real security measures beyond the obscurity of the encoding scheme used, but the idea may be adapted to a more secure standard.

![ezgif com-video-to-gif-2](https://user-imag

[2019-02-13 09:34] guillaumevincent commented on #387
Whaou! Nice demo :)

In a recent interview I spoke about the integration of a hardware key to avoid entering the master password. I like the idea. I think we can dig deeper to move in that direction.

[2019-02-13 16:22] 0x2b3bfa0 commented on #387
Thanks!

Another idea is to use the hardware key as a second authentication factor, allowing somewhat weaker master passwords in combination with a unique salt stored in the device. This would avoid relying only on the key as the only security measure. In case of loss would be possible to supply the seed through a manually typed mnemonic phrase.

Please take a look to this repository: https://gith

[2019-02-13 17:10] 0x2b3bfa0 commented on #336
Even would be possible to single-round hash each field, concatenate the results and process them.

[2019-02-15 08:24] guillaumevincent commented on #383
@soleera yes this is definitively an issue with LessPass configuration.
I checked the SPF and DKIM configuration.

I'm using the default FROM email from AWS. I will need to configure it correctly using contact@lesspass.com as default FROM email

[2019-02-15 10:19] guillaumevincent commented on #383
It should be fixed now, the came from the mail from `'LessPass <contact@lesspass.com>'` doesn't work because of the simple quote. Remove the simple quotes and LessPass can send some emails now.

[2019-02-15 10:19] #383 closed

[2019-02-15 13:16] 0x2b3bfa0 opened #388 "Android application allows generating a password without filling the site and login fields"
The Android application allows generating a password without filling the site and login fields. I don't know if this behavior is a bug or a feature, but should be consistent across all the implementations.

[2019-02-15 13:52] 0x2b3bfa0 opened #389 "Proposal for a new incompatible algorithm"
I would like to write down some ideas for a possible future algorithm, improving some parts of the existing one.

* Hashing of the master password along with a master password counter value and then hashing the result along with the site-specific information: this would allow to store the master password in hardware keys and trusted platform modules without disclosing the plaintext. If the hash we

[2019-02-15 17:31] guillaumevincent commented on #389
We can open the discussion here about the version 3 for LessPass.

We should speak about replacing pbkdf2 by argon2. And we should talk about the behavior for the site field (autocompletion and autofill)

For hardware key, maybe we can instead store a hash used in combination with the master password. It will allow us to add the key in configuration for the webextension for example

[2019-02-15 17:32] guillaumevincent commented on #388
It's a feature and only the web extension need to be fixed no?

[2019-02-15 20:23] Komish opened #390 "[cli] adding password length cap to help output"
Given #326 - It might be helpful to new users to add information as to the cap on password length as it was a bit confusing on my first use of the tool.

From:

[code]

To something like:

[code]

I'm not sure what kind of impact a change like this would have on the other lesspass use cases, but figured it would save some new users a few clicks.

In addition, would it be beneficial to print out a

[2019-02-15 21:01] 0x2b3bfa0 commented on #388
🐛 I don't know if it's a bug or a feature. What do you think?

[2019-02-15 23:18] edouard-lopez commented on #390
Thanks @Komish

In the web extension UI, the `length` is already capped at `35` characters.

Feel free to [submit a PR](https://github.com/lesspass/lesspass/blob/60dfaa8ba3f3a12526b296200c8f2e5b2a7f9b9d/cli/lesspass/help.py#L34) we would be happy to review it.

[2019-02-15 23:27] Komish commented on #390
@edouard-lopez understood, I'lll take a look as time allows!

[2019-02-17 10:46] #390 closed

[2019-02-17 16:19] Komish opened #392 "[cli] Making use of ArgParse to handle Validator and Help Output"
While working on #390 / #391 I noticed that the help output is produced statically [here](https://github.com/lesspass/lesspass/blob/master/cli/lesspass/help.py). The [validator](https://github.com/lesspass/lesspass/blob/master/cli/lesspass/validator.py) is (for the most part) also handling mutually exclusive options at the command line.

ArgParse should be able to handle both of these bits without

[2019-02-18 20:55] Komish opened #393 "[cli] site field allowed to be blank string when using --prompt"
While playing around with what I would need to do to implement #392, I noticed that utilizing `--prompt` will allow for an empty string to make it to the profile.

Version information for reference:

[code]

Confirming SITE is otherwise a required argument:

[code]

Reproduction just requires leaving the `Site: ` prompt empty by hitting Enter.

I added some printlines debugging to test, so you'll

[2019-02-19 05:49] Komish commented on #392
I've got some code staged that I think accomplishes this [here](https://github.com/Komish/lesspass/commit/53226800779bcbc8803b3e04f70657a242d49264). I'm holding the PR for now to make sure there is interest for this kind of change.

If you prefer I just submit the PR (or PR draft) and submit a text changelog/summary to evaluate if this is something you'd want to do, let me know and I'll submit the

[2019-02-19 07:57] guillaumevincent commented on #392
Thank you Komish for the work on the cli.
You can submit the PR.

With a quick look at the code I see some issue:

 * clipboard option is for retro compatibility but I want to hide this option from the help.
 * code multually exclusive group should be together. add arguments right after the group creation.
 * Use description from __initi__.py in cli.py

[2019-02-19 08:02] guillaumevincent commented on #393
We should decide if empty site is a bug or a feature.
Because LessPass is better than the same password everywhere, you should enforce at least a non empty string in the site field.

Wdyt?
Makes sense?

[2019-02-19 08:03] guillaumevincent commented on #388
We are going to be consistent everywhere and enforce at least the site field. Login field can be empty.

So it's a bug, I will fix that

[2019-02-19 08:04] guillaumevincent commented on #393
See https://github.com/lesspass/lesspass/issues/388#issuecomment-465027271

[2019-02-19 10:19] ghost opened #394 "[Enhancement] Firefox addon scrolling"
If you click on the LessPass Firefox addon icon, the small window that appears needs to be scrolled to the right each time just to see the emoticons and far-right buttons, even if Firefox is maximized. This is quite inconvenient and can't be changed as this addon has no settings. Please make it possible for that window to appear in full size.

[2019-02-19 11:21] edouard-lopez commented on #394
**related:** #373, #165

---

Hi @zorbakus,
thanks for the feedback, could you give more info on the version you are using?

* firefox version
* lesspass version
* a recording (with [peek](https://github.com/phw/peek), [gifcam](http://blog.bahraniapps.com/gifcam/) or equivalent)

### My Behavior
I don't have any scroll on Firefox `66.0b8 (64-bit)` with Lesspass `3.1.2`

![lesspass-scrolling](https

[2019-02-19 14:32] Komish commented on #393
I'm in agreement. I'm of the opinion that **none** of the fields should be left blank - but I believe I read an earlier bug that was reported indicating that the LOGIN field could be left blank and that was by design. At the very least, a site and a master password should be required.

That said, I'm noticing that `--prompt` also allows for an empty master password, I'm not sure if this is intende

[2019-02-19 14:47] Komish commented on #392
Will do, PR coming shortly.

[2019-02-19 15:11] davidbgk opened #396 "Profiles and CLI"
Hey there,

I plan to use it within my team of trusted coworkers. But we don't want to use a web interface for this so my plan would be to add a way to export profiles from CLI as JSON files, share them using a private git repository and be able to import it when asking for a password from another machine with the same rules.

If I understand correctly, it would add two options to the CLI like `-P

[2019-02-19 16:30] edouard-lopez commented on #396
@davidbgk , that sounds like a nice feature addition.

However, did you explore the possibility of self-hosting the backend/db on your network? This will let you use web or mobile application without the need to manage syncing.

[2019-02-19 23:02] davidbgk commented on #396
@edouard-lopez thanks for your answer! I'm always a bit reluctant to let that kind of information transiting across the network, maybe at some point we will host it somehow but I'll let the need grow first :)

[2019-02-19 23:44] kidburglar commented on #396
Good idea, I only know "pass" for sharing password between a team.
It a mix of GPG and git, but it work as "storing information" so it not really work when we want use password generation based on website like "lesspass" or "passwordmaker".

Maybe it could be also a good idea to add the possibility to encrypt the information with GPG (or password) so that only some people can access it ?

[2019-02-20 09:20] guillaumevincent commented on #396
@kidburglar we can start with a default big json file passed as parameter of the cli?
If you want to encrypt it, you can use the cli to decrypt it on the fly and use it automatically no?

[2019-02-20 09:41] kidburglar commented on #396
@guillaumevincent
It was more like "that could be a good idea". I never tried actually.

You mean something lilke that "decryp myfile | lesspass-cli --profile -" ?
It's true that it could be a good enough and so we can use any encryption method that we want.

[2019-02-20 10:14] #392 closed

[2019-02-20 10:14] #393 closed

[2019-02-20 14:11] guillaumevincent commented on #396
yes exactly

[2019-02-20 15:58] guillaumevincent commented on #394
![image](https://user-images.githubusercontent.com/943762/53104975-9372fe00-3530-11e9-8c70-8d9ab9734a7a.png)

same for me,
what is your operating system and version of Firefox?

[2019-02-20 21:09] guillaumevincent commented on #387
Wdyt about using yubikey challenge response authentication to protect the master password with the yubikey?

[2019-02-21 06:51] tripurari001 commented on #373
I think the scrollbar is because

`    body {
      width: 420px;
      height: 460px;
    }`

present in popup.html

to fix this we can add another property
`max-width: 100%`

[2019-02-21 07:08] tripurari001 commented on #373
but I am not sure how to setup the repository and test it ( can't find any docs related to that )

[2019-02-21 08:02] edouard-lopez commented on #373
Have a look at _.travis.yml_ to see [how to run the tests](https://github.com/lesspass/lesspass/blob/master/.travis.yml#L45-L59).

We will be happy to review your PR :+1:

[2019-02-21 11:35] 0x2b3bfa0 commented on #387
I think that the Yubikey challenge-response authentication is superfluous when used along with stateless, client-side password managers. If the asymmetric cryptography is done on the client side with an universal key pair, anybody who can plug the hardware device and has access to LessPass will be able to reveal the secret value (be a master password, a salt used as a second factor or whatever oct

[2019-02-22 03:52] AliAzizAhmed commented on #382
Hi @guillaumevincent,

When is the new source code expected to be available?

Thanks
AAA

[2019-02-22 06:18] guillaumevincent commented on #382
Because it's a pet project, I work on it when I have some time. So for now I don't have any date.

You can look at the old docker-compose.prod.yml at the root directory

[2019-02-22 20:59] zorbakus commented on #394
I figured out what causes the issue - hiding the addon's icon in Firefox's overflow menu. When I put it next to address bar, it displays fully. But anyway, I'm using Linux Mint 19.1 64-bit, with Firefox 65.0.1

[2019-02-23 08:37] egara opened #400 "[Feature Request] Add tags to LessPass saved profiles"
Hi!

First of all, I'm impressed about LessPass. It is amazing a the concept is a great idea. Thank you very much for your time to develop such a nice tool.

I would like to propose a feature request. I have several gmail accounts and I have saved a profile for every one of them. It would be very useful to have the possibility to tag every profile, i.e. you can tag **Personal Gmail** for my gmail

[2019-02-25 11:21] edouard-lopez commented on #394
@zorbakus I was susptecting this was the cause as I met the issue a few months back. However, I can't reproduce with:
* Lesspass `3.1.2`
* Firefox `66.0b9` 64-bit (beta)
* Linux Mint 19 Cinnamon.

![lesspass-overflow-menu](https://user-images.githubusercontent.com/1212392/53333294-bcf7a500-38f5-11e9-95a9-7ed71409617b.gif)

Firefox seems to have fixed the issue in its next version. Either install `

[2019-02-25 11:27] edouard-lopez commented on #400
Hello @egara,
You can use `Personal Gmail` or `Work Gmail` as your _login_ value instead of an email or username. I do this myself for _personal_ versus _family_ account.

You're free to use whatever you want in the _login_ field, not necessarily and email, _e.g._ `work:foo@bar.org`, `foo@bar.org`, `me`, `Édouard Lopez`, etc.

[2019-02-25 11:48] egara commented on #400
Hi @edouard-lopez and thank you for your response! :)

It is a kind of work around but still, I think it would be great to have a specific field for adding a tag. This field could be searchable (right now, I think the only searchable field in the Android application is site) and would help to find the specific entry easily if you have a lot of profiles stored.

Best,

Eloy

[2019-02-25 13:52] guillaumevincent commented on #400
Hello @egara,
we need to keep in mind that I try to encourage every features that increase the stateless form of LessPass. Saving some tags is great and will improve the user experience.
I like the idea. Will see if we can include this in the roadmap.

[2019-02-25 13:52] guillaumevincent commented on #394
Ok we can close this one no?

[2019-02-25 14:03] guillaumevincent commented on #387
@0x2b3bfa0 is there a way to use the "easy to type master password" (can we call this the pin) to get a secret saved in the secret key?

For example:

 1. I entered `1234` pin in the master password field
 2. I activate the hardware key. It get the `1234` from the master password field and enter the corresponding string (`abcd`) and hit enter.
 3. the password is generated with `1234abcd` as maste

[2019-02-25 14:10] egara commented on #400
Hi @guillaumevincent

Thank you very much :)

And again, I think this project is amazing. I discovered it in the interview you had in The Ask Noah Show a few weeks ago.

Keep up the good work and thanks for the time all you are investing in the project.

Best,

Eloy

[2019-02-26 16:04] #371 closed

[2019-02-26 16:04] #388 closed

[2019-02-26 16:21] guillaumevincent commented on #373
Hello,
this will be fixed in the future, I close this one because it's already fixed in the WIP [here](https://github.com/lesspass/lesspass/blob/master/packages/lesspass-web-component/src/LessPass.js#L39)

[2019-02-26 16:21] #373 closed

[2019-02-28 20:27] fxnn commented on #157
If I understand you correctly, you comprise security for user friendliness. To me, when talking about a password app, which is meant to improve security in the first place, that's a very questionable decision.

Especially, your third argument is fatal. Security always arises from a combination of measures. Nothing bad will happen when a malicious app is installed on my device, because that's what

[2019-02-28 21:25] guillaumevincent commented on #157
Lastpass form autofill was the cause of the biggest flaws in the application.

Security is always a compromise between security and usability.

We can create an issue to find a secure way to transfer generated password from LessPass to another app.

[2019-02-28 22:02] fxnn commented on #157
Thank you for your answer, and sorry, I was unclear about the autofill point. I didn't refer to web autofill, where websites captured data using hidden fields, but to Android autofill, which to my knowledge [can be used in a secure way](https://www.xda-developers.com/password-manager-autofill-api-data-leak/) to transfer passwords, and is even meant to do so.

Would this be, from your point of view

[2019-03-01 00:16] 0x2b3bfa0 commented on #387
@guillaumevincent: there isn't any standard and broadly supported way of establishing a bidirectional communication between web pages and USB devices.

About your suggestion, I would like to point a few thoughts (which can be discussed):

- The easy to type master password `X` should be a bit better than `1234` in any case.
- If the secret stored in the hardware key is the result of passing a mnem

[2019-03-01 06:12] guillaumevincent commented on #157
Yes I not against improving the security of LessPass if we don't loose to much usability.

Feel free to create an issue for this one
Cheers

[2019-03-01 06:15] guillaumevincent commented on #387
1234 was just an example, but yes I was thinking about a small password.

Thanks for your additional information

[2019-03-02 21:12] heuzef opened #401 "Not able to input master password in desktop FF extension (Fedora)"
Hello guys :smiley_cat:

I follow the #368 because i have the same.

But i use Firefox 63.0.3 (64 bits) on Fedora and my ibus package is up to date : ibus-1.5.17-6.fc27.x86_64

What can i do for fix this ?

Thanks for this amazing project & support ! :+1:

[2019-03-03 08:07] guillaumevincent commented on #401
I don't have the issue on Fedora 29
Let me check

[2019-03-03 08:45] heuzef commented on #401
Thanks :) (I'm on Fedora 27).

`
Linux x240 4.18.19-100.fc27.x86_64 #1 SMP Wed Nov 14 22:04:34 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
`

[2019-03-03 12:21] guillaumevincent commented on #401
My guess is that you are using X server instead of Wayland right?

[2019-03-03 12:55] 0x2b3bfa0 commented on #387
Resuming all the discussed implementation proposal details: given the current state of the art, we are probably limited to the use of a hardware token as a second factor of authentication, but we should allow to use it as the only factor of authentication if the user chooses to.

As stated previously, I would suggest a generalist seed feature with the following behavior:

- The user is free to use

[2019-03-03 13:20] 0x2b3bfa0 commented on #389
Note to self: replacing PBKDF2 by another function is already discussed on #56, but we should take in account the browser support for heavy libraries and the use of polyfills.

[2019-03-03 16:53] heuzef commented on #401
Hmmm ... right :wink:

`
loginctl show-session 1 -p Type
Type=x11
`

[2019-03-03 21:57] collectorgeneral commented on #394
@guillaumevincent Unfortunately, the problem still persists for me and is rather annoying. I tried it on the latest firefox and on Windows/Linux. As soon as the extension is in the overfill menu, the UI decides to go bonkers. Its really odd.
![peek 2019-03-03 17-55](https://user-images.githubusercontent.com/15972594/53702469-b5486c80-3ddd-11e9-9f40-2db455542519.gif)

[2019-03-04 08:33] guillaumevincent commented on #394
@collectorgeneral which version of Firefox do you use? On Linux the latest version is version 65.

It's fixed in version 66. Install the beta or wait for the version 66. It's a Firefox bug.

[2019-03-04 08:42] guillaumevincent commented on #401
I think the patch is fixed upstream. So I don't know why you got this error (maybe upgrade are not on Fedora 27). I'm on PTO right now. I can check with my teammates at the end of this week.
You can use the workaround in #368 or use Wayland.

[2019-03-04 23:07] collectorgeneral commented on #394
@guillaumevincent I used both 65 and 66 beta I downloaded from Mozilla. I opened Firefox using a new profile and it still does the same thing. I have not tried using the Arch Linux repo version yet, but I am not sure if it will make a difference.

[2019-03-05 19:52] guillaumevincent commented on #394
Hum,
Let me do some tests at the end of the week
Sorry for this

[2019-03-09 18:45] Bannerets opened #402 "Visual fingerprint in the CLI app"
Visual fingerprint is a very useful feature to me. Currently CLI app doesn't show a fingerprint.

i'd be happy if the app would show emoji as you type, something like this:

[code]

Probably there should be a cli option to disable/enable fingerprint.

[2019-03-11 08:37] guillaumevincent commented on #402
ahah it would be awesome, but not easy to do.
We need to find a way to update cli on the fly and find a way to get font awesome icon in cli.

[2019-03-11 09:19] edouard-lopez commented on #402
Love the challenge it poses 👍

Updating the CLI means rewriting it, that's doable with `printf` and `\b` (backspace) or `\r` (carriage return).

There is Web service to create your own font out there (e. g. Font moon or something like that), we can create one with just fontawesone set then ship it with the code. However I don't know if and how we can use this just for our output or is it global to

[2019-03-11 09:23] edouard-lopez commented on #402
This [can I change default fonts for a shell?](https://superuser.com/q/72950) indicates there is no font in shell outside the one from the terminal app they run in.

[2019-03-13 09:53] laurentriffard opened #403 "Lesspass app : can't save password options"
Hi,
it seems that the lesspass app can't save the password options…

Test case :

- install Lesspass app on your smartphone
- in the app, sign in into your Lesspass account
- use the app to generate a password
  - fill "Site", "Login", "Master Password" fields
  - set some password options. For example : uncheck "Symbols" checkbox, set a specific length
  - touch the "Generate" button, then touch

[2019-03-13 20:51] edouard-lopez commented on #403
@laurentriffard thanks for the feedback

@guillaume20100 I reproduce on `3.1.2`

[2019-03-19 10:23] tripurari001 commented on #369
Hi

I would like to work on this
is anyone already working on this one ??

[2019-03-20 13:41] guillaumevincent commented on #369
Hello @tripurari001
I plan to transform the web site and use gatsby. Maybe it will be fixed when making the new site?
I haven't started the migration yet. But you can work on this if you want

[2019-03-21 20:03] #403 closed

[2019-03-21 20:04] guillaumevincent commented on #403
It will be fixed on LessPass 3.1.4
ping @Rudloff how we can update the FDroid app to the latest version?
Thanks and sorry for this bug

[2019-03-21 20:08] guillaumevincent commented on #401
I close.
The issue is in another upstream project.
The only workarounds I see are listed in #368 or here

I think there is no backport for older fedora release. So feel free to update to the latest release and see if ibus is version 1.5.19 (latest one)

[2019-03-21 20:08] #401 closed

[2019-03-22 08:15] Rudloff commented on #403
Someone needs to add a new section to the metadata. For example: https://gitlab.com/fdroid/fdroiddata/merge_requests/4596

We also have an auto update system but it does not work when the version code/name is dynamic: https://github.com/lesspass/lesspass/blob/83ddc2e4ce0d5396171a194ff754147996463aeb/mobile/android/app/build.gradle#L106

[2019-03-22 08:51] laurentriffard commented on #403
Hi,
Got Lesspass 3.1.3  from FDroid yesterday.
I’ll wait for version 3.1.4…

[2019-03-26 18:46] thenhustey opened #404 "Android: Web login process improvement suggestion"
Hello, at first - thanks for a nice manager.

I have a suggestion for better usability on Android.

How I imagine filling a login form:

1. Open login page in a browser and share it to LessPass (it shares a link in plaintext)
2. LessPass uses this link to fill a domain input (maybe it could be done without leaving the browser (like adding link to Pocket)
3. Fill a login into an input on the login

[2019-03-28 10:41] edouard-lopez commented on #404
Hello @thenhustey

If you use firefox mobile and lesspass addon you get the site autofill mechanism for free :tada:

[2019-03-28 19:54] skjorrface commented on #332
I'm having the same problem as well under archlinux trying to create superuser, with .env password matching $DATABASE_PASSWORD, the following docker-compose logs -f output when issueing the createsuperuser command:

`db_1        | FATAL:  password authentication failed for user "postgres"
 db_1        | DETAIL:  Connection matched pg_hba.conf line 95: "host all all all md5"`

docker ps output:

`

[2019-03-28 20:21] edouard-lopez opened #405 "Pypi documentation is missing"
![Selection_240](https://user-images.githubusercontent.com/1212392/55189757-d31bae00-519e-11e9-8d54-4cf1f2589fc0.png)

Might be due to #395 refactor of `setup.py`

[2019-04-01 06:59] guillaumevincent commented on #332
@skjorrface what code are you using?

[2019-04-02 14:42] skjorrface commented on #332
@guillaumevincent I just cloned the repo and executed ./install-lesspass.sh

I also tried with latest release of just "web-extension" but same results. What may I be doing wrong?

[2019-04-03 07:36] guillaumevincent commented on #332
Hello,
this is a work in progress: https://github.com/lesspass/lesspass#wip
Do no try to install it right now, it wont work
Sorry for this

[2019-04-03 20:18] praxiq commented on #404
Are you sure about that? The wiki clearly states that there is no autofill feature in the extension anymore: https://github.com/lesspass/lesspass/wiki/FAQ

Android Oreo has [an autofill API](https://developer.android.com/guide/topics/text/autofill) for password manager apps. Integrating that into LessPass would be wonderful, and ought to be more secure than auto-filling with a WebExtension.

[2019-04-04 15:43] guillaumevincent opened #406 "AMO LessPass Web Extension issue on Firefox"
Hello,
I have some trouble with the review process done by Mozilla. One reviewer try to understand the source code, ask irrelevant questions. Because I don't have any time at the moment (I'm finishing to build my new house) the addons was disabled from AMO.

I need to do some extra work to have the addon published again.
If you have some error in the password generation check that you use a web ex

[2019-04-04 18:07] edouard-lopez commented on #406
You could also use the website: https://lesspass.com/

[2019-04-04 19:51] guillaumevincent commented on #406
I submitted a version 3.1.5 with a new policy

Mozilla you need to understand that your review process is so bad!

[2019-04-04 19:51] #406 closed

[2019-04-07 20:01] edouard-lopez opened #407 "Merge powershell implementation into main repository"
**related:** https://github.com/edouard-lopez/lesspass-powershell/issues/15

---

### Goal?

Merge `PowerShell` implementation into main repository.

### What?

* Source code: https://github.com/edouard-lopez/lesspass-powershell/
* Module: https://www.powershellgallery.com/packages/Lesspass/

### Why?

* make powershell implementation officially part of the project
* have a simple place to declare

[2019-04-07 20:36] edouard-lopez opened #408 "Password length lower or equal to number of rule throw: ZeroDivisionError: integer division or modulo by zero"
If one were to specify a password length lower or equal to the number of rules used, one will see an error

    ZeroDivisionError: integer division or modulo by zero

### Reproduce

1. Two rules: `lowercase`, `digits`
1. Password length: `2`

Fails

[code]

If a length of `3` it succeed:
[code]

[2019-04-09 06:28] guillaumevincent commented on #407
:+1:

[2019-04-11 09:25] ElieKadoche commented on #402
Instead of updating the visual fingerprint as we type, could it be simplest to just display the visual fingerprint at the end? If We are wrong we just need to do it again.

[2019-04-11 09:43] Bannerets commented on #402
Updating the fingerprint as we type isn't a problem, one should just output `\r`. However with it usage of `getpass.getpass` shouldn't be possible, and because of this the fingerprint should be optional.

I didn't think about font-awesome. As far as I know, there is no portable way to render custom fonts.
One possible solution is to print ASCII-art of an emoji, but it is far from ideal.

[2019-04-11 18:40] ehanoc opened #409 "Generation on android vs chrome extension is different"
With the same exact same inputs (site, login, master psswd + options, length, counter) the generated password is different.

Can someone re-test and verify?

chrome extension : 3.1.2

android app ver : 3.1.5

[2019-04-11 19:57] edouard-lopez commented on #409
Can't reproduce, Verify you don't have capital on first letter.

### Test
* site: `a`
* login: `b`
* master password: `c`

**Firefox `3.1.6`:**

    v3~>C"q'=|4wG,]/

**Chromium `3.1.2`:**

    v3~>C"q'=|4wG,]/

**Android `3.1.5`**

    v3~>C"q'=|4wG,]/

[2019-04-11 19:57] #408 closed

[2019-04-11 20:01] guillaumevincent commented on #409
tested also with counter > 10 and everything is fine

[2019-04-11 20:12] ehanoc commented on #409
@guillaumevincent i figured out what's wrong.

When choosing the login and user on android. If you take the suggestion from the keyboard, it adds a whitespace at the end.

Perhaps as an improvement would be good to trim the inputs? Better UIX?

Thanks man

[2019-04-11 20:40] edouard-lopez commented on #409
We should not temper with user input as it might be a choice to have a space. However, we can notify him if there is a space at the beginning/end.

[2019-04-11 20:45] #409 closed

[2019-04-12 13:00] reyqn opened #414 "Delete account from lesspass"
So I just started to use lesspass and I created my account to store profiles a little too quickly.
Thing is I used my masterpassword to login (without encrypting it).
Is there any way to delete my account? Or to change my password?

Also I tried the android app, which by default encrypts the password when you login, thus the encrytped password didn't match the non-encrypted password I used to crea

[2019-04-12 19:12] guillaumevincent commented on #414
Send me an email @ contact@lesspass.com with your email for an account deletion or reset your password for a password reset

[2019-04-12 20:52] #414 closed

[2019-04-13 06:29] MichaelWehar opened #415 "Variations of the Less Pass Algorithm that are Human Computable"
Is there a variation of the Less Pass algorithm that is human computable.

For example, I don't ever want to type my master password into the computer.  I would like to do the computation in my head.

[2019-04-15 06:23] edouard-lopez commented on #415
That's _possible_…

However, that's **not a realistic approach** as it will take you a huge amount of time to compute your password. Indeed, [the algorithm](https://www.wikiwand.com/en/PBKDF2) manipulate [massive number](https://github.com/lesspass/lesspass/blob/cf252b57101670c769c02c8818e89321daea20c2/cli/tests/test_password_generation.py#L141), conversion from/to hexadecimal and we repeat comput

[2019-04-15 06:23] #415 closed

[2019-04-15 06:50] MichaelWehar commented on #415
Thank you very much for the thoughtful reply!

If I understood correctly, then I think that you made a really good point that I hadn't thought of before.  :)

Repeatedly applying a function (such as a hash function) one hundred thousand times to a password makes it more difficult for the brute force attacker to figure out the password because (at least naively) the brute force attacker would have

[2019-04-15 13:55] jdeniau opened #416 "Android App crashes on sign in"
Hi,

When login in on the latest Android app, the app crashes and closes every time.

It worked fine with older version of the app.

App version : 3.1.5

[2019-04-15 14:47] jdeniau commented on #416
In order to debug, here is the return of `adb logcat`:

[code]

I do not think it is really usefull then 🤔

[2019-04-15 15:22] guillaumevincent commented on #416
Fix is coming :)

[2019-04-15 15:25] #416 closed

[2019-04-15 15:52] guillaumevincent commented on #416
Fixed on version 3.1.6 on beta

[2019-04-15 16:59] jdeniau commented on #416
Fix is working 😉

Thank you

[2019-04-15 17:11] guillaumevincent opened #417 "Web extension workflow"
Hello,
what do you thing about the following workflow for the web extension ?

1. right click in a password field in a page
2. click on LessPass in the context menu item
3. open a password field and ask for user master password
4. generate the password
5. close the popup
6. fill the password in the password field

workflow with shortcut

1. ctrl + shift + L
2. open a pop up and ask for user master

[2019-04-15 17:18] guillaumevincent commented on #417
ping @edouard-lopez

[2019-04-15 19:20] panther2 commented on #417
@guillaumevincent
How would that influence the current implementation?
Would it be an add-on or a replacement?

Personally, for my use cases, I need the freedom to enter whatever I want in the current input boxes.

[2019-04-16 04:47] betsythefc commented on #376
I would really like to see this as an addition to the master password entered, definitely optional. However, I would not want this implemented with the current syncing system, until the database is encrypted end-to-end #185

[2019-04-16 04:49] betsythefc commented on #185
@guillaumevincent, you mentioned encrypting the profiles with the "master password" after a pbkdf2. By "master password" do you mean the account password or the password that is added to the other attributes to create the hash?

I've worked a lot with python, some with encryption. I'd love to help build this out.

[2019-04-16 09:31] edouard-lopez commented on #417
### Context Menu
I rarely use context menu as I do most of my manipulation with keyboard and such menu item are difficult to reach IMHO (right click, arrow up/down till you reach the right entry).

### :heart: Shortcut
Plugging the current shortcut to this new behaviour will greatly reduce those friction and ease transition to existing user.

### Simplified dialogue?
You speak only of master passw

[2019-04-16 14:12] guillaumevincent commented on #417
@panther2 the current implementation will not change and we will add a new feature in the context menu.

@edouard-lopez the simplified dialogue is something we need to reach. We are obliged today to click into the copy button and then click into the password field on the site, send click enter.

[2019-04-16 14:37] guillaumevincent commented on #185
This is not an easy one because:

 * we need to change the backend implementation to save a list of strings, one string corresponding to a password profile encrypted (AES-encrypted blob).
 * we need to store a derivation key in the database for a user
 * we need to migrate the actual passwords profiles, we need to wait for the users to log in, ask him the master password and encrypt the profiles w

[2019-04-18 08:27] kidburglar commented on #338
Hello @guillaumevincent

There are updates about the new feature ?
Maybe I could try it and tested it ?

Cheers.

[2019-04-19 10:08] mariuccio90 opened #419 "Change default port"
Hi wonderful team,

in my environment port 80 and 443 are already in use by Nextcloud;
I found that these 2 ports are in use in:

[lesspass/install-lesspass.sh](https://github.com/lesspass/lesspass/blob/master/install-lesspass.sh)
`docker run -it --rm -p 443:443 -p 80:80 -v $PWD/letsencrypt:/etc/letsencrypt/ certbot/certbot certonly --standalone --noninteractive --quiet --email $EMAIL --agree-tos

[2019-04-19 10:31] guillaumevincent commented on #419
Hello,
IIRC certbot doesn't work on other ports.
Certbot is use to refresh ssl certificates.
I'm working right now on the new containers.
I will see if it's still the case

[2019-04-19 10:32] guillaumevincent commented on #338
A blog post is coming and will explain the future of LessPass with the new feature

[2019-04-19 11:23] mariuccio90 commented on #419
Thanks for the answer!
in my opinion the best alternative would be to use a reverse proxy.
for nextcloud i am using [This](https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion)

so we might need to add these two ENV into Lesspass configuration:
`-e VIRTUAL_HOST=your.domain.com \
              --network=webproxy \`

Do you think it's feasible?

[2019-04-19 12:36] guillaumevincent commented on #419
@mariuccio90 looking at docker-compose-letsencrypt-nginx-proxy-companion

[2019-04-22 18:17] teohhanhui commented on #414
The UX around the master password / encrypted password for lesspass.com is still really bad and confusing. Using the master password directly should really not be an option, as using your master password as lesspass.com account password is a huge security risk!

What should happen:

Register:
1. User enters email and master password.
2. User clicks on Register.
3. Password is generated from master

[2019-04-22 19:09] guillaumevincent commented on #414
@teohhanhui you are speaking about the web component or the mobile app?
Because what you describe is exactly what is on the mobile application.

The master password should never leave the client. If you use the old system you need to encrypt manually your master password by clicking on the "ecnrypt my master password", or use a plain password.

I'm rewriting the web component to be like the mobile

[2019-04-22 19:10] guillaumevincent opened #420 "Improve the UX around the master password / encrypted password"
The UX around the master password / encrypted password for lesspass.com is still really bad and confusing. Using the master password directly should really not be an option, as using your master password as lesspass.com account password is a huge security risk! (An attacker who has access to the lesspass.com database can brute-force your password, even with a salted hash.)

What should happen (for

[2019-04-22 19:10] guillaumevincent commented on #420
This work is in progress

[2019-04-22 19:11] guillaumevincent commented on #414
see  #420 @teohhanhui

[2019-05-02 18:52] kidburglar commented on #338
Hello @guillaumevincent

Do you have an ETA about it ?
I don't want push you, but I must say that I'm really curious about this new mysterious feature.

Cheers.

[2019-05-06 09:47] mariuccio90 commented on #419
Hey @guillaumevincent do you have any update on implementation?
Thanks a lot!

[2019-05-06 14:32] guillaumevincent commented on #419
Still working on it https://github.com/lesspass/lesspass/commit/407668671c6bab4b385c5a0d455be1d07cc97051

[2019-05-06 17:09] mariuccio90 commented on #419
let me know if you need testing!

[2019-05-07 11:30] robp2175 opened #421 "backend_1 | nc: getaddrinfo: Name does not resolve Trying to use external postgres server"
I am trying to use an external postgres server, but I keep getting nc: getaddrinfo: Name does not resolve when I startup the containers. My compose file is below and my env file.
[code]

[code]

[2019-05-07 12:06] guillaumevincent commented on #421
Hello @robp2175
this is a WIP https://github.com/lesspass/lesspass#wip

The work is not yet finished
Maybe DATABASE_HOST should be a hostname, not an ip

[2019-05-07 12:06] #421 closed

[2019-05-07 12:08] robp2175 commented on #421
I tried with the hostname first, only tried the ip to troubleshoot.

[2019-05-07 14:38] guillaumevincent commented on #421
inside the backend container the hostname should be reachable

    docker exec -it lesspass_backend_1 sh
    ping HOSTNAME

[2019-05-07 19:13] guillaumevincent commented on #421
your are not using the good docker-compose right?

[2019-05-07 19:21] robp2175 commented on #421
I am using the docker-compose exactly as you see above. I removed the db and the niginx containers because I want to use an external db and I already have an nginx container

[2019-05-07 19:21] robp2175 commented on #421
I can successfully ping my DB host from within the container.

[2019-05-07 19:34] guillaumevincent commented on #421
the new docker compose use version 3 https://github.com/lesspass/lesspass/blob/master/containers/docker-compose.yml

[2019-05-07 22:01] robp2175 commented on #421
Thank you, success connecting to the database. Thank you for the help.

[2019-05-07 23:19] robp2175 opened #422 "webserver_1 | /app/entrypoint.sh: line 23: python: command not found"
webserver unable to find python, and therefore unable to create lesspass.conf.
Using latest https://github.com/lesspass/lesspass/blob/master/containers/docker-compose.yml

Thank you.

[code]

[2019-05-09 06:12] guillaumevincent commented on #422
Hello @robp2175 ,
still the same as #421 this is a work in progress, so it doesn't work yet
Wait for the message on the README to be removed

[2019-05-09 06:12] #422 closed

[2019-05-10 14:53] guillaumevincent commented on #338
Here we are https://blog.lesspass.com/lesspass-default-password-profiles-99e4d01dec5

[2019-05-10 14:55] guillaumevincent opened #423 "LessPass Default Password Profiles"
https://blog.lesspass.com/lesspass-default-password-profiles-99e4d01dec5

I will update the code to:

I open the discussion for any feedback here

[2019-05-10 19:20] Kcchouette commented on #423
I don't know if LessPass web is a success, it's sad to not have news about existing service LessPass occurs (even by having the number of downloads etc).

---

 - Here my feedback: To my mind, SaaS was a mistake. And it's a mistake.
I know that society wants more and more data about people, it's sad that even small projects want to do the same...
Yes, I know, doing data analytic with metadata ("we

[2019-05-11 06:54] panther2 commented on #423
What about the countless use-cases where LessPass calculates passwords totally unrelated to a website?

Honestly? That would be terrible. Again, LessPass is not limited to "(web)-sites" - personally I need its flexibility given by those options. Or maybe (as I hope) I have misunderstood the concept...

[2019-05-11 07:30] guillaumevincent commented on #423
In term of user experience, it's bad to have to change the options to use only 6 numbers for https://ing.fr/. If you are on the ING website, you probably want to have those options selected for you.

@panther2 what is your concern regarding the password generation for non website? It won't change, you will be able to use LessPass as today. You will just have a way to select the custom rule for stu

[2019-05-11 08:13] panther2 commented on #423
@guillaumevincent

Thank you for clarifying that. To me it sounded as if you intended to somehow simplify LessPass by reducing functionality. I am glad I misunderstood that. No more concerns fro my side, then.

[2019-05-11 11:26] kidburglar commented on #423
Hello, thanks @guillaumevincent  to take time to write the blog post.

I'm not a big fan about data sending, but there is an option to desactivate it so why not.

Why not, but how will be the list updated ? If it work as the existing ad blockers it would mean that there will be public list and the possibiity to override theses list with personal one ?

At end, I think that what is happening is mak

[2019-05-11 14:23] guillaumevincent commented on #423
Probably like in ad blockers, a public repository on GitHub with base domain name and the profile. Maybe I'm wrong but a locally database will be huge. We'll see

[2019-05-11 15:14] kidburglar commented on #423
Same if the database is huge I think it would be better that using the network for each use of Lesspass.

Also, if they are not locally it would prevent to use the feature if we are offline or if the repository is not reachable.

[2019-05-13 09:08] edouard-lopez opened #424 "Fingerprint scanner component not working"
When using mobile app `3.1.6` on an android device, the fingerprint icon from the _master password _ field on the main view doesn't work anymore. Previously it opened a _touch sensor_ dialog to scan one's fingerprint.
Same issue on the _sign in_ view.

[2019-05-13 09:15] edouard-lopez opened #425 "Firefox addon is disable"
On a android mobile device, when trying to use lesspass addon `3.1.6`, on Firefox Beta, it's disabled with a warning message :

After uninstalling the addon to try to reinstall it I was hit with the message

Im not sure if both errors are related or not as I was poor connection at the moment, so the latter might be due to low connectivity.

[2019-05-13 10:12] guillaumevincent commented on #425
https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

[2019-05-14 14:40] edouard-lopez commented on #425
Don't look like it, I'm on Firefox Beta `67.0` which is supposed to be already fixed

[2019-05-15 12:02] Kcchouette commented on #425
I don't have this problem with Firefox mobile beta (67.0b18; see about:firefox)

[2019-05-15 12:28] edouard-lopez commented on #425
I managed to re-install the addon from AMO, and the extensions works fine.

Still on the same Firefox version `67.0`.

[2019-05-15 12:28] #425 closed

[2019-05-22 13:04] edouard-lopez commented on #424
A temporary solution is to use [F-droid to install Lesspass](https://f-droid.org/packages/com.lesspass.android/) as you can choose a specific version (e.g. `3.1.3`).

[2019-06-03 06:10] #424 closed

[2019-06-03 06:24] #423 closed

[2019-06-03 06:29] #417 closed

[2019-06-03 10:07] edouard-lopez commented on #424
Fix version is `8.0.2`, you need to re-enable the fingerprint settings.

[2019-06-04 16:23] lucabalsanelli opened #429 "pip lesspass fails to work (hangs up) in interactive mode in CygWin"
lesspass -p or lesspass --prompt is not working in CygWin.

[2019-06-04 18:10] guillaumevincent commented on #429
lesspass --help
lesspass --version
python --version
?

[2019-06-04 20:15] lucabalsanelli commented on #429
$ lesspass --help
read :)

$ lesspass --version
8.0.1

$ py -3.7 --version
Python 3.7.3

$ uname
CYGWIN_NT-10.0

[2019-06-05 08:51] guillaumevincent commented on #429
so `lesspass a a a` don't print anything right?
or it's just the prompt that is not working?

[2019-06-05 10:06] edouard-lopez commented on #429
@lucabalsanelli could you be more explicit about the **expected behavior** and **actual behavior** you observe?

[2019-06-05 11:44] lucabalsanelli commented on #429
@guillaumevincent

`lesspass a a a` works as expected.
`lesspass -p` doesn't work as expected. Please see below the reply to edouard-lopez.

@edouard-lopez The expected bahaviour, as seen in other terminals like Gnome terminal or PowerShell is this:

[code]

The actual behaviour with the CygWin terminal (Mintty) is this

[code]

[2019-06-05 12:29] guillaumevincent commented on #429
Ok so the issue is with Cygwin and stdin (see https://stackoverflow.com/questions/13588454/invoking-python-under-cygwin-on-windows-hangs)

can you try `winpty lesspass -p`

[2019-06-06 08:26] lucabalsanelli commented on #429
I do not have `winpty` and as far I understand there aren't binary builds and it needs to be compiled. It will take me some of my free time to learn how.

I never dealt with pseudo-terminal (or never realized it), and I just found this python package

[ptyprocess package](https://pypi.org/project/ptyprocess/)

Is this useful in this regard? Does any pseudo-terminal do the job?

[2019-06-08 21:19] kocio-pl opened #430 "Website: Terminal and Cozy Cloud links are broken"
Hi,

In the _Supported Platforms_ section on the [website](https://lesspass.com/#/) there are links to a "Terminal" and a "Cozy Cloud" versions of LessPass, however these links are broken now:
- https://github.com/lesspass/cozy#install
- https://github.com/lesspass/cli#install

Obligatory screenshot :wink:  :

![Screenshot_2019-06-08 Build software better, together](https://user-images.githubuserc

[2019-06-08 22:01] kocio-pl opened #431 "Firefox extension: permanent "share" tooltip"
In the Firefox extension (Firefox 67.0.1 on Ubuntu 18.04, LessPass 3.1.6) after clicking the second icon from the right ("share") the tooltip is being displayed as long as the form resets and it obsfucates the password field, no matter what I click.

The interesting effect is that this tooltip comes back after generating new password, even if I try change any data in this form, as long as I stay i

[2019-06-09 16:07] edouard-lopez commented on #431
I reproduce in `68.0b8 (64-bit)`:

* generate password ;
* click `share` button

Now you can't toggle password visibility as the button is covered.

### Workaround

* We still have access to the `copy` button, we should be able to see what the password is ;
* The tooltip disappears once the extension's panel is closed.

[2019-06-09 16:22] edouard-lopez commented on #430
Thanks @kocio-pl for the feedback.
The CLI has been rewritten in Python and a Powershell port is also available:
* Python: https://pypi.org/project/lesspass/
* Powershell: https://www.powershellgallery.com/packages/Lesspass/

We no longer support Cozy cloud (see #341).

The site need to be updated.

[2019-06-09 21:42] kocio-pl commented on #431
BTW: what is this link useful for? I could not see any password profile (encrypted or not) this way, just a LessPass website.

[2019-06-11 09:54] edouard-lopez commented on #431
The idea is for you to be able to share a password profile so you only need to type the master password. In [this example](https://lesspass.com/#/?passwordProfileEncoded=eyJsb2dpbiI6ImFzZCIsInNpdGUiOiJnaXRodWIuY29tIiwidXBwZXJjYXNlIjpmYWxzZSwibG93ZXJjYXNlIjp0cnVlLCJudW1iZXJzIjp0cnVlLCJzeW1ib2xzIjp0cnVlLCJsZW5ndGgiOjIyLCJjb3VudGVyIjoxLCJ2ZXJzaW9uIjoyfQ%3D%3D), I changed:
* login to `asd`
* disable u

[2019-06-11 10:00] kocio-pl commented on #431
I understand the idea of password profiles and I use it (community templates for popular sites would be great!), but I wonder what can you do with this link?

I don't see this profile in a browser or downloading via curl (I guess this might be what this link is all about), there's only LessPass webpage, so maybe something is broken?

[2019-06-11 10:01] kocio-pl commented on #431
Oh, wait! It is there, I was just fooled, because it looks similar to the webpage... Thanks!

[2019-06-11 11:34] kocio-pl commented on #431
Well, it's not so simple...

- I can see your profile
- I can share my settings too when I don't use saved profiles
- If I start with a saved profile (or just accept site name hint), the link shows a blank profile

The other problem is that this link is only available when you type in the password and it does not matter which one, because the link is the same (and it makes sense, since profile is

[2019-06-11 15:44] guillaumevincent commented on #431
this is not a bug, I don't want to polute the main ui with too many actions

[2019-06-11 15:51] kocio-pl commented on #431
OK, I see.

What do you think about void links for saved profiles?

[2019-06-11 18:57] guillaumevincent commented on #429
@lucabalsanelli I don't know
To be honest I don't have a lot of time to debug windows cygwin issue.
If you are a developer could you try to play with getpass from python ?

https://docs.python.org/3.7/library/getpass.html

See if ptyprocess solve your issue. Fill free to update this issue.

[2019-06-12 09:16] lucabalsanelli commented on #429
thanks for the hints I'll try to do my best in my free time and update the
issue once found some solution or workaround

On Tue, Jun 11, 2019, 20:57 Guillaume Vincent <notifications@github.com>
wrote:

[2019-06-13 14:41] apopiak commented on #301
sorry for re-opening, but:
@guillaumevincent would you be open to a PR adding this?

[2019-06-13 15:29] guillaumevincent commented on #301
I am divided for this issue. At the same time I like the idea as sudo to save the password temporarily to reuse it right after. But I know that there is no way to save securely the master password accessible only by the web extension on the browser.

How do you plan to save the master password from the web extension?