[2019-06-13 16:03] apopiak commented on #301
What about hashing it with (part of) the settings? You'd have to prompt again on settings change, but that's uncommon so you'd get about 80% there.

[2019-06-13 17:37] guillaumevincent commented on #301
I mean, where do you want to save the master password? Localstorage ? Cookie? All those data are not safe

[2019-06-14 11:13] guillaumevincent commented on #431
I don't understand, void links?

[2019-06-14 11:14] kocio-pl commented on #431
I mean this problem:

[2019-06-16 02:34] kocio-pl opened #435 "Translating "Search" label"
Is translating "Search" label possible?

Changing this line:

https://github.com/lesspass/lesspass/blob/master/packages/lesspass-pure/src/views/Passwords.vue#L21

into:

[code]

does not work even if I added this line:

[code]

into `en.json` file and I'm not sure if this is doable or it just needs something more.

[2019-06-16 18:25] guillaumevincent commented on #435
If you want to add a translation field, you need to run `npm run build:i18n`.
It will update all i18n lang files with the key.

[2019-06-16 18:35] kocio-pl commented on #435
After this action I get this result on http://0.0.0.0:8000/#/passwords (when I lick on the "key" icon):

![Screenshot_2019-06-16 LessPass](https://user-images.githubusercontent.com/5439713/59568064-ce67e700-9075-11e9-9a30-ed4bc7d21c51.png)

Main form (on the http://0.0.0.0:8000/#/ ) is fine and properly translated:

![Screenshot_2019-06-16 LessPass(1)](https://user-images.githubusercontent.com/543

[2019-06-16 18:38] kocio-pl commented on #435
I also get this error message in the terminal, but I'm not sure what to do with it:

[code]

[2019-06-16 18:47] guillaumevincent commented on #435
maybe `:placeholder="{{$t('Search')}}"` instead of ` "placeholder="{{$t('Search')}}"`

[2019-06-16 18:50] kocio-pl commented on #435
Now the error is different:

[code]

[2019-06-17 07:04] guillaumevincent commented on #435
yes sorry

`:placeholder="$t('Search')"`

v-bind expect a function

[2019-06-17 10:09] kidburglar commented on #423
Hello @guillaumevincent

Sorry to bump an closed issue, but what does happen exactly with the profiles idea ?
It's now implemented ?

Cheers.

[2019-06-17 10:30] guillaumevincent commented on #423
@kidburglar the feedback wasn't good, so to be honest I stopped what I was doing and continue to clean the code. I'm still working on migrating the web component into a React app.

So nothing done actually regarding this feature. I'm not completely sure I will do it as described in the blog post.

[2019-06-21 00:44] pbaity commented on #333
Has this bug re-appeared (or the design changed)? If the expected behavior when opening the lesspass web extension on a site with multiple logins is:

It's not working for me anywhere I've tested (on Firefox 67 and Chrome 75, Windows 10 and Mac). The extension seems to pick one (whichever is at "the top of the list," I guess?) and always display it, so I have to replace the login manually.

(PS th

[2019-06-21 06:45] guillaumevincent commented on #333
It's not fixed on the web extension

[2019-06-29 00:03] #431 closed

[2019-06-29 20:02] nathansizemore opened #438 "CLI Installation Needs Help"
[code]

I'm sure it has to do with some weird Python 2.7 v 3 stuff.

Windows 10 using WSL.

[2019-07-01 00:00] nathansizemore commented on #438
After running the command again, it installed.

[code]

[2019-07-01 12:31] guillaumevincent commented on #438
@nathansizemore maybe you just need to restart your terminal after an install
So I close

[2019-07-01 12:31] #438 closed

[2019-07-01 12:35] #405 closed

[2019-07-02 07:52] jones137 opened #439 "Feature Request: blank website field by default"
It would be nice if you included a setting to have website's field blank by default in browser addons. I use custom names for my websites and selecting and deleting it every time is tedious.

[2019-07-02 08:42] guillaumevincent commented on #439
I will work on this during the summer
This is a good idea

[2019-07-02 18:14] ianpan870102 opened #440 "Minor grammar mistake"
The title of [this official blog post](https://blog.lesspass.com/lesspass-how-it-works-dde742dd18a4) should really be "How Does It **_Work_**" instead of "How Does It **_Works_**"

[2019-07-05 12:35] FaustXVI commented on #333
I would be happy to try to fix this.
Also, there is no way to distinguish between two accounts. What do you think of adding some info in the auto-complete (like the login or the index if the order guaranteed to be always the same) ?

[2019-07-05 14:24] guillaumevincent commented on #333
@FaustXVI the distinction can be done with site + login no?

[2019-07-05 15:36] #430 closed

[2019-07-05 18:21] FaustXVI commented on #333
Yep, totally! Sorry if that wasn't clear in my previous message.

Xavier Detant

On Fri, 5 Jul 2019, 16:24 Guillaume Vincent, <notifications@github.com>
wrote:

[2019-07-08 00:30] kocio-pl commented on #431
Hi, there was no answer about the second problem I mentioned. Should i open new issue for this or maybe do something else?

[2019-07-08 06:19] guillaumevincent commented on #431
Feel free to open another issue
thank you

[2019-07-08 20:27] javs opened #441 "Auto complete gets url field out of sync"
Seems there is a bug with selecting entries from autocomplete:
![bug](https://user-images.githubusercontent.com/316502/60840120-c09d1180-a19c-11e9-8d3d-c49a1d4a849a.gif)

Note that the two password generations are with the same input data: "domain.com", "user", "password", yet they generate different passwords depending on the method used (i.e. typing "domain.com" vs deleting a character and then

[2019-07-12 21:45] pbaity commented on #441
This is basically a guess (still learning Vue), but it might be that [there's no `v-on`](https://github.com/lesspass/lesspass/blob/master/packages/lesspass-pure/src/views/PasswordGenerator.vue#L17) on the `PasswordGenerator.vue` listening for the input event [emitted in `InputSite.vue`](https://github.com/lesspass/lesspass/blob/master/packages/lesspass-pure/src/components/InputSite.vue#L52), where

[2019-07-16 06:57] guillaumevincent commented on #440
Fixed thank you

[2019-07-16 06:57] #440 closed

[2019-07-16 09:51] FaustXVI commented on #333
@guillaumevincent, I think I spotted the faulty line : https://github.com/lesspass/lesspass/blob/bf89ce2c7ab3a1d8158754e884c7428515273e0d/packages/lesspass-pure/src/components/InputSite.vue#L64
I am able to run the unit tests using `yarn test`, but can't run the e2e test :( When I run `yarn test:e2e` in the lesspass-pure package, I got :
[code]
and I can't find a command that runs the e2e tests in

[2019-07-16 10:29] guillaumevincent commented on #333
@FaustXVI can you create a pull request to fix this?
Feel free to add some tests that works for you
If e2e tests are failing, I need to fix this
Thank you

[2019-07-16 14:49] #435 closed

[2019-07-16 14:52] guillaumevincent commented on #429
I'm closing this one
It's more a cygwin issue than a LessPass issue
I don't want to add extra code to handle this specific error

[2019-07-16 14:52] #429 closed

[2019-07-16 14:53] guillaumevincent commented on #407
I close this one, reopen when you will start the work

[2019-07-16 14:53] #407 closed

[2019-07-16 15:32] lucabalsanelli commented on #429
ok

I still have to try winpty. Anyway it would be enough to just provide
specific documentation on how to make it work in CygWin.

On Tue, 16 Jul 2019 at 16:53, Guillaume Vincent <notifications@github.com>
wrote:

--
Luca Balsanelli

[2019-07-18 06:25] #333 closed

[2019-07-18 19:42] #441 closed

[2019-07-18 19:45] guillaumevincent commented on #369
I close this one, because I have no plan doing it right now.
Feel free to create a PR if this is important to you

[2019-07-18 19:45] #369 closed

[2019-07-18 19:49] guillaumevincent commented on #340
Hello,
I close this one because it's similar to https://github.com/lesspass/lesspass/issues/396
File system is only relevant for the cli not for the backend.

[2019-07-18 19:49] #340 closed

[2019-07-18 19:52] guillaumevincent commented on #419
docker-compose-letsencrypt-nginx-proxy-companion is too complicated and only useful to refresh certificates without downtime. I plan to remove the certificate generation from LessPass.
It's up to the admin system to manage his certificates and share them to the container.
I will define a way to change https port used by docker

[2019-07-18 19:52] #419 closed

[2019-07-18 19:54] guillaumevincent commented on #394
I can't reproduce this one
Closing

Feel free to give me a way to reproduce it, I will try to fix it

[2019-07-18 19:54] #394 closed

[2019-07-18 20:01] guillaumevincent commented on #404
@praxiq do you have a demo of the pocket feature you talked about?
I'm interesting about improving the workflow on android!

[2019-07-19 09:28] Unkn0wn-MDCLXIV commented on #261
@RomainQuidet
Any news on that app?

[2019-07-19 11:44] jeromecst opened #446 "No more "Copied" box showing up when copying any password"
I'm using Firefox 68, Lesspass v9.0

I think it is a bug.

[2019-07-19 11:51] guillaumevincent commented on #446
@jeromecst nice catch
Copy is still working

[2019-07-19 13:57] #446 closed

[2019-07-19 16:54] #386 closed

[2019-07-19 16:54] #439 closed

[2019-07-19 16:55] guillaumevincent commented on #439
I need to do more test to see if the compromise (hitting backspace) is acceptable.
I would love to have your feedback on this one

[2019-07-19 20:27] 0xhtml opened #449 "Add auto login again"
The automatic login was removed in Version 1.0.0. But I think this would be a very appreciated feature.

It could be implemented that the username gets placed into the active (curser in it) input field and the password into the next field. That way there isn't much effort to detect the login form.

[2019-07-19 21:43] guillaumevincent commented on #449
Yes, it's time to try again to add this feature. Let's do it

[2019-07-20 17:04] RomainQuidet commented on #261
Sorry no time yet to work on this project...

[2019-07-21 16:21] kocio-pl opened #451 "Problems with 8.1.1 on Android"
Tested on fresh 8.1.1 version from F-Droid on Android 5.1.1 and on CyanogenMod 13.0 (based on Android 6.0.1).

- LessPass interface is still in English (I expected Polish translation)
- When clicking on "Settings" the application crashes every time

[2019-07-21 16:43] kocio-pl opened #452 "Translation of help"
I think it would be useful to make it possible to translate help for mobile, I mean this file exactly:

https://github.com/lesspass/lesspass/blob/master/mobile/src/help/HelpScreen.js

[2019-07-21 17:29] guillaumevincent commented on #451
Translation doesn't exist on mobile :(
Only on web extension

[2019-07-23 15:22] pbaity opened #454 "No tooltip popups"
Looks like tooltips are broken on the newest Lesspass:

![notooltip](https://user-images.githubusercontent.com/39106297/61724340-c4539b00-ad3b-11e9-9253-196ad4e7bf89.gif)
(I promise I'm clicking furiously in the above gif)

The `copied!` tooltip not showing up was what brought it to my attention. Tested it out on latest Firefox and Chrome on both Mac and Windows.

[2019-07-23 19:04] haary opened #455 "App crashes when opening settings"
When hitting the settings gear lesspass crashes

Version: 8.1.1 (F-Droid)
ROM: Resurrection Remix 7.0.2 (Android 9), no GApps, using microG
Phone: Xiaomi Redmi Plus 5 (Vince)

[code]

Version 3.1.6 from F-Droid doesn't crash

[2019-07-24 07:26] edouard-lopez commented on #454
Thanks @pbaity, I reproduce on version `9.0.0` in Firefox and Chrome

[2019-07-24 08:15] guillaumevincent commented on #454
duplicates https://github.com/lesspass/lesspass/issues/446
I need to push a new version with the fix

[2019-07-24 08:15] #454 closed

[2019-07-24 08:20] guillaumevincent opened #456 "Translate Android Application"
Web extension is translated, but not the mobile application.

[2019-07-24 08:21] guillaumevincent commented on #451
close for #456

[2019-07-24 08:21] #451 closed

[2019-07-24 08:22] guillaumevincent commented on #452
close for #456

[2019-07-24 08:22] #452 closed

[2019-07-24 09:05] edouard-lopez commented on #455
I reproduce on my phone with Android `9.0`:
* `8.0.2` was working fine
* `8.1.1` break

[2019-07-24 09:54] guillaumevincent commented on #455
Yeah I don't control the release of F-Droid
8.0.2 is the version on the Android store.

I need to work on this.
Since we are on mono repo there is one version number for everything.

I need to add more tests on the Android version to catch those bugs before we publish a version on Android Store or FDroid.
Because it's a manual process for Android Store and partially manual on FDroid.

Your feeling

[2019-07-24 10:09] FaustXVI commented on #185
That's an issue I'd be happy to work with.
Here are my thought :
 * the encryption should be made user side so that the database can't leak any information even with the server control (better privacy)
 * the main purpose of encryption should be avoiding brute forcing the master password. Here how it can go :
    * a database leeks passwords (happens every day) and I have the password of my target

[2019-07-24 12:56] guillaumevincent commented on #185
@FaustXVI on the backend we need to create an encrypted user key field. We also need to update the password update mechanism. So no there is a little work to do :)

On ui side we need to update the code, to build this key after the first re connection and save it.

on ui side during the login:
- [ ] get or create key2 from user.encrypted_key

if key2 exists
- [ ] get key1 with user's password (dec

[2019-07-24 14:07] FaustXVI commented on #185
@guillaumevincent yep, I think we agree. When i was say "no work on the backend" i was talking about logic code (if this then that).
I don't see any password update mecanism thought. I was thinking it'd be a nice feature to have but I don't see any button anywhere to change my password :/ Is it the "Forgot password?" mecanism ? If so, then I understand better your comment.
If we are ok with all of

[2019-07-24 20:24] guillaumevincent commented on #185
yes exactly

Feel free to start this if you want, one step at a time
Do you want to start on the backend or the frontend?

[2019-07-26 08:09] exislow commented on #261
+1 would be amazing having an iOS app! Thanks in advance.

[2019-07-29 07:44] FaustXVI commented on #185
I am thinking to start with the key generation, even if it's not used at first. The idea is that we can have it in production first, even if it doesn't change anything.
The second step would be the decryption of the key.
Finally, it's usage.
What do you think ?

[2019-07-30 12:05] guillaumevincent commented on #185
sounds good to me

[2019-07-30 19:21] Rudloff commented on #455
Auto-update is not enabled for this app in F-Droid (because of some technical limitations), so I manually add the latest release from time to time.
We usually assume the latest tag to be stable, but maybe I should check if it was published on Google Play first?

[2019-07-30 20:50] edouard-lopez commented on #455
@guillaumevincent might be interested by [`Detox`](https://github.com/wix/Detox)

[2019-07-31 12:21] FaustXVI commented on #185
I just realized that the "forgot your password ?" feature won't be usable anymore once we encrypted data.
We are going to encrypt the derivation key using the user's password. As a consequence, when the user change its password, the current password will be needed to decrypt the key, then we'll encrypt it with the new password.
Using the "forgot password" feature, the user doesn't know it's passwo

[2019-07-31 12:53] guillaumevincent commented on #185
Yes this is the drawback of using encrypted password profiles, we lost the capability to get old password profiles when we lost our password. Because you are using your master password, we assume you always remember it.
So yes a password change instead of password refresh will be good.

[2019-07-31 12:57] guillaumevincent commented on #455
Best is to go to the continuous delivery process. To do so yes we need to add more tests. A tag should represent a valid version of LessPass for every projects. So we can assume latest tag == stable @Rudloff

Let me check if I can create some simple test to catch those errors before pushing it into Android Store and FDroid

[2019-07-31 13:38] FaustXVI opened #457 "Add a change password feature"
For now, the only way to change its master password is through the "Forgot password" feature.
That won't be working anymore once #185 is solved.

Still, the user should be able to change its password. We should have a feature allowing the user to change its password once authenticated and if it can provide the current password.

[2019-07-31 13:38] FaustXVI commented on #185
Ok, so what should we start with ?
- encryption with no way to change password then add the change password feature
- change password feature first, then encryption

I created #457 for the password change.

[2019-07-31 13:54] guillaumevincent commented on #185
#457 first yes :+1:

[2019-08-07 10:40] Aluriak commented on #12
Hello ! I really like the lastpass idea.

I saw on your website :

I am a scientist, i may be able to help you. What do you have, what do you plan about this white paper ? By a quick look, there is a quite big literature about password managers.

[2019-08-08 06:54] Quenz commented on #45
I would really appreciate an option to remove subdomains. I have encountered a fair few sites that are quite problematic to use with lesspass, because I often login from different subdomains, my tedious workaround is manually removing the subdomain every time.

For me at least, I don't recall encountering sites that have several logins for different subdomains, so his functionality only works agai

[2019-08-08 11:47] guillaumevincent commented on #45
I will push an update that will change this allowing the user to choose site with autocompletion

[2019-08-09 22:30] timaschew opened #459 "some links are dead on the website"
1. https://github.com/lesspass/lesspass/#self-host-your-lesspass-database
2. https://github.com/lesspass/cli#install
3. https://github.com/lesspass/cozy#install

[2019-08-10 22:21] pinage404 opened #460 "Update password"
I would like to able to simply change password

1. retrieve password's options of this site
1. ask user's master password
1. store it in-memory
1. fill the form and send it
    * with current password
    * with new generated password with counter incremented
1. save new password's options
1. clear in-memory
    * master password
    * password's options of this site

### Bonus

* Fields can be se

[2019-08-10 22:27] pinage404 opened #461 "Automatically update password"
LastPass have a great feature called [security challenge](https://helpdesk.lastpass.com/fr/lastpass-security-challenge/) which is able to automatically change the password (that works on many sites but not all) that :

1. open a new tab
1. go to the login page of the site
1. fill the form to login and send it
1. go to the change password page
1. fill the form and send it
1. update their database

[2019-08-10 22:31] pinage404 opened #462 "Suggest to change password when compromised"
It could be cool if we have a feature that suggest to user to change their password when they are potentially compromised

---

Maybe, it could be done on-demand with https://github.com/lesspass/lesspass/issues/461

---

Maybe, it could be done with the [API of Have I been pwned](https://haveibeenpwned.com/API/v3)

[2019-08-12 08:42] heuzef opened #463 "Migration with encrypted password ?"
Hi :)
I need to use the migration script for get my profils from lesspass.com

But in [migration.py](https://github.com/lesspass/lesspass/wiki/password-profiles-manipulation-scripts) script you have an password variable for connect to lesspass.com :

``PASSWORD = '<replace_me>'``

But, i actually connect from lesspass.com with the encrypted function, so i have not the encrypted password.

There is

[2019-08-12 13:29] guillaumevincent commented on #463
Encrypted my master password use "lesspass.com" for the site field, your email and your master password.
So open the web extension and generate a LessPass password for site "lesspass.com"

[2019-08-12 15:09] heuzef commented on #463
OK :) Simple.
I got it.
Thanks.

[2019-08-12 15:09] #463 closed

[2019-08-14 08:13] beli3ver opened #464 "Ubuntu Touch App"
Hello,

I am thinking about create a Ubuntu Touch app.
First I will create a simple WebApp with the Lesspass webpage.
But then I will create a native app. Is there a JS libary?
Or only working with Python?

Thanks

[2019-08-15 00:40] nathansizemore opened #465 "Passwords are not the same across "devices""
foo.com
bar
baz

Windows 10 - Firefox - 6dnR=|ECHa35e@!z
Android - Firefox - 0QY9EJfl.Dg*-f~1
Android - App - 6dnR=|ECHa35e@!z

This can't be expected, right? Are there not unit tests for this?

[2019-08-15 07:53] guillaumevincent commented on #464
Hello,
you probably want to integrate https://github.com/lesspass/lesspass/tree/master/packages/lesspass-pure in your project

You only need a `<div id="lesspass"></div>` and import lesspass code `<script src="dist/lesspass.min.js"></script>`

[2019-08-15 07:56] guillaumevincent commented on #465
You set "Foo.com" instead of "foo.com" on Android Firefox.
The first letter is uppercase.
On mobile, keyboard automatically set the first letter uppercase. Chrome browser understand autocapitalize off but Firefox not.

I will let this one open to try to fix it one for all

[2019-08-15 11:27] nathansizemore commented on #465
Oh yeah, even though I lowercase foo.com in Android Firefox, when I'm done typing it auto-capitalizes it. Didn't notice. Sorry, my bad!

[2019-08-16 02:38] Zwyx opened #466 "Changing the Master Password field doesn't reset the generated password"
Hi and congratulations for LessPass brilliant idea (and the just as brilliant three icons fingerprint!),

On the [web app](https://lesspass.com/), after generating a password, changing either the `site` field, `login`, or any options will reset the generated password; but changing the master password won't. Also, hitting Enter after changing the master password won't trigger generation (might be r

[2019-08-16 06:50] edouard-lopez commented on #459
Thanks @timaschew for spotting the issues.
Would you be able to submit a PR?

[2019-08-16 15:40] guillaumevincent commented on #459
I'm currently rewriting the web site
So this will be fixed in september after my PTO
Thank you

[2019-08-16 15:41] Rudloff opened #467 "Can't build 9.0.0"
Hello,
9.0.0 fails to build with the following error:
[code]

Do you know what could cause this?

[2019-08-24 16:56] guillaumevincent commented on #467
I will look at it after my PTO on september

[2019-08-25 05:15] ghost opened #469 "USB/Bluetooth Keyboard Emulation"
We could keep lesspass on a dedicated offline device and send password keystrokes to another device with keyboard emulation, this prevents your Master Password from being exposed to an attacker and it's a lot more convenient than typing passwords by hand.

Example: https://github.com/tejado/Authorizer

[2019-08-28 14:37] anderwm opened #470 "Status of docker deployment"
It's possible I'm being dense here but I can't seem to get the docker-compose.prod.yml up and running. I can't find any directions, but I'm doing the normal docker-compose up things. I made the .env file it is looking for but the nginx container still can't find 'DOMAIN' for some reason.

Am I not suppose to be using this, is there a bug, or can someone point me to the instructions?

[2019-08-30 13:17] JekoTronik opened #471 "Changing my master password implies changing all my passwords ?"
The question speaks for itself. I just want to be sure I didn't miss a thing.

[2019-08-30 15:11] panther2 commented on #471
Yes, see https://blog.lesspass.com/lesspass-how-it-works-dde742dd18a4

[2019-09-02 16:15] #467 closed

[2019-09-02 21:57] heuzef opened #472 "Migration fail"
Hi guy :smiley:

Need help for my profils migration :+1:

[code]

[code]

I don't no what when wrong. Thanks for your help !

[2019-09-03 06:15] guillaumevincent commented on #472
If you add `print(r.json())` you will have the reason why it's not working. You probably don't have the good credentials

[2019-09-03 06:16] guillaumevincent commented on #471
Thank you @panther2

yes this is one of the drawback using a deterministic password manager compared to another password manager.

I close

[2019-09-03 06:16] #471 closed

[2019-09-03 06:34] #464 closed

[2019-09-03 07:26] #465 closed

[2019-09-03 07:31] guillaumevincent commented on #465
Finally :)

I will push this version on production this week or next week

[2019-09-04 09:54] heuzef commented on #472
The output are the same :

[code]

[code]

For credential i think it's ok, i will use my encrypted password, like you say in issue #463

[2019-09-04 10:00] heuzef commented on #472
Just for sure, i use `https://lesspass.com` for encrypt my master password, it's that ? Or it's juste the domain `lesspass.com` ?
My encrypted password for `lesspass.com` is really inexploitable, contain somme special charactere like `' or \` ...

[2019-09-06 10:28] panther2 opened #473 "No "Copied" tooltip appears after copying password to clipboard"
With reference to #446 and #454 the "Copied" tooltip still does not appear in the Chrome Extension 9.0.0 on Chrome, latest stable, neither on Chrome OS nor on Windows 7.

[2019-09-07 03:57] Jeonkwan opened #474 "Is it possible to host lesspass on AWS S3 as static website?"
I was wondering since password generation is on the local machine, it would be interesting to host on AWS S3, without a VM. Of course the "database" function will probably not available.

[2019-09-07 07:47] guillaumevincent commented on #474
Yes you can. Use [packages/lesspass-pure](https://github.com/lesspass/lesspass/tree/master/packages/lesspass-pure) folder, and serve the `dist` folder.

[2019-09-07 07:47] #474 closed

[2019-09-07 07:49] guillaumevincent commented on #473
Yes I will push a new version next week fixing this and other bugs

I added a breaking change (site field is no longer filled) and I want to test it carrefully before pushing this in production

Sorry for the delay

[2019-09-07 07:53] guillaumevincent commented on #472
Move the print before the token access

replace

[code]

by

[code]

escape also the `\` in your password if you have one `password="abc\\123"`

[2019-09-07 07:53] guillaumevincent commented on #472
I tested it, it works for me

I close, probably a password issue

Feel free to continue to comment on this issue for extra help

[2019-09-07 07:53] #472 closed

[2019-09-07 08:40] panther2 commented on #473
@guillaumevincent

Great, thanks.

Offtopic, sorry, but I don't know where to ask. Would that be the default behaviour? That would indeed be usability breaking, at least for me. I am dependent on site fields being filled in automatically with my more than 200 passwords.

[2019-09-08 18:23] guillaumevincent commented on #473
Imagine your are on `www.example.org`. Actually if you open LessPass it fills the site input with `www.example.org`. In the future it will open the autocompletion for the site input with `example`, `example.org` and `www.example.org`.

You still don't need the database.

I'm doing this because I would like to have the same behavior regarding every devices and a lot of users remove the www and the

[2019-09-09 06:12] panther2 commented on #473
Thank you, @guillaumevincent for the information.

But how would I know whether I created my password with either `example` or `example.org` or `www.example.org` . I have always used what has been auto-filled by lesspass in the site field.

What about `abc.example.org` , ´def.example.org´ ... would that be reduced to only ´example´, too?

What about the lot of users who have to add those informati

[2019-09-09 06:20] guillaumevincent commented on #473
You're right, this is not ideal.

I will postpone the update so.

You know it's www.example.org because it's the longest one.

Yes, in my mind, I was just splitting the code around the dot.

[2019-09-09 06:27] panther2 commented on #473
Thank you, @guillaumevincent . I am sort of relieved for the moment.

( >You know it's www.example.org because it's the longest one.
In case the autofilled domain had been only `anotherexample.org` an offer of `www.anotherexample.org` would be misleading, then. )

[2019-09-09 06:34] guillaumevincent commented on #473
I don't have a lot of feedback from my users. So when a user came, and says: "Hey you next update will force me to stop using it", I like it because it shows that I miss something.

:heart:

[2019-09-09 06:45] panther2 commented on #473
@guillaumevincent Thank you for that kind feedback.
I am always at your service when it comes to giving feedback.

[2019-09-09 06:45] #473 closed

[2019-09-11 04:28] claudiusraphaelpaeth commented on #389
Was my thought since i stumbled over the first version of lesspass. Most definitely the one thing that would make the foundation feature-complete.

Allowing to completely separate the Master-password/key from the generator and allows to use the latter in secondary external devices, which could be fed optically via e.g.: qr shown by the add-on and also vice versa be transferred for general usage vi

[2019-09-16 01:05] claudiusraphaelpaeth commented on #389
An addition regarding the decoupling of the Master-Keyword:

+ For now it would be considerable to start with a separate application for use on PC which can then finally be ported to an android/etc. app.

- Its purpose would be solely to let a user input the Master-Keyword
and

- to calculate a pad of disposable one-time keys
as well as

- if it is possible to check from the add-ons in which exact

[2019-09-19 06:31] Directrix-Digital opened #475 "Cannot generate the same password from identical inputs"
I noticed that frequently, the lesspass website generates different passwords when used on different computers. I can consistently reproduce this error.
The attached screenshots show passwords generated with master password LessPass ; site: accounts.google.com ; account: test@email.account on Firefox 69.0 Quantum on Windows 7 and Chrome 76.0 on Windows 10.
The options are not shown in the Firefox

[2019-09-23 08:45] fjld61 opened #476 "LessPass Firefox (60.9.0esr) add-on unusable ..."
It appears that the LessPass Firefox add-on has become unusable because the LessPass window closes when I try to tab to or click into the master password field.

LessPass : 9.0.0
Browser   : Firefox   60.9.0esr
OS           : CentOS 7.6 kernel 4.4.168-1.el7.elrepo.x86_64

I haven't tried other browsers; other installed add-ons:

 UBlock Origin
 eID Belgium
 GNOME Shell integration
 HTTPS Everywher

[2019-09-23 09:04] guillaumevincent commented on #476
Hello @fjld61,

look like similar to #329

can you tell me your version of ibus?

    yum list installed | grep -e "^ibus.x86_64"

Similar workaround is to open [moz-extension://956650c1-dd76-4c85-9129-62d4604e0a49/popup.html](moz-extension://956650c1-dd76-4c85-9129-62d4604e0a49/popup.html)

Let me search for an open issue on ibus on centos

[2019-09-23 09:28] fjld61 commented on #476
Here is the information you are asking for:
$ yum list installed | grep -e "^ibus.x86_64"
ibus.x86_64                           1.5.17-5.el7                 @base

$ yum list installed | grep -e "^gnome-shell.x86_64"
gnome-shell.x86_64                    3.28.3-11.el7                @base

If I understand you: I make a bookmark to "moz-extension://956650c1-dd76-4c85-9129-62d4604e0a49/popup.html" a

[2019-09-23 09:37] guillaumevincent commented on #476
@fjld61 thank you I will take a look at this

you can find your uuid in `about:debugging#/runtime/this-firefox` tab

[2019-09-23 10:14] fjld61 commented on #476
Thanks the moz-extension works now : but I needed to use about:debugging and look for the LessPass add-on in the list. Apparently it was 0ae13994-128e-435d-ac6b-eab9da5313e6 on my system.

Thanks.

[2019-09-23 10:20] guillaumevincent commented on #476
Yes the uuid is created during the installation of the web extension

The bug is apparently fixed in the lastest version of gnome-shell.
Your system is up to date right?

[2019-09-23 10:21] fjld61 commented on #476
Indeed, I updated a couple of days ago.

[2019-10-07 22:14] whiver opened #477 "Set a default login in extension options"
There is an option in the mobile app to choose a default value that will be used in the login field, avoid to retype each time the same email address. I didn't find anything like that in the extension, did I miss something?

[2019-10-10 09:22] whiver commented on #477
@guillaumevincent Would you accept a PR on that if I take a look and try to add an option page to the extension?

[2019-10-10 10:09] guillaumevincent commented on #477
@whiver definitively yes :)
I'm completely stuck by my work currently, so any help is welcome :heart:

[2019-10-13 23:38] beneeh commented on #475
Hi, have you checked if any blanks/other stuff are presesent at the start or end of the site or user name parameters?

[2019-10-14 06:29] guillaumevincent commented on #475
Sorry I missed this one,

@beneeh probably right, you should have a trailing space somewhere maybe?
I don't have a windows to test it

definitively and if this happens, we have to fix this as soon as possible

Do you have the same inconsistency with the web extension?
It's safer to use the web extension

[2019-10-14 06:56] guillaumevincent commented on #476
Hello @fjld61,
it's confirmed it's a problem with ibus on centos 7
See the opened bug: https://bugs.centos.org/view.php?id=16545

[2019-10-14 06:58] guillaumevincent commented on #470
I will work on this one first, cleaning everything to have a stable state.
Sorry I needed to find some energy and time to continue working on LessPass.

[2019-10-14 07:20] Directrix-Digital commented on #475
Yes, I have repeatedly tested this. I wanted very much for it to generate the same password - my goal was to log in the same site from my home and work PCs without writing down a password.
I consistently generate two different passwords  for the same site when I use different browsers (they are also different computers).
I have not installed or used the browser extension yet. I just used the Lessp

[2019-10-14 08:00] guillaumevincent commented on #475
@Directrix-Digital cann you test in private mode within Firefox and Chrome with site: `a` login: `a` and master password: `a`?

I tested your inputs (with password: `password`) on `Chrome Version 77.0.3865.90 (Official Build) (64-bit)` and Firefox 69.0.1` without be able to reproduce your issue.

[2019-10-14 22:39] whiver commented on #477
I'll track the progression of the feature on this issue. Here is the list of upcoming steps:

- [ ] Setup the build pipeline, create a first simple-but working option page (no entry point for in the manifest), only the default login is available in the option page
- [ ] Add localization
- [ ] Polish option page design
- [ ] Add a link to the option page in the popup (to be discussed)
- [ ] Add tes

[2019-10-15 07:25] guillaumevincent commented on #477
:+1:

[2019-10-18 18:19] #476 closed

[2019-10-20 09:38] guillaumevincent commented on #475
ping @Directrix-Digital

[2019-10-20 09:38] guillaumevincent commented on #470
I close this one,
nginx container will be removed, I'm still working on it

[2019-10-20 09:38] #470 closed

[2019-10-20 09:42] guillaumevincent commented on #466
Hello @Zwyx,
I think it's fixed now.
There is a non regression test for this one, and I tested on Firefox and Chrome successfully.

Yes it will avoid somebody to find your master password when you screencast LessPass use

[2019-10-20 09:42] #466 closed

[2019-10-20 09:44] guillaumevincent commented on #475
I close, feel free to comment and reopen

[2019-10-20 09:44] #475 closed

[2019-10-20 11:07] Directrix-Digital commented on #475
I was away in interstate receiving an award from Sitecore and was unable
to test this case on my home PC.

I tested with a , a , a today and it produces the same result on both PCs.
Chrome on win 10:
m<=u6T8`hM"nxwuY
Firefox on win 10:
m<=u6T8`hM"nxwuY
Chrome on win 7:
m<=u6T8`hM"nxwuY
Firefox on win 10:
m<=u6T8`hM"nxwuY

However with more complex URLs, passwords, and usernames it can produce
inco

[2019-10-20 11:23] guillaumevincent commented on #475
Try to found an example with dummy data, never share your real info

[2019-10-22 19:17] Rudloff opened #482 "9.0.2 crash on Android"
If I build 9.0.2 from source, it crashes at launch with this error:
[code]

[2019-10-22 21:12] Rudloff commented on #449
Here is how Passbolt does it: https://github.com/passbolt/passbolt_browser_extension/blob/042de46bd70b7dc20981d960686c18eaa4e51661/src/all/data/js/quickaccess/quickaccess.js#L21

They first look for a password field, then look for a text or email field with the same parent.

[2019-10-22 22:21] guillaumevincent commented on #482
yes, I didn't take the time to fix this, 9.0.2 was to fix an issue on the web extension
I will try to fix this this week.

[2019-10-23 19:25] guillaumevincent commented on #482
Can you test again on master?
I migrate the mobile app and use react-native 0.61.

If it works, I will tag a new version and send it on the Android store

[2019-10-23 19:58] Rudloff commented on #482
I tried to build f93f8c92fdce576b7d61a75aa67740de7380a246 and it seems to run correctly. Thanks!

[2019-10-23 21:46] whiver opened #484 "Add tooltips on menu items"
Hi,
It would be really cool to have tooltips on the menu items to know what the icon refers to, because it's not always easy to know what is the purpose of each icon, especially the key.
Ex:
![image](https://user-images.githubusercontent.com/394565/67436579-41620b00-f5de-11e9-8ace-e6ab37992198.png)

I can make a small PR if you're ok with that.

[2019-10-24 06:33] guillaumevincent commented on #482
ok closing this one and preparing a new version

[2019-10-24 06:33] #482 closed

[2019-10-24 06:35] guillaumevincent commented on #477
Closing this one, thank you for this, I will publish a new version today!

[2019-10-24 06:35] #477 closed

[2019-10-24 06:35] guillaumevincent commented on #484
Sure, good UX improvement

[2019-10-31 11:03] TheWiresharkGuy opened #487 "Can't copy the password to clipboard (lesspass 9.1.2)"
Hi !

I can't copy the output of lesspass 9.1.2 (python cli version) to clipboard on Windows 10
NB : lesspass 8.1.1 was the previous version that i used and was working fine.
[code]

[2019-10-31 14:04] guillaumevincent commented on #487
What is your version of python you are using?
`python --version`

[2019-10-31 16:10] TheWiresharkGuy commented on #487
@guillaumevincent

Python 3.8.0

[2019-11-06 20:30] #487 closed

[2019-11-08 12:41] JelleHissink opened #489 "Allow for different options for symbols"
I am looking into using this tool for my automated build and test environment.

However I am running into an issue where I have to use symbols in my password and am having to enter them in multiple bash scripts into .yaml, .ini, .json files etc.

The issue is different file formats have different escapes needed, so for instance # in an linux config file usually means the password is truncated beca

[2019-11-08 12:43] JelleHissink opened #490 "Different colors for numbers"
Other password managers use different colors for letters and numbers to differentate between 0 and O for instance.

[2019-11-08 16:05] guillaumevincent commented on #489
You are look for different options with the cli?

[2019-11-08 16:15] JelleHissink commented on #489
I would think that all options in calculating passwords would need to be implemented in all clients eventually.
Otherwise it would be impossible to recalculate the passwords cosistently.

[2019-11-14 18:15] ddelabru opened #491 "Copy generated passwords to Wayland clipboard from CLI"
The lesspass CLI is capable of copying generated passwords to the X clipboard using `xsel` or `xclip`, but if the error message is any indication, lesspass does not work with any similar command for Wayland. It would be useful to be able to write passwords directly to the Wayland clipboard.

[2019-11-14 21:21] guillaumevincent commented on #491
I need to look at the wayland API for this one

[2019-11-14 21:26] ddelabru commented on #491
On a second glance, I have found that I managed to get this working just by installing this compatibility layer between the Wayland clipboard and the X clipboard tools: https://github.com/brunelli/wl-clipboard-x11

[2019-11-15 07:13] guillaumevincent commented on #491
It will be awesome @ddelabru !

[2019-11-17 19:37] FaustXVI commented on #457
Sorry I am so long to deal with this issue (time management problems).
I am still at the very beginning and there is one thing I can't find out : how do you run your tests with python ? pytest is not in the dependencies so it must be something else... and factory_boy is a mock library so not a runner... Could you help me please ? Thanks

[2019-11-18 08:34] guillaumevincent commented on #457
To see how test are run, you can see the github action file: https://github.com/lesspass/lesspass/blob/master/.github/workflows/test.yml

Tell me if you need more info

[2019-11-18 08:46] guillaumevincent commented on #489
It would make the tool more complicated in my opinion
Our value proposition should be in the simplicity of the tool

[2019-11-18 15:43] GaboFDC opened #494 "Firefox Nigthly Extension not working"
Not 100% sure if is only nightly or in any firefox version is failing, but I'm currently on 72.0a1 and I can't login.
I tried with random fake email and password and always get the error.
I get the generic error "something went wrong" and no idea why. Not sure if there is a way to enable debugging for the extension or something to provide more info.
If I try from chrome extension it works. If I tr

[2019-11-18 16:56] guillaumevincent commented on #494
Really strange.

To debug:

in `about:debugging#/runtime/this-firefox` copy LessPass Internal UUID and open a new tab on `moz-extension://<LessPass Internal UUID>/popup.html`

You can do a right click `Inspect Element`, go on network tab and try to log in again.

I will try to install Firefox nightly

[2019-11-18 18:12] GaboFDC commented on #494
Seems like a Cross-Origin issue the site seems to have a capital `L` not sure if that may cause it

![image](https://user-images.githubusercontent.com/1425500/69077962-dea93700-0a04-11ea-954c-8bb773d490d8.png)

PD: There is no need for the `moz-extension://<LessPass Internal UUID>/popup.html` on the first page, there is a handy "inspect" buttos that those the same:
![image](https://user-images.git

[2019-11-18 19:31] fulldecent opened #495 "Feature request: upload site rules"
# Specification

Requesting to add a new command:

[code]

It will save a filtered version of your profile, like:

[code]

and invite you to upload it to: https://lesspass.com/survey

---

# Discussion

The NIST standards for passwords are published at https://pages.nist.gov/800-63-3/sp800-63b.html and they are very good.

And the LessPass default settings are compatible with NIST recommendations.

[2019-11-19 07:44] guillaumevincent commented on #494
Thanks for the tip

Did you change the url in the login form to `https://Lesspass.com` because by default it's `https://lesspass.com"`?

[2019-11-19 07:50] guillaumevincent commented on #495
A new command in the lesspass-cli ?

Where did this profile came from?
From LessPass Database ?

I like this feature.

[2019-11-19 15:44] GaboFDC commented on #494
No, I didn't change it, I dug up a bit more, and the capital `L` seems to be only visual.
After a few more tests, seems like nightly had some update gone wrong, after updating, and reinstalling the plugin seems like is fixed.

[2019-11-19 15:44] #494 closed

[2019-11-19 15:59] guillaumevincent commented on #494
ack thank you for the update

[2019-11-20 09:37] joriscode opened #496 "Publish browser extension on Opera addons platform"
The browser extension is not available on the Opera's platform https://addons.opera.com/ although it can be installed from Chrome Web Store. Therefore, it is only a matter of publishing the existing Chrome extension to Opera's platform. Furthermore, the website would have a new icon directing to the extension on the Opera's platform.
I believe this is technically simple but induces a little extra

[2019-11-20 15:31] guillaumevincent commented on #496
If the upload can be automated yes we would push it to opera.
But last time we look at, it was not possible.

[2019-11-21 09:59] joriscode commented on #496
It totally makes sense. After a quick search, I found nothing like this.

A workaround would be to indicate on Lesspass website that extensions from Chrome Web Store can be installed to Opera via the official  https://addons.opera.com/en/extensions/details/install-chrome-extensions/.

[2019-11-26 15:47] #491 closed

[2019-11-26 17:02] guillaumevincent commented on #491
I will create a tag and push a release at the end of this week.
Feel free to ping me if I forgot, I don't have a lot of time at the moment.

[2019-11-29 00:02] rysard commented on #456
I know spanish, how I can help with the translation in that language?

[2019-11-29 00:02] rysard commented on #456
I know spanish, how I can help with the translation in that language?

[2019-12-02 07:09] guillaumevincent commented on #455
I build the app for every release, let assume is enough for now to catch those bugs

[2019-12-02 07:09] #455 closed

[2019-12-02 07:10] guillaumevincent commented on #496
Maybe we can add this in the wiki for now?

[2019-12-02 07:10] guillaumevincent commented on #495
ping @fulldecent

[2019-12-02 19:08] fulldecent commented on #495
This example came from here https://github.com/lesspass/lesspass/issues/154 and then I adapted it to show the desired format.

[2019-12-02 19:47] guillaumevincent commented on #495
so it's a lesspass-cli command to extract profiles saved in lesspass-database right?
And a lesspass-cli to restore those password profiles in LessPass database?

[2019-12-02 20:42] fulldecent commented on #495
It is one lesspass-cli command to extract profiles saved in lesspass-database.

Then the end user may upload that file to https://lesspass.com/survey to shame the vendor.

[2019-12-03 17:07] jdrizzzzz opened #499 "Challenge failed for domain"
Hi,

I dont really know where to post this.
Im trying to run the install-lesspass.sh, but keep getting the message "Challenge failed for domain"

Pulling db       ... done
Pulling backend  ... done
Pulling frontend ... done
Pulling nginx    ... done
Removing network lesspass_default
WARNING: Network lesspass_default not found.
Create LetsEncrypt certificate...
Challenge failed for domain domain.na

[2019-12-03 19:34] guillaumevincent commented on #499
You need to set the domain name in env variables.

For now the script is not supported, just here for actual people hosting lesspass database.

[2019-12-05 21:59] joriscode commented on #496
Done! https://github.com/lesspass/lesspass/wiki/FAQ#how-to-install-lesspass-on-opera-web-browser

[2019-12-05 21:59] #496 closed

[2019-12-06 08:10] guillaumevincent commented on #496
Thanks @joriscode

[2019-12-10 16:43] almereyda opened #501 "CLI master password unencrypted"
The `cli` optionally reads a `LESSPASS_MASTER_PASSWORD` environment variable. This is stored unencrypted.

An encrypted storage of this credential similar to the way it works in https://www.npmjs.com/package/vault is aspirable.

[2019-12-12 15:12] guillaumevincent commented on #501
So your idea is to add a passphrase parameter and if provide will decrypt the LESSPASS_MASTER_PASSWORD ?

[2019-12-23 01:12] victormsf opened #503 "Same input resulting in different passwords"
Hi!
I've just started using LessPass today and, while trying it to decide if it would replace my current password manager (bitwarden), I've noticed that the same input results in different passwords. I've got **two** different passwords (password 1 and pw 2 below) in **three** different ways to use LessPass and this always with the same input (site, username and Master Password, the latter confirm

[2019-12-23 11:45] guillaumevincent commented on #503
Hello @victormsf,

so to summarize if you use the same site, username and master password on the web site and the web extension you got a different generated password right?

If true this is a big problem.

We have plenty of tests ensuring this is not the case.

What browser do you use?
What version of the web extension do you use?

Can you try on your side to test with site: '**a**', username: '*

[2019-12-27 07:23] tripurari001 commented on #12
❤️  ❤️

![thanks](https://user-images.githubusercontent.com/17466642/71506593-9c96cf00-28a7-11ea-812f-21d69a75deaf.gif)

[2019-12-28 20:44] AndreaRe9 commented on #501
I think that using a LESSPASS_MASTER_PASSWORD read from environment variables is not safe. If the password is stored encrypted, I also think that the solution is not pratictal. In [https://www.npmjs.com/package/vault](url) the Master Password is encrypted with AES-256 using the username as default password, but that is not so safe either. I suggest to completely remove that default setting, even i

[2019-12-29 13:28] guillaumevincent commented on #501
@AndreaRe9 LESSPASS_MASTER_PASSWORD is used for CI system or bash script that require no prompt. It's a feature used by 2 companies at least.

I'm not going to remove the feature.
I try to understand the request from @almereyda.

[2019-12-29 18:06] victormsf commented on #503
Hello Guillaume,

When I reported it, it happened several times in Firefox, but not in Chromium. As of today, everything seems to be alright. Probably some of the input wasn't correct, but I had to be repeating the same error on the website, because the resulting incorrect password was always the same, and inputting everything correctly on the web extension.

Sorry for the inconvenience. Best rega

[2019-12-29 18:06] #503 closed

[2020-01-03 14:35] almereyda commented on #501
What can I provide from my side to ease the understanding, what kind of clarification would you need?

I can see very much that security considerations beyond my ability to foresee them may be advisable to look into.

[2020-01-04 15:11] guillaumevincent commented on #501
I need to understand what the security issue is with the fact that the environment variable is not encrypted.

And I need to also understand what solution you imagine to mitigate the risk

[2020-01-10 15:18] #484 closed

[2020-01-13 09:19] ghost opened #504 "Option to delete the auto fill site feature"
I am using custom names for "site" field and find it cumbersome that when I open the addon popup, it automatically fills the site field with a website I'm currently on and focuses on the "login" field instead. This requires me to manually re-focus to site field and delete it and replace it with something else. Please make it possible to have the "site" field blank by default.

So basically, I woul

[2020-01-13 10:43] panther2 commented on #504
I have about 200 passwords where I rely on the site field being autofilled. So a "blank" would destroy that use case and functionality completely, breaking LessPass for me and others who use LessPass the same way as I do.

What I suggest for use cases like yours is maybe a "delete button" next to the site field (or whrerever) that, when clicked not only removes that content but focuses to that fie

[2020-01-13 10:45] jones137 commented on #504
I know some people use it. There can just be an optional opt-in setting for blank site field.

[2020-01-17 04:05] autonome commented on #504
This is a classic browser UI conundrum: Toolbar buttons can be either per-site and browser-wide, depending on the extension use-case, and it's up to the extension author. It causes no end of confusion. Source: Worked on Firefox core for over a decade.

For the record, I use it almost exclusively for use with the active tab. I'd love to have autofill or autocomplete of username field too.

[2020-01-17 04:15] autonome opened #505 "Autogenerate password as user types (remove Generate button)"
The notes here describe an intent to eventually remove the Generate button:

https://github.com/lesspass/lesspass/issues/123#issuecomment-273791173

[2020-01-17 20:00] guillaumevincent commented on #505
Yes, we can debounce and generate the master password automatically.
We can also at the end of the process, copy it directly: See https://github.com/lesspass/lesspass/blob/master/sandbox/copy-paste-async.html

[2020-01-22 21:04] z0mbie42 opened #506 "Threat/security model in the wiki"
Hi,
I just found lesspass and found the concept very interesting.

However I'm not sure to understand all the security implications and trade offs made.

So far the 2 big security risks I see are:

* If a master password is weak (not enough entropy, attacker with supercalculator...) then bruteforcing the master password allows to derive all the other passwords
* It's not possible to change the mas

[2020-01-23 09:11] guillaumevincent commented on #506
No you are totally right, we should document this in the wiki!

Do you have any time to add those 2 in the wiki page?

[2020-01-23 10:00] z0mbie42 commented on #506
Done in https://github.com/lesspass/lesspass/wiki/Security-model

Feel free to edit or close this issue if this is satisfying.

[2020-01-23 10:19] guillaumevincent commented on #506
This is perfect and well written
Thank you

[2020-01-23 10:19] #506 closed

[2020-01-27 10:43] edouard-lopez commented on #489
Supporting this is way behind the scope of the project, it's up to you to escape the string for the file types you are targeting.

[2020-01-27 10:43] #489 closed

[2020-01-27 11:11] edouard-lopez commented on #490
We discussed characters ambiguity in #143 and switched to monospace font

	font-family: Consolas,Menlo,Monaco,Courier New,monospace,sans-serif;

For instance, on my laptop I fallback to `monospace`, _i.e._ `Liberation Mono` where `0` and `O` are different:
![Screen Shot 2020-01-27 at 12 03 34](https://user-images.githubusercontent.com/1212392/73169822-36e37000-40fd-11ea-81c2-db321b5fc7f0.png)

How

[2020-01-27 11:27] edouard-lopez commented on #495
Having a Hall of Shame was something we had in mind, so :+1:

https://github.com/lesspass/lesspass/issues/280#issuecomment-331097131

And we had a PR to save profiles: _Add a --to-profiles CLI option to save profiles #397_

[2020-01-27 11:42] edouard-lopez commented on #504
With _default login_ set, it's the master password field that is focused.

An option to choose the focused field (_site_, _login_ or _master password_) would allow to support @jones137 use-case and others:
* several login (personal, pro, family, etc.)
* emptying value (<kbd>Ctrl</kbd>+<kbd>A</kbd>, <kbd>Return</kbd>)
* adding custom suffix,

[2020-02-13 22:51] Platane opened #507 "Extension refactoring"
Hi I appreciate this project a lot :+1:

I think the extension could be improved. I poc -ed a new version.

new features includes:
- automatically filling the page form
- saving the master password in the background runtime (it should be disposed when the background goes idle ) might be insanely unsafe idk
- a page to manage the saved profile
- eventually, explore the possibility to drop the popup

[2020-02-14 16:13] panther2 commented on #507
Interesting, but some questions/statements from my side:

I assume you would still be able to manually enter the login credentials (think of use cases unrelated to websites/web log-ins)?

By default or as an option? Personally I would not want my Masterpassword to be saved/stored anywhere.

Are aware of the already implemented "connected mode" that actually manages your profiles

I don't know Dash

[2020-02-14 17:27] guillaumevincent commented on #507
Hello @Platane,
you should debounce the password generation!
We can have your master password like that.

All other extension save the master password locally. This is something well describe in main password manager white paper.

Yes I think we can update the web extension to do automatic log in

[2020-02-17 21:35] Platane commented on #507
Hi, thanks for the feedback

Indeed I was logged off so I didn't have the button, oups

I wanted to poc around automatic filling, I didn't support all the current features

@guillaumevincent I couldn't find the white paper you mentioned. Is storing the master password  in the background script session life span a big no ( even if it's behind an option ) ?

[2020-02-18 11:47] guillaumevincent commented on #507
https://1password.com/files/1Password-White-Paper.pdf
![image](https://user-images.githubusercontent.com/943762/74733472-b53eb800-524c-11ea-8805-2fd27839b401.png)

[2020-02-19 16:05] Lazerbeak12345 opened #508 "Minimise dangerous clipboard usage by using autofill where possible."
Hey, I'd like support for some degree of filling out username and password fields with (roughly) a single click.

This is how I've been using the app, thus far:

- I open lesspass
- copy and paste my username into the first field (I often don't remember assigned usernames. This and the next step aren't always needed)
- open lesspass
- enter my master password
- click generate
- copy password (dang

[2020-02-19 19:19] guillaumevincent commented on #508
By autofill you mean auto login ?
See https://github.com/lesspass/lesspass/issues/507

And auto login can be less secure than clipboard sniffing.

[2020-02-19 19:53] Lazerbeak12345 commented on #508
Yes, but you'd still have to enter the master password, so it shouldn't (unless I don't know what I'm talking about) be less secure.

[2020-02-19 19:55] Lazerbeak12345 commented on #508
But yes, that issue is what I'm talking about.

[2020-02-19 19:55] #508 closed

[2020-02-23 23:36] rstmsn commented on #501
Couldn't some nefarius software simply run a check for the 'LESSPASS_MASTER_PASSWORD' enviornmental variable, on the current users path? If it exists, the plain text master password can easily be exported and used in a brute force attack where only the site and login parameters are 'unknown'...

[2020-02-24 05:20] Charon77 commented on #389
I'd like to address the behaviour of autocompletion and autofill. I think this is a really great enhancement I would want to use, mostly on mobile phones like Android. Yes, I am aware that there are attacks that targets these kind of usage as it injects to the webpage, but I believe that users still benefit from this. A paranoid user may opt out from this feature (or conversely, make this a normal

[2020-02-24 05:31] Charon77 commented on #389
Argon2 seems to be a nice choice for the next algorithm. It's flexible on how much memory and computation time should be used by the algorithm, so I think this allows anywhere from browser implementation to beefy CPUs to calculate the password hash.

I think users should be allowed to chose on the derivation strength being used. However, this would also mean that users will have to know that the t

[2020-02-24 14:32] guillaumevincent commented on #389
I don't know how argon has a good support on web platform. To increase the security, we should add a generated key to add some entropy to the master password.

[2020-02-24 14:41] guillaumevincent commented on #501
If you run lesspass with the cli you should not enter the master password. Cli will ask you the master password and it will not be saved.

But if you are in a Continuous Integration system you are passing secrets via env variable (see Travis, GitHub actions, etc)

But you should not save your master password in an env variable in .bash_profile for example.

[2020-03-05 09:41] emollusion opened #510 "MFA for generating passwords"
Hi!

For starters, I am new to the product and have found a good interest in it, i have been reading through most open and some closed issues, and I really like the idea of not storing sensitive data, and also store as little as possible of any data, stateless password manager is a really interesting concept.

But I keep ending up with the thought that this is never stronger than the master passwo

[2020-03-10 19:06] #499 closed

[2020-03-10 19:07] guillaumevincent commented on #501
I close, feel free to reopen if needed
LESSPASS_MASTER_PASSWORD env variable will be kept for backward compatibility reason for CI system that use lesspass

[2020-03-10 19:07] #501 closed

[2020-03-10 19:09] guillaumevincent commented on #510
In MFA are you thinking about an external key to extend of the entropy of the master password?
If yes it duplicates https://github.com/lesspass/lesspass/issues/376

[2020-03-10 19:35] emollusion commented on #510
Perhaps... maybe it goes along the same line, or another approach.
My thought goes towards for example 2 step authentication using google authenticator and similar, to be able to access the password, my point being that lesspass is never safer then the master password, and using a password still possible to remember in ones mind feels rather unsafe, MFA would mitigate this.
If the MFA solution can

[2020-03-10 20:13] guillaumevincent commented on #510
MFA or to be precise 2FA in case of Google Authenticator will be use to grab a private key on the server to be computed with the master password to generate your passwords.
You are loosing the offline mode no?

For me we should try to allow people to add extra entropy to the master password without loosing the offline mode or the no server way. > #376

[2020-03-15 06:33] evandrix opened #512 "CLI tool?"
I notice this is largely identical to MasterPassX, except that it is missing a cli like [js] `masterpassx-cli` ~ `mpx`

Will there also be a CLI to this?

[2020-03-15 09:23] guillaumevincent commented on #512
Yes there is lesspass on pypi for python

[2020-03-15 10:17] e-moe commented on #261
looking forward for ios app

[2020-03-15 13:41] Andrew-Chen-Wang commented on #510
Hi @guillaumevincent I found this project pretty cool, but I'd like to know a couple of things. Correct me if I'm wrong, but this LessPass product is to have a master password that generates a password? Shouldn't this product not care what your password is? (Used to design a unicode version of libraryofbabel.info which is where I have the idea for GenBank decreasing database size).

[2020-03-15 13:52] guillaumevincent commented on #512
see https://github.com/lesspass/lesspass#cli

[2020-03-15 13:52] #512 closed

[2020-03-16 22:31] JohanEkblad opened #516 "Option to change the url by default"
Lesspass is great, thank you!
Just a quick question. Is it possible to somehow save my custom lesspass hosting url (instead of https://lesspass.com) and maybe even my sign in email address, somewhere in Firefox?

[2020-03-17 08:59] rugk opened #517 "Flatpak"
It would be nice if you could publish this as a [flatpak](https://flatpak.org/) on [flathub](https://flathub.org/) e.g.

Flatpaks are a new software distribution mechanism for Linux distros, can thus installed on any distro and are easy to update.

Here is [how to get started](http://docs.flatpak.org/en/latest/getting-started.html).

[2020-03-17 11:45] rabbishuki commented on #60
@guillaumevincent Here is a solution that might work.

I understand that `lesspass` works by being a pure function, that accepts input, and returns the relevant output every time, with revision as a number for changing passwords.

So you could add an option to the config of every website that would be the diff between the existing password, and the newly generated password.

This would allow impor

[2020-03-17 12:35] guillaumevincent commented on #60
Oh brilliant  :astonished:

so basically your proposition is to store the diff between entropy?

We need to create some tests to see how easy it is to reverse the entropy based on a generated password.

worth a reopen

[2020-03-19 06:34] Sparkenstein opened #518 "question on master password safety"
I simply loved the idea of stateless password manager, something I wanted for a long time now. Thanks for developing this tool.
But one thing I couldn't help noticing, If your master password is compromised somehow, then anyone can see anyone's password! How would you suggest mitigating this risk?

[2020-04-13 08:40] franklinbill opened #519 "A Display Bug"
Dear developer
In the process of using, I found a bug in layout / display. As shown in the figure, select the last "! @%"The rightmost part of the text is blocked, which may be an adaptation problem.
App version is 9.1.2, my mobile phone is Google nexus 6, screen resolution setting is 1440 * 2560, font size is the largest, Android system is 8.0.
The above is a description of the problem. The overa

[2020-04-13 15:19] guillaumevincent commented on #519
Thank you for reporting the issue

[2020-04-14 22:43] guillaumevincent commented on #519
Tonight I updated paper (ui lib used by LessPass mobile) and I don't have the issue anymore.
I will produce a beta update to test it.
I just need to fix another unrelated issue in react-navigation before

![image](https://user-images.githubusercontent.com/943762/79280869-be957b00-7eb1-11ea-8fae-bf354f052607.png)

[2020-04-15 04:43] franklinbill commented on #519
Thank you!

[2020-04-15 21:40] guillaumevincent commented on #519
The version 9.1.6 beta should fix the issue: https://play.google.com/apps/testing/com.lesspass.android

I don't know when the beta will be available due to long review on the Android Store

![image](https://user-images.githubusercontent.com/943762/79391673-4216a100-7f72-11ea-8196-7915f4be947f.png)

Let me know if you can test this beta
Thank you

[2020-04-16 01:22] pbaity commented on #518
@Sparkenstein you might be looking for this from the Lesspass wiki page ["Security model"](https://github.com/lesspass/lesspass/wiki/Security-model#what-is-the-risk-of-having-a-weak-master-password):

You're absolutely right that having a single master password creates a risk of getting all accounts compromised - so, simply put, you just make that single password as strong as you possibly can. In

[2020-04-16 06:28] guillaumevincent commented on #519
It will be soon in production, fill free to reopen if the problem is still here

[2020-04-16 06:28] #519 closed

[2020-04-19 11:13] ElieKadoche opened #520 "Termux clipboard support"
I use lesspass-cli on Android via [Termux](https://termux.com/). The option `-c, --copy` does not work.

Termux uses [`termux-clipboard-set`](https://wiki.termux.com/wiki/Termux-clipboard-set) via the [Termux:API](https://wiki.termux.com/wiki/Termux:API) to access the clipboard.

I looked at the existing issues but none of them seem to correspond to this problem. The solution is quite simple and I

[2020-04-19 13:12] FernandoMiguel commented on #387
Probably worth to start looking into WebAuthn

[2020-04-19 21:06] guillaumevincent commented on #520
Hello Elie,
can you create a pull request?
Thank you

[2020-04-19 21:13] guillaumevincent commented on #517
Hello Rugk,
there is no GUI on desktop, only cli. Why should we use Flatpak ?

[2020-04-19 21:13] #517 closed

[2020-04-19 21:15] #520 closed

[2020-04-19 21:17] guillaumevincent commented on #518
Hello,
You can see also what-is-the-risk-of-having-a-weak-master-password in the wiki https://github.com/lesspass/lesspass/wiki/Security-model#what-is-the-risk-of-having-a-weak-master-password
Fill free to reopen, if this doesn't answer your question

[2020-04-19 21:17] #518 closed

[2020-04-19 21:18] guillaumevincent commented on #510
Close in favor of #376

[2020-04-19 21:18] #510 closed

[2020-04-19 21:19] guillaumevincent commented on #516
The main idea is to add this into the "Options by default" page in lesspass-pure.
Probably not very hard to do, do you want to create a PR for this ?

[2020-04-19 21:21] guillaumevincent commented on #505
The only issue for now is the Firefox copy paste async not working.
We need to make the feature backward compatible.

[2020-04-20 06:28] mmjoshi commented on #60
Great! Even I was looking for this. Will be easier to migrate from KeePass. Any ETA?

[2020-04-20 17:32] michaelimfeld commented on #470
Any updates on this?
I would like to run my own reverse proxy doing ssl.

[2020-04-26 01:04] Iheb-Haboubi opened #522 "Confirm master password"
This project is really great , thank you !

I think it would be great if the input form had an additional field to confirm the master password, especially if someone is using the CLI and they can't really see the password being typed, which can generate wrong passwords in some cases

[2020-04-26 07:10] guillaumevincent commented on #522
Thank you.
What do you think about this pull request: https://github.com/lesspass/lesspass/pull/442 ?

[2020-04-26 11:46] Iheb-Haboubi commented on #522
I see you've made some good progress there.

However, i think that approach has some issues :
- It's harder to implement and to use
- user might mix up between different emojis or forget them
- It's prone to bugs as different terminals and different OS will not behave the same way so you have to make a relatively large test case
- you might have to install some icons in terminal, some users may no

[2020-04-26 17:38] panther2 commented on #522
@guillaumevincent
In case you plan to implement this additional feature into any GUI please consider to implement it as an option. I for sure would not welcome this additional complexity. I am totally happy with the symbols to verify the corectness of the mater password. Thank you.

[2020-04-26 21:33] guillaumevincent commented on #522
@panther2 yes I never think about adding an extra field in the UI, if it's what you think.

@Iheb-Haboubi the pull request is not complete. But having a similar approach like the fingerprint on the cli will solve your issue.

[2020-05-06 21:20] mrdomino opened #523 "Proposal: secure passphrases"
Background: <https://xkcd.com/936/>

Most of the time, passwords generated by a deterministic password generator don't need to be memorable, since you can just regenerate them on demand or store them in an encrypted vault. But there are a few common use cases where memorability is desirable. The ones at the front of my mind are full-disk encryption and login or screen-unlock passwords. I'd love it

[2020-05-07 19:26] Pomax opened #524 "The blog explains there both is no database, but also that there is a database... O_o"
Reading through https://blog.lesspass.com/lesspass-how-it-works-dde742dd18a4 I'm a bit confused by the combination of these two statements:

- "It does not save your passwords in a database"
- "You can host your own LessPass Database if you do not want to use the official one. "

Can someone clarify (ideally in the post) whether there is or isn't any database, and if there is one, what it contains

[2020-05-07 20:22] guillaumevincent commented on #524
In the blog post:

--

# What about complex password rules?

Sometimes sites have specific password rules. For instance, some banks only accept passwords made of numbers. So you have to remember both a strong password and complex rules.

Well, we built a “connected” version to tackle that. It works by saving your password’s profile, i.e. everything –except the master password and the generated pas

[2020-05-07 20:30] guillaumevincent commented on #523
Hello,
it's a good idea but, my only fear is that is will complexify the user interface and user experience;
non english people for example will find the list not so useful.
We can maybe try to list the problem we can create and see if it acceptable

[2020-05-07 20:59] mrdomino commented on #523
Sounds good.

UI complexity makes sense as a concern. Maybe it's possible to bury it on a different tab or something?

FYI, there are a number of different language word lists [here](https://theworld.com/~reinhold/diceware.html#Diceware%20in%20Other%20Languages|outline). Maybe it's possible to use those and switch the default based on language.

Other concerns?

[2020-05-07 23:09] Pomax commented on #524
Might be worth editing that a tiny bit (if that's possible?) to say:

Just so that searching the page for the word `database` lets you find what it's actually used for?

[2020-05-11 06:40] guillaumevincent commented on #523
I don't see other concerns for now cc @edouard-lopez
Let's experiment on this one, do you want to start a POC on this one?

[2020-05-12 09:17] canercandan commented on #236
Love lesspass using it everyday but indeed this issue is very annoying I guess as the android and chrome clients rely on the same backend, I encountered the same problem with both clients.

[2020-05-12 09:23] canercandan opened #525 "Similar "Use my master password" android flow in chrome extension"
Would it be possible to add a similar setting in the chrome extension as the one I am using on the android app.

The setting I am referring to is called "Use my master password" and allows the user to avoid sending a plain text master password during the login.

Although there is this "Encrypt the master password" link right below the login password field in the login form, I already forgot clicki

[2020-05-13 07:02] guillaumevincent commented on #236
Ah yes I can investigate in this direction. So basically authenticating yourself in the Android app, force you to authenticate again on the web extension?

[2020-05-13 07:03] guillaumevincent commented on #525
Yes we should do this!

[2020-05-13 08:01] canercandan commented on #236
@guillaumevincent The issue is more about having random logouts.

Although I tried the issue you described, I was logged in in the chrome extension and logout in the android app, then signed in the android app but I remained connected in the chrome extension, so it does look like we have this issue.

Thanks a lot for investigating on that.

[2020-05-13 08:26] edouard-lopez commented on #507
Could we make the auto-fill a two-steps process like:
1. First, highlight the field(s) we are going to fill (e.g. visually with CSS `outline` or whatever) ;
2. User confirms the field(s) are the correct

This could help reduce password's leak.

P.S. : we could also tell how many fields we are going to fill, e.g. `login+password=2` is fine but `login|login|password=3` is suspicious.

[2020-05-13 08:42] edouard-lopez commented on #376
I like the idea to protect against master password exposure, but

This mean we loose the cross-device support

I'm in favor of some form of 2FA. From the top of my head I think it could be a private URL, a file, a gesture, facial feature, etc. KeepassX has a `key file` field for that purpose.

[2020-05-13 08:53] edouard-lopez commented on #516
A starting point could be to look at the mobile app implementation:

https://github.com/lesspass/lesspass/blob/b81b62709ad1eb46b933314cd4b0ae08f9dea57e/mobile/src/settings/SettingsScreen.js#L47-L52

[2020-05-13 08:58] edouard-lopez commented on #524
Using the database is not something we want to push forward but a necessity due to some website bad-practices.

[2020-05-13 09:09] edouard-lopez commented on #60
@rabbishuki I like your nudge approach to progressively update password.

Do we agree that one will **only import the config** from the Old-password-manager, not the password itself, thus still need Old-password-manager for each password not yet updated ?

[2020-05-13 09:23] edouard-lopez commented on #236
@guillaumevincent telling user they need to log-back-in might reduce frustration as one will start filling the form right away then realize they are offline and need to start again.
For instance, a banner at the top to suggest to log-in?

[2020-05-13 09:41] edouard-lopez commented on #56
**Lib Sodium** offers a lot: https://doc.libsodium.org/

[2020-05-13 09:43] rabbishuki commented on #60
No.

If you don't get the password itself, then how would you be able to diff it from the newly generated password?

You need to get the password, and save it with the diff, so that if the user tries to login with `lesspass` he will be able to.

But you will nudge him to update the passwords, so that the old password doesn't work anymore.

[2020-05-13 09:45] edouard-lopez commented on #389
* #376 talks about 2FA
* https://github.com/lesspass/lesspass/issues/56#issuecomment-627873344 `lib-sodium` support `Argon2` (among other)

[2020-05-13 10:11] edouard-lopez commented on #523
I like the idea of readable passphrase, please continue on the **existing conversation #271**

[2020-05-13 10:12] edouard-lopez commented on #271
Duplicated by: #523

### Dice dictionaries

Have some drawbacks:
* files have a certain weight to them, Dutch and Māori are ~90k
* looks like they are translation from the English (no idiomatic word?)
* mostly restricted to Latin characters (no diacritics/accentuated characters, e.g. øéàō making it harder to recognize/read some word)
* some special characters entries

### Fun Facts
The French exam

[2020-05-13 10:21] edouard-lopez commented on #60
Using the old password to compute the diff is fine with me. Storing the diff doesn't seem concerning to me privacy-wise, but will require some modification to the backend.

However, storing the _old-pwd-to-update_ is a no-go for me as it will make the database valuable to attack, thus defeating our stateless approach.

[2020-05-13 10:32] rabbishuki commented on #60
You do have a point there, Can you not save the password, but get it each time the user tries to log-in?

Then explain, that it takes time, since you are doing a lot of work, and `click here` to change the password which will speed up the process next time.

That way, you will be changing the passwords, based on the order in which he uses the sites.

[2020-05-13 20:14] Pomax commented on #524
Which is fine, but right now that blog post is effectively an official document that explains what lesspass is, and it doesn't adequately explain what the database is even for, and that should get a little edit to either remove all mention of it, or explain what it's used for, because mystery databases do not inspire trust =)

[2020-05-13 20:51] guillaumevincent commented on #389
We could also look at wasm component from rust lib

[2020-05-13 20:53] guillaumevincent commented on #236
Hum, I would like to have the token working properly even after a restart of the containers. I will update the python modules in the containers to see if there is some improvment

[2020-05-14 04:52] rabbishuki commented on #60
@guillaumevincent Actually after a good nights sleep, I think you are right.

If we have `lesspass` result + the `diff` the result should be the password for the website.

[2020-05-14 11:31] guillaumevincent commented on #60
confirmed see https://github.com/lesspass/lesspass/blob/master/sandbox/test_import.py

[2020-05-14 12:26] rabbishuki commented on #60
Does that mean it is ready and we can try it?

[2020-05-14 14:55] guillaumevincent commented on #60
No it's just a try, to confirm it's doable.
I can confirm we can do it by just saving the entropy diff in the password profile.
I don't know the impact in term of security and need to investigate more.

[2020-05-14 14:59] rabbishuki commented on #60
Ok, let us know when it is ready.

On Thu, May 14, 2020, 5:55 PM Guillaume Vincent <notifications@github.com>
wrote:

[2020-05-14 21:27] bettyvschmartz opened #526 "Security of Lesspass"
Hi,

I am familiar with Master Password by Maarten Billemont and I have just come across Lesspass. I like the look of Lesspass as it improves upon UI limitations of Master Password which doesn't store profiles and can't help with sites that have strange password requirements.

However, I also came across this https://github.com/lesspass/lesspass/issues/88 where you were massively reducing password

[2020-05-15 05:51] guillaumevincent commented on #526
Hello,
You have the details here https://github.com/lesspass/lesspass/wiki/Overview-of-Password-Generation

[2020-05-15 06:22] guillaumevincent commented on #522
I close with #442 in mind

[2020-05-15 06:22] #522 closed

[2020-05-15 06:23] #523 closed

[2020-05-15 06:32] guillaumevincent commented on #526
We fixed the bug in less than one week with LessPass version 2 (see #89). Basically LessPass v2 is the algo described in the video: **The horror of LessPass**. Then we kept LessPass v1 and v2 in the app during 3 months with v2 by default (see https://lesspass.github.io/v1/#/). We finally remove LessPass v1.

If it answers your question feel free to close this bug

[2020-05-15 06:42] guillaumevincent commented on #524
@Pomax I agree, do you have some time to improve those 2 paragraphs? I will be happy to update the blog post.

If not, no worries, I will try to fix this issue when I found some time.
Thanks

[2020-05-15 06:55] guillaumevincent commented on #363
Hello,
I will close this one.
In term of user experience I don't know if it would improve something ("fingerprint > nav > search > clic > clic" versus "search > clic > fingerprint > clic").

Also if you don't "trust" the Android's encrypted storage, then LessPass is probably not for you. I mean the security in LessPass is inferior to Keepass or Birwarden, because of the deterministic nature of the

[2020-05-15 06:55] #363 closed

[2020-05-15 07:00] guillaumevincent commented on #396
Hello,
I'm closing this one, I will probably never have time to work on it.
Also it's not going in the right direction: "Remove LessPass Database".
Thanks

[2020-05-15 07:00] #396 closed

[2020-05-15 07:02] guillaumevincent commented on #400
Hello,
I close in favor of #278. Keep in mind I don't know if I will do #278.
I would like to abandon the database and focus LessPass on his stateless strength.

[2020-05-15 07:02] #400 closed

[2020-05-15 07:04] guillaumevincent commented on #525
duplicates #420

[2020-05-15 07:04] #525 closed

[2020-05-15 07:08] guillaumevincent commented on #240
close in favor of #https://github.com/lesspass/lesspass/issues/240

[2020-05-15 07:08] #240 closed

[2020-05-15 07:11] guillaumevincent commented on #404
closing this one
Feel free to send us a video of the workflow you would like.
To be honest I don't understand correctly the workflow you described.

[2020-05-15 07:11] #404 closed

[2020-05-15 07:15] guillaumevincent commented on #461
I close this one.
We will continue the discussion on #460

[2020-05-15 07:15] #461 closed

[2020-05-15 07:18] guillaumevincent commented on #469
Hello,
It's probably a good idea, but I think I won't have the skills or the time to investigate it.
I close

[2020-05-15 07:18] #469 closed

[2020-05-15 07:42] guillaumevincent opened #527 "Hall of Shame"
Hello,
I have had the idea for some time now of a simpler version of LessPass without a connected version. The connected version was introduced to talk about the bad practices of certain sites on the passwords they authorize.
These bad practices "force us" to have LessPass Database. Which is a shame for a stateless password manager.

I don't know how yet, but I would like to have a list of popular

[2020-05-15 07:43] guillaumevincent commented on #495
I close this one in favor of https://github.com/lesspass/lesspass/issues/527
I don't know how we will fill the hall of shame database for now.

[2020-05-15 07:43] #495 closed

[2020-05-15 08:22] bettyvschmartz commented on #526
Thanks for the overview and responding so quickly. That answers the concerns.

One final thing, you acknowledge in your article that you based Lesspass on the genius idea by Maarten Billemont, wouldn't giving credit that Lesspass is based on that idea, be fair? Unless it is credited somewhere?

-- BVS

[2020-05-15 14:47] guillaumevincent commented on #526
I talked about Maarten Billemont in the podcast, and in some presentations.

but yes sure, @lhunath Maarten can I add a link to your profile in the Readme of this project?

[2020-05-15 14:47] #526 closed

[2020-05-15 15:21] lhunath commented on #526
@guillaumevincent Feel free to reference us via masterpassword.app.

[2020-05-15 18:52] guillaumevincent commented on #526
Perfect I will thanks

[2020-05-15 18:53] guillaumevincent commented on #60
See https://security.stackexchange.com/questions/231723/how-can-i-calculate-the-entropy-reduction-in-my-system-im-going-to-introduce

[2020-05-15 23:14] Pomax commented on #524
I can file a PR, but I know nothing about the details of that database beyond what you explained, so if the text I suggested is good enough I can file a PR, but it's probably even faster for a repo-member to hit "edit" on the file and either commit that change directly or commit it as separate branch with immediate "create pull request" so they can insta-land it =)

[2020-05-17 06:27] praxiq commented on #404
I didn't suggest that Pocket workflow, that was @thenhustey. It sounds complicated to me.

I suggested instead, using Android's built-in autofill API, which is specifically designed for password apps to autofill passwords easily! If you've used an Android device in the last few years you've seen it, since it comes with Google's password manager autofill-enabled by default. [Here's a video](https:/

[2020-05-18 22:07] elgow opened #528 "Custom character class to handle bogus password policies"
Some sites (looking at you Equifax) have odd policies for password character classes, e.g. a restricted set of special characters from which at least one must be used. This totally breaks LessPass because the special chars can only be turned on or off in full, not piecemeal.

How about adding a "Custom" character class, off by default, that could be activated and populated with whatever oddball se

[2020-05-18 22:38] elgow opened #529 "Dump database for local backup as CLI commands"
It would be very nice to have a way to get a local backup of the contents of my lesspass DB. One simple way to go about this would be to dump the DB as a bunch of CLI commands like

      lesspass -d -L 20 -C 3  https://some_site.com username

and so on, so that the settings for password generation would be preserved in a usable way in a local file. This would provide a local fallback in case the

[2020-05-19 07:11] guillaumevincent commented on #529
Hello,
I don't understand correctly. I see 2 features in your request:

## first backup and restore password profiles in CLI

You would like a way to save password profiles saved in LessPass Database with the cli:

    lesspass backup

It will produce something like `20200519-lesspass-database.json`

And a command to load the password profiles backuped like:

    lesspass restore 20200519-lesspass

[2020-05-19 16:43] elgow commented on #529
Hi,

I'm sorry for my unclear explanation. What I am proposing is a way to dump the contents of the online DB to a local file, in line with your "lesspass backup" example below. I was further proposing that the format for the dumped file be a series of lesspass CLI command lines with the options set to capture the saved settings for each site. My reasoning was that the CLI has a syntax for represe

[2020-05-28 22:17] elgow commented on #528
Recent experience has shown that the passwords generated by lesspass do not change sufficiently with changes in length or password version to work around difficult password policies.  I had a problem trying to use lesspass to create a password that can satisfy a  policy which requires at least one of the characters in the set  `!@#$%^&*()-_+={}[]:<>.?/`  but disallows the set  `*~\|;"',`.   For my

[2020-05-29 08:43] gkl1368 opened #530 "Nginx example config"
How to config new lesspass docker with nginx? Can you give a nginx example config file? Thanks.

[2020-06-04 07:49] yonyonson commented on #261
That would be great to have an iOS app for lessPass

[2020-06-06 07:22] mak003004 opened #532 "Lesspass account credential change"

[2020-06-06 07:35] #532 closed

[2020-06-07 08:54] durkis33 opened #533 "fine control of passwords gone"
Hello Guillaume!

Please help, the extension is no longer displaying the controls for stupid passwords. I have the buttons for turning off numbers, letters and special characters but I have no way to control the number of these characters in the password as I used to and no control panel button as there used to be. Tried to take a screenshot but you're too good a programmer, I guess, and Lesspass

[2020-06-07 17:34] fulldecent opened #534 "Integrate rules from Apple Password Manager Resources project"
# Supersedes:

- #527
- #495

# Issue

Apple has published a list of custom websites rules:

https://github.com/apple/password-manager-resources/blob/master/quirks/password-rules.json

We should integrate these into this project as follows:

- [ ] Include that file verbatim in this project
- [ ] Create a CI rule which compares the version in this project with the upstream file to alert us if our f

[2020-06-07 17:35] fulldecent commented on #527
This issue originated at #495.

Apple has taken on the scope of this issue so I recommend it is removed from our project's scope.

Recommending to close this issue in favor of #534.

[2020-06-08 06:53] guillaumevincent commented on #533
Hello @durkis33,

nothing change on LessPass side.

What do you mean by :

You can't control the number of chars for a specific set of characters.

[2020-06-08 06:56] guillaumevincent commented on #534
Hello,

yes I tweeted about this project 2 days ago. I need to think how we can collaborate back to this project and use it directly in LessPass.

[2020-06-08 07:00] durkis33 commented on #533
really? i was sure that was a feature. perhaps it's just the increasing
level of stupidity in password requirements that has me confused. This one
had a subset of characters that had to be used seven times. (!) I am a
fuzzy thinking artist so its entirely possible i am wrong. Looks like i was.

Thanks for getting back to me, love your project

stu

On Mon, 8 Jun. 2020, 14:53 Guillaume Vincent, <no

[2020-06-08 07:05] guillaumevincent commented on #533
Hello @durkis33,
yes the number of element for each rules can be from 1 to password length minus number of other rules. The number is random. You can only choose if you should include a char in those rules or not.
I close this one
Thank you for your support :heart:

[2020-06-08 07:05] #533 closed

[2020-06-08 07:09] guillaumevincent commented on #530
Hello @gkl1368 ,

what do you mean by

The new containers from https://github.com/lesspass/lesspass/tree/master/containers will use `httpd` not `nginx`

[2020-06-08 07:13] guillaumevincent commented on #529
IMO the format of the dump should be easy to read for a computer. It's better to have a dump in json, than a dump in plain text. If we update the cli API, the migration will be harder, because we will need to parse the file.

[2020-06-08 07:21] guillaumevincent commented on #528
I think we shouldn't spend too much time implementing features for sites that make the life of password managers difficult. Rather, these sites should be encouraged to change and apply good practices.

One of the features of LessPass is its simplicity. Implementing this kind of functionality does not make the tool simpler. It will make the interface more complex. It will also slightly reduce the s

[2020-06-08 07:24] guillaumevincent commented on #530
I close

Feel free to create your own container and ask for some help if you encounter some issue.

you can look at the httpd conf [here](https://github.com/lesspass/lesspass/blob/master/containers/webserver/httpd-ssl.conf#L127-L168)

[2020-06-08 07:24] #530 closed

[2020-06-08 07:25] guillaumevincent commented on #527
I agree

thank you @fulldecent

[2020-06-08 07:25] #527 closed

[2020-06-08 16:46] elgow commented on #528
Simply put, it is utterly unrealistic to expect all of the sites with bad policies to alter them. For small restrictions in special characters such as the actual example I cited it's likely that the site infrastructure somehow dictates the policy.  They would need to change their infrastructure to make it work with LessPass. The notion that even a small fraction of the sites would do that because

[2020-06-08 19:10] guillaumevincent commented on #528
I was more thinking about Apple, not us. We are too small to force anybody.

Not all, only site that force you to add a symbol but not all symbols. I don't know much.
How many site are concerned?

How do you handle site A refusing `*~\|;"',` and site B refusing `@!/\` ?

Did you expect a user saving this in a password profile in LessPass Database? Or did you expect LessPass to save a default passw

[2020-06-08 19:29] elgow commented on #528
Hi,

I've been editing my comment above to reflect a better understanding of your proposed usage of LessPass in the face of bad site password policies. I'd appreciate if you could read through it to get my better considered statement of what I see as the problem.  I'd say my concern is best expressed by this:

"The effect is that the bad site policy forces users to have slightly less secure passwo

[2020-06-08 20:27] guillaumevincent commented on #528
So for Equifax for the cli it will be something like:

    lesspass my.equifax.com email --symbols "!@$*+-"

Am I correct ?

And it will get symbols in pool of char `"!@$*+-"` instead of the whole list of symbols

[2020-06-08 20:31] guillaumevincent commented on #528
I still don't want to complexify the UI, but will see, maybe there are a lot of site where we need a custom set of symbols

[2020-06-08 20:59] elgow commented on #528
Thank you for looking again at my concern. The list of excluded chars is generally shorter than included chars, so I'd advocate something like

lesspass my.equifax.com email --exclude "!@$*+-"

That said, your CLI example does expose one issue, (though only for users sophisticated enough to use the CLI). The set of special chars consists mostly of symbols that have syntactic or semantic meaning in

[2020-06-14 09:07] FranzSkuffka opened #535 "Feature request: More seamless password generation"
I was thinking that the current workflow is cumbersome:
- I have to type the email twice
- I have to manually open the popup
- I have to manually paste my generated password

It would be great if lesspass had some means of understanding the current page and integrating more tightly with the existing UI. That could mean.

- cool: copying the email address from the input field when opening the popup

[2020-06-23 09:28] csdt commented on #60
That's a really nice idea.
However, I don't see how you would "reverse" the password generation to calculate the entropy diff.
Wouldn't it be simpler to have a "mask" to apply to the generated password? Like a xor key?

Of course, a naive xor key could leak information about the real password, so it would be better to have an additive mask modulo the size of the character set.

---
Also, could thi

[2020-07-09 07:35] zcei commented on #459
@guillaumevincent is the rewrite `pacakges/lesspass-site` and has this actually been deployed to lesspass.com?

Wondering, because I stumbled across the dead CLI link as well and thought I'd submit a quick PR, but it looks fixed on current master, where the file in question was touched last Oct 19. So I'm a bit confused right now 😆

https://github.com/lesspass/lesspass/blob/6bff48ac9b365bab2f0feae

[2020-07-09 12:15] guillaumevincent commented on #459
I didn't update the frontend container on production no
I should do it

[2020-07-10 12:16] #459 closed

[2020-07-10 12:16] guillaumevincent commented on #459
I updated the container on production

[2020-07-13 15:13] GaboFDC commented on #278
I see this is still open, and see the comment from https://github.com/lesspass/lesspass/issues/400#issuecomment-629067859
I understand the point that this will not entirely follow the stateless intention, but it does add a pretty decent amount of usability.
And since there has not been any update on this, I just wanted to do a little push to get this considered again

[2020-07-16 16:18] biancarosa opened #536 "Add the possibility for the user to share a password profile file instead of using a database"
I know this is a very random idea that would probably involve a lot of refactoring to allow the password profile to come from a file instead of a postgresql database, but I was thinking that it could be a interesting feature since I can use the lesspass website completely offline, but I cannot have a completely offline access with the benefits of the connected version.

It'd also allow the person

[2020-07-16 19:46] guillaumevincent commented on #536
Hello @biancarosa,
a sort of import password profile file and export password profile file feature ?
And password profiles can be save in the local storage of you browser.
Something like that?

[2020-07-16 19:50] guillaumevincent commented on #535
In term of security I think it's not a good idea to copy the master password in the input field of the web site.
But an auto login feature could be something that will solve your issue.

Something like:

 * ctrl + shift + L open the popup
 * fill the login with you email
 * fille your master password
 * hit enter

it will find an email field in the page, then find a password field in the page and

[2020-07-16 20:59] #528 closed

[2020-07-16 21:04] guillaumevincent commented on #535
I close in favor of https://github.com/lesspass/lesspass/issues/449

[2020-07-16 21:04] #535 closed

[2020-07-16 21:07] guillaumevincent commented on #507
@Platane do you know how Dashlane do the overlay ?

I will close this one an create an issue to have "a page to manage the saved profile"

The auto login issue already exists

Thank you

[2020-07-16 21:23] Platane commented on #507
They use an injected script, then position a new element absolutely (I guess ?)

Sorry I kind of lost interest in this issue over time as I don't have that much oss time nowadays :(

[2020-07-16 21:42] guillaumevincent commented on #507
No problem, I will close this one and create another issue
I will look at Dashlane overlay how they handle communication with the web extension

[2020-07-16 21:42] #507 closed

[2020-07-16 22:13] FranzSkuffka commented on #535
Thanks for the reply. I am afraid I did a poor job describing what I meant:

![image](https://user-images.githubusercontent.com/7485959/87727854-28c7ff80-c7c2-11ea-8aff-b6f90ec67ef0.png)

However, I assume that we do not want the events from keystrokes of the master password to touch the DOM of any site, because any site might be compromised.

[2020-07-17 05:23] guillaumevincent commented on #535
Yes exactly

Are we agree that auto login will solve your 3 points?

[2020-07-18 03:34] biancarosa commented on #536
Yeah, something like that!

I'm sure that probably we should tackle #185 before adding it, though, as it'd add more complexity and encrypting the profile is probably more important.

[2020-07-18 03:36] biancarosa commented on #457
@FaustXVI are you still looking at this issue? I'd like to see password profiles encrypted, too, and I currently have the time to help with this issue.

[2020-07-18 10:13] FaustXVI commented on #457
Hello,
I am not looking at this issue currently.
Some priorities changes for me and I didn't had time to do it.
I'll be super happy if you find time to do it :)
Thanks a lot!

Xavier Detant

On Sat, 18 Jul 2020, 05:36 bianca rosa, <notifications@github.com> wrote:

[2020-07-19 19:21] jasonbunnell opened #539 "Must Login WIth Each Use"
Using Lesspass 9.1.9 Extension for Firefox.  Requires login each time.  Have been using for over a year but with the latest update I need to re-authenticate for Lesspass to populate saved fields.

[2020-07-20 07:39] guillaumevincent commented on #539
Oh sorry for this,
let me fix this as soon as possible

[2020-07-20 09:45] finuex opened #540 "Get Domain without Subdomain"
- Case:
  1. "https://web.facebook.com/..."
  2. "https://mbasic.facebook.com/..."
- Expected:
  1. "facebook.com"
  2. "facebook.com"
- Reality:
  1. "web.facebook.com"
  2. "mbasic.facebook.com"

current solution:

Related discussion:
#45, #148, #199, #258

Suggestion:

[2020-07-20 10:49] guillaumevincent commented on #539
It will be fixed by https://github.com/lesspass/lesspass/commit/7750813ebe5a77c36dd7eb1dd63647b672f3dce3
Thank you

[2020-07-20 10:49] #539 closed

[2020-07-20 10:49] guillaumevincent commented on #516
It will be fixed by https://github.com/lesspass/lesspass/commit/7750813ebe5a77c36dd7eb1dd63647b672f3dce3
Thank you

[2020-07-20 10:49] #516 closed

[2020-07-20 10:49] guillaumevincent commented on #236
It will be fixed by https://github.com/lesspass/lesspass/commit/7750813ebe5a77c36dd7eb1dd63647b672f3dce3
Thank you

[2020-07-20 12:34] guillaumevincent commented on #540
Hello,
this is a nice idea, but how do get primary domain name ?

what about: `bbc.co.uk` for example ? `co.uk` is a tld

do we want to store common tlds in order to be able to return `bbc.co.uk` ?

[2020-07-20 12:36] guillaumevincent commented on #536
Ok so I close in favour of https://github.com/lesspass/lesspass/issues/529

duplicates: #529

[2020-07-20 12:36] #536 closed

[2020-07-20 12:39] guillaumevincent commented on #278
Hello @GaboFDC
my main concern is more in term of user experience and user interface.
Except that I'm good with the idea of aliases for a password profile.

[2020-07-20 19:58] finuex commented on #540
Hi,

maybe that can be the solution. or using this?
domain = `["bbc","co","uk"]` //split the domain
if the last 2 (domain[domain.length-1-1]=="co|ac|...") are "co","ac" or the other, than primary domain name is from the last 3 if not,then its from the last 2.

I'm not very familiar with domain names, so can this be a solution?

[2020-07-20 20:17] guillaumevincent commented on #540
I'm not familiar with DNS neither. I just remember trying to import a big file (>2Mo) with all TLD just to be able to return the primary domain name. But it was 4 years ago.

If we cover most of the domain names, then yes, I think we can implement this feature.
We can look at 1m top sites and see how many are using ccTLD

[2020-07-20 21:15] #402 closed

[2020-07-23 09:48] guillaumevincent commented on #271
@edouard-lopez I close this one again please don't reopen

This feature will introduce some complexity in the ui, and I will probably never implement because of low priority and not a lot of time.

I will reopen if I found some time one day and most priorities issues are resolved

Thanks

[2020-07-23 09:48] #271 closed

[2020-07-23 09:50] guillaumevincent commented on #457
Thank you @biancarosa
I close it's fixed by https://github.com/lesspass/lesspass/commit/730e7ae0c737d20715c54baf67ba94f9b3d60bd5

[2020-07-23 09:50] #457 closed

[2020-07-23 09:53] guillaumevincent commented on #490
Maybe @JelleHissink you speak about the password field on mobile right ?
I will go with a better font than different colors for numbers because of ux issue with colors

[2020-07-23 10:57] ogarcia opened #542 "Document all client-server API methods"
I don't know if this documentation already exists, but I couldn't find it.

I think that would be a great idea have a good documentation of all methods of LessPass server API. Maybe a single [Swagger][1] could be enough to know how it works.

[1]: https://swagger.io/

[2020-07-23 12:21] guillaumevincent commented on #542
All endpoints are tested here :

 * https://github.com/lesspass/lesspass/blob/master/containers/backend/api/tests/tests_passwords.py
 * https://github.com/lesspass/lesspass/blob/master/containers/backend/api/tests/test_auth.py

I plan to change and break things probably in the future.
Documenting is time consuming, I'm not sure I will have the time to maintain doc and make the api retro compatible

[2020-07-23 12:35] ogarcia commented on #542
I have a [small dumb cli client][1] written in Python to obtain all values from server :smile:

In the other hand there is a [go server implementation][2] that [recently I fixed][3] to support the last breaking changes.

With a Swagger file (or similar) that have sample request by method is more easy to implement the changes.

[1]: https://github.com/ogarcia/lpacli
[2]: https://github.com/tuxlinux

[2020-07-23 14:44] guillaumevincent commented on #542
Ok so you are doing a server

The actual API should stay like this, but I can't promise. I plan to work on the server, and I may introduce some breaking change :woozy_face:

Do you want to be notified in advance ?

I close because I didn't plan to document the actual api for now.
But you can look at the test api folder to see code as a living doc.

[2020-07-23 14:44] #542 closed

[2020-07-24 15:38] gimzmoe opened #543 "encfs + lesspass"
I've been using "CLI" lesspass with encfs
`encfs --extpass="lesspass $clear $USER" $crypt $clear`
previous to the new ascii outout (very clever) this worked fine to query for the master password and return the lesspass for encfs.  The new behavior appears to include "Master password: `random-icons` Password" as the output.

Perhaps it was intentional, or an unintentional side-effect, I'm still try

[2020-07-24 16:13] guillaumevincent commented on #543
Hello,

it was intentional, I will update the documentation

Could you add a `--no-fingerprint` parameter in your cli to avoid the icons ?

[2020-07-24 16:16] #490 closed

[2020-07-24 16:17] guillaumevincent commented on #490
before
![image](https://user-images.githubusercontent.com/943762/88412500-f6c62700-cdd9-11ea-87d8-e32f29a6e237.png)
after
![image](https://user-images.githubusercontent.com/943762/88412468-eb72fb80-cdd9-11ea-915b-ac07b7c14347.png)

[2020-07-24 16:21] #543 closed

[2020-07-24 16:22] JelleHissink commented on #490
Sorry for the late response, hope I did not miss any of the fun.

I had some issues with reading the password. Sometimes I need to enter a password on a different device, e.g. a work related computer.
Then it is a burden to install the software as I already have it on my phone.
This looks like a workaround that is good enough, I suspect the 1 an l being more distinct like this too.

[2020-07-24 19:36] guillaumevincent commented on #490
Yes you can try the font here https://sourcefoundry.org/hack/playground.html

[2020-07-24 20:17] gimzmoe commented on #543
that's what was missing, thanks, all better now.

[2020-07-25 01:27] biancarosa commented on #185
I'm gonna try to take a look at this.

@guillaumevincent what do you think, instead of using two keys and a random key, we can just use another model like `EncryptedPasswordProfile`, so in the next time the user logs we...

- Retrieve not encrypted file.
- Encrypt in the frontend.
- Save the encrypted file.

I don't think we need to save the encrypted_key in the database in that scenario, we can j

[2020-07-25 21:32] guillaumevincent commented on #261
I implemented iOS native module for fingerprint and entropy functions
Looks like iOS app is working

If you are an iOS developper, feel free to test it
I will start doing some tests, and try to push the application to the app store

![Simulator Screen Shot - iPhone 11 - 2020-07-25 at 23 28 34](https://user-images.githubusercontent.com/943762/88466629-9e248600-cece-11ea-9e39-03cdf69ef635.png | widt

[2020-07-26 06:32] guillaumevincent commented on #185
Hello,
nope we need to generate an encryption key per user in case he want to change his password. We don't want to reencrypt all passwords profiles everytime.

[2020-07-29 06:44] ogarcia commented on #542
No, a client, the server is a @tuxlinuxien work :-D

In this case I suggest you to use API versions. At this point you have several strategies to do this, but the easy one is use the /api/v1/endpoint, /api/v2/endpoint... etc.

Using the URL strategie you can reuse pieces of code and maintain backwards compatibility. And can have /api/endpoint (without vX in URL) pointing to latest version.

If you

[2020-08-01 19:40] HerrBert233 commented on #376
I second this. It is not so important to be be purely stateless, I think this is more a marketing catchphrase but in practice a "private key" does not add so much overhead.
Because you only have to sync it once per device! What people don't like about traditional password managers is that you have to sync every new password is entered. But a single sync every time you buy a new device, that's noth

[2020-08-01 19:51] HerrBert233 opened #545 "Clipboard should have expiration date"
Hi,

currently, the main source of password transfer from the extension or app to the website is the clipboard.

Here, someone was worried as well about the security of this method: https://github.com/lesspass/lesspass/issues/508

He said something interesting. To reduce the risk, he performs the following step after password has been transferred:
"copy some other text so other apps can't read my

[2020-08-01 20:46] guillaumevincent commented on #545
If you find a way to do this on the web, I would be happy to integrate this feature.

But see the sandbox folder

[2020-08-04 08:16] tim-peters commented on #236
Unfortunately this appears not be fixed yet (on the opposite my subjective expression is that it got even worse).

I still have to re-authenticate again almost every second time I use one of the browser addons.
This is frustrating since (from a UX perspective) it feels as inconvenient as not having a password manager at all (the only difference is that I don't have to type in the individual passwo

[2020-08-04 15:34] guillaumevincent commented on #236
@tim-peters can you give me :

 * browser name and the version of your browser
 * version of the browser extension

I'm on Firefox 79.0 with LessPass Web Extension 9.2.0

When I reopen the web extension after being authenticated, I don't have to authenticate again.

Today the actual behaviour is the following:

If you use LessPass at least once a week, you will be authenticated forever: see https:

[2020-08-04 15:42] #545 closed

[2020-08-10 12:27] caywin25 opened #546 "Alternative installation without docker ?"
Hello,

Congratulations for your work.
Lesspass is an excellent software.
If I want to host my own instance, I could read that it has to be done via Docker.
Is there a dockerless installation please?
Thank you

[2020-08-13 17:18] guillaumevincent commented on #546
Hello,
do you have an OS in mind ?

[2020-08-14 13:45] caywin25 commented on #546
Yes, openbsd :)

[2020-08-15 02:04] MalteKiefer commented on #261
Could you put it on testflight, so I can test it for you?

[2020-08-15 06:53] guillaumevincent commented on #546
Hum, one server I don't know very well.

For the server you will need apache, python 3 and https certificates. What will be the best outcome for you?

I can document the installation pieces in the wiki and you can help improving the doc

[2020-08-15 06:56] guillaumevincent commented on #261
Excellent idea, I will push this on testflight

[2020-08-15 08:07] MalteKiefer commented on #261
When you done, could you give me the link?

[2020-08-17 16:30] tim-peters commented on #236
@guillaumevincent After authenticating yesterday the login was still persistent this morning. But today during the day I had to re-authenticate several time on all devices / add ons.

I wish it would be as you describe as 'actual behaviour'.

I use:
- LessPass Web Extension 9.2.0 on Firefox 79.0
- LessPass Web Extension 9.2.0 on Chrome 84.0.4147.125
- LessPass Android App 9.1.10 on Android 9 (Xiao

[2020-08-19 14:37] medev0 opened #548 "3 icons fingerprint inconsistency in the CLI version"
lesspass version: 10.0.0
python version:     3.8.5

Different set of icons is displayed each time a password is generated, with the same master password.
The generated password itself is consistent and doesn't change.
One can't rely on the fingerprint icons anymore to detect mistakes in the master password.

For the screenshot below I used "test" as a master password, and the rest of parameters ar

[2020-08-22 06:45] panther2 opened #550 "Strange delay when fetching the site name"
Starting from this morning I experience a strange delay when LessPass Extension catches the site name.

See in this image how the site name stays empty:

![lesspass](https://user-images.githubusercontent.com/20812775/90951059-8dc4e400-e457-11ea-93fd-8ccd0383c307.png)

It takes about minimum 15 seconds until the site name finally appears in the LessPass site name box, instead of appearing instantly

[2020-08-24 07:04] guillaumevincent commented on #550
If you click again on the web extension, does the site appears instant ?
Or it's every time?

[2020-08-24 07:46] panther2 commented on #550
@guillaumevincent

I will test this as soon as the issue occurs again.
The problem here is that the situation described does not occur every time.

It happens somehow arbitrarily. Until now I was not able to figure out possible reasons.

I have checked background processes, RAM-usage etc. when it happened, but I have not been able to identify anything strange or unusual until now.

[2020-08-24 15:54] tim-peters commented on #236
Not that I know of. And this would only explain my web browser's extension not the android app, right?

[2020-08-26 06:36] panther2 commented on #550
@guillaumevincent I am closing this issue for now. It occurred only once again with Chrome 84 and never again with Chrome 85 - at least until now.
For now I am suspecting a temporary Chrome issue behind it.
I will reopen the issue in case I notice that behaviour again.

[2020-08-26 06:36] #550 closed

[2020-08-26 07:36] guillaumevincent commented on #550
Ok thank you for your tests

[2020-09-02 18:38] guillaumevincent commented on #261
Today I tried to publish LessPass app on the App Store. Apparently someone already publish the application before me. 😕 What should I do ?

Any help here?

[2020-09-02 18:48] MalteKiefer commented on #261
Contact to Apple.
Maybe tell them who you are.
Do you have a link to the app?

[2020-09-02 18:56] guillaumevincent commented on #261
Nope I can't find it.
I sent Apple an email, will see.
I will use "LessPass Password Manager"
Thanks

[2020-09-02 18:57] MalteKiefer commented on #261
Thank you, when will you release it to TestFlight, can not wait to test it

[2020-09-02 21:11] guillaumevincent commented on #261
Beta team should validate the app, upload is done.
As soon as I have a link, I will share it here

[2020-09-03 08:06] MalteKiefer commented on #261
Can I join the beta team, please?

[2020-09-03 13:00] guillaumevincent commented on #261
Beta App review team is a team at Apple, validating the app before we can publish an app on Testflight.
Send me an email at contact(at)lesspass.com and I will put you in the testers. Thank you

[2020-09-03 19:38] guillaumevincent commented on #261
Let's go

https://testflight.apple.com/join/Wf2wb7e2

[2020-09-04 01:48] MalteKiefer opened #552 "[iOS] Hide Keyboard"
When you start the app you see directly the keyboard. There is no way to hide it. To hide you must click enter in an input. Here a screen
![image](https://user-images.githubusercontent.com/59220985/92190391-5562d400-ee61-11ea-95f3-c41cdc3183e3.png)

Better would be something like in the Github app, controls to hide

![image](https://user-images.githubusercontent.com/59220985/92190413-6b709480-ee61

[2020-09-04 01:50] MalteKiefer opened #553 "[iOS] uncheck checkbox white"
When you uncheck an option for the password generation, there is no checkbox it is white:

![image](https://user-images.githubusercontent.com/59220985/92190539-bf7b7900-ee61-11ea-9adc-db4d8791f597.png)

[2020-09-04 01:52] MalteKiefer opened #554 "[iOS] master password locally slide not activated"
I have save my master password locally, but the slide is still disabled.

![image](https://user-images.githubusercontent.com/59220985/92190679-0cf7e600-ee62-11ea-964c-5a518605a175.png)

(Apple hides in screen passwords, believe me there is one)

[2020-09-04 01:55] MalteKiefer opened #555 "Show account information when connected"
When I logged me in, there is no way to see which account I am using.
Maybe you can show some information:

![image](https://user-images.githubusercontent.com/59220985/92190837-6a8c3280-ee62-11ea-8183-ff53279fbf80.png)

[2020-09-04 08:42] guillaumevincent commented on #555
Thank you for all your tests, I will try to fix those issues

[2020-09-08 10:15] vuleetu commented on #261
finally, cool @guillaumevincent

[2020-09-09 18:39] guillaumevincent commented on #553
apparently it's by default on react native paper (lib I use for the apparence)

https://callstack.github.io/react-native-paper/checkbox-ios.html

I'm wondering how a checkbox is displayed unchecked on safari

[2020-09-09 18:50] gregfenton commented on #553
You have the option to use React Native Paper's `Checkbox.Android`.  That's what I've ended up doing to ensure consistency on all platforms (you get the "Android" design/behavior on all platforms...).  See https://github.com/callstack/react-native-paper/pull/2116 .

[2020-09-09 19:35] #553 closed

[2020-09-09 19:36] guillaumevincent commented on #553
Thank you @gregfenton
I appreciate your help !

Indeed it's very simple

[2020-09-09 20:24] #554 closed

[2020-09-09 22:41] guillaumevincent commented on #261
In order to be able to name the application LessPass, I was forced to create a new app (rename with a new version wasn't working on the US). I deleted "LessPass Password Manager" from the testflight program.

Review is being done for "LessPass", we will be on the app store probably tomorrow or on friday
I will close this issue soon

Thank you for your patience, support, help, money, etc 😍
The comm

[2020-09-10 05:59] guillaumevincent commented on #261
The new testflight link: https://testflight.apple.com/join/grzBe7bN

[2020-09-10 06:00] MalteKiefer commented on #261
Thanks for your work

[2020-09-10 22:22] guillaumevincent commented on #261
We can close this one: https://apps.apple.com/app/id1531215924

[2020-09-10 22:22] #261 closed

[2020-09-12 18:28] elgow commented on #528
Thank you for adding the --exclude feature to the CLI.  The real value would come with extending it to the other interfaces and the DB. I noticed today that ebay does not allow the "/" character in passwords. I think that, like me, your users will keep running into sites for which lesspass does not work properly until this feature is completely integrated.

One way of making the feature much more

[2020-09-16 21:35] Celeborn2BeAlive opened #556 "[cli] ModuleNotFoundError: No module named 'termios' on Windows 10"
On Windows 10, with python 3.7.9 installed through pyenv-win, lesspass installed with pipx, and MSYS2 bash, I had the following exception:
[code]

I searched through the issues but could not find a duplicate. Other people seem to have no problem running lesspass cli on Windows so maybe there is something wrong with my python setup ? A search online confirms that 'termios' is not supported on Windo

[2020-09-17 20:00] guillaumevincent commented on #556
Hello,

I don't have a window machine to test

can you give me the version of tty please?

    pip freeze

[2020-09-17 20:01] guillaumevincent commented on #556
https://stackoverflow.com/a/52063932/866886

[2020-09-18 13:57] Celeborn2BeAlive commented on #556
Since `tty` seems to be a std lib module, I have no version for it (`pip freeze` only display one line `lesspass==10.0.0`, you have no pip dependencies right ? otherwise it seems strange).

Documentation https://docs.python.org/3/library/tty.html confirms:
[code]

Maybe if `tty` is not used too much in the codebase it could be replaced with another module ? (or the used functionnalities could be r

[2020-09-21 06:18] guillaumevincent commented on #556
yes, I need to fix this one and make a conditional import

[2020-09-21 14:19] Celeborn2BeAlive commented on #556
Since you don't have a windows I can try to fix it on my side and send you a pull request if you want

[2020-09-22 07:04] guillaumevincent commented on #556
@Celeborn2BeAlive it will be awesome

you can look at this example for the import https://gist.github.com/michelbl/efda48b19d3e587685e3441a74457024#file-kbhit-py-L22-L30

Thank you

[2020-09-24 03:23] claudiusraphaelpaeth commented on #540
As i just faced this issue - lesspass not shorten the url to the name.domain-part - i'd like to know:

- how a modular extension to lesspass shall be designed
- what a subset allowing for use in all versions/editions of lesspass (win/chr/ios/and/cli) would be

... basically: @guillaumevincent could you provide an overview how you would like to see it implemented?

[2020-09-24 07:41] guillaumevincent commented on #540
The best way to do this, is to add an option "keep only domain name" and use https://publicsuffix.org/list/public_suffix_list.dat
The only issue I see is on the web where downloading public_suffix_list.dat is not good

[2020-09-24 08:20] claudiusraphaelpaeth commented on #540
I was thinking of using REST API calls provided by IANA/WhoIs, as it responses only with valid TLD/ccTLD and accredited registrar for the given domain is also provided, which could be used for a follow-up request for registrar-specific 2nd-level TLDs, e.g. .co.uk .

If that makes sense?

[2020-09-24 08:45] guillaumevincent commented on #540
We need to keep the offline mode

I'm not sure I understand the question so, I'm sorry

[2020-09-24 08:53] claudiusraphaelpaeth commented on #540
Using a downloaded curated list for the offline-mode surely is the way to go.

This list can be derived from the official Whois-Databases.

My thought was especially targeted at the Chrome-AddOn and the CLI-versions of lesspass, which can easily make use of the given REST-APIs when online and cache the response and therefore store an always up-to-date curated list.

[2020-09-25 15:57] betsythefc opened #558 "Feature Request: Delete account"
Hello, I used to be a user, but moved to a different platform. I think that it would be good to have an option to remove the password profile sync account. It could/should be a button to delete in the settings when signing in.

[2020-09-27 18:34] BlackthornYugen opened #560 "Self hosted lesspass calls out to lesspass.com by default"
I'd appreciate any guidence on how the default database can be configured. When deploying my own lesspass there isn't a simple way (that I can see) to change the default lesspass url. Even worse, it calls out to the default database url ( https://lesspass.com/api/passwords/ ) imediatly after loading the page.

In order to prevent this I had to create a content security policy to prevent this from

[2020-09-28 12:19] guillaumevincent commented on #560
Hello @BlackthornYugen,

are you speaking on the backend side ?

On the frontend, the BaseURL on the log in page is used to change the backend server used in the code.

[2020-09-28 12:20] guillaumevincent commented on #558
Hello @betsythefc,

send me an email at contact(at)lesspass.com, I will delete your account

[2020-09-28 12:20] #558 closed

[2020-10-01 16:01] Enderdead opened #561 "Error with self hosted back end and firefox extension"
Hello,
I self-host my own lesspass server with both front and back end.
I can create an account and log in using the web page.
But when I'm trying to use the firefox extension (9.2.0) in order to log in, I get an error.

The extension says:  "Oops! Something went wrong. Retry in a few minutes."
At the same time, the back end throw an error : "backend_1   | Not Found: /api/auth/jwt/create/"

Do you

[2020-10-01 16:57] Enderdead commented on #561
Update :
With the extension 9.1.4, every things work fine.
I assume my back end isn't updated.
I pull all docker image, remove old one and restart the service using docker compose but nothing change...
Have you an idea ?

[2020-10-02 07:54] guillaumevincent commented on #561
Hello,

I think you are not using the appropriate containers:

    https://github.com/lesspass/lesspass/blob/master/containers/docker-compose.yml

quay.io/lesspass/backend:latest
quay.io/lesspass/frontend:latest
quay.io/lesspass/webserver:latest

I use quay.io registry

[2020-10-04 15:41] monperrus commented on #68
FYI lesspass-pure is not standalone as a local file in firefox anymore, because loading `lesspass.min.js` on a `file:///*` URL is blocked by content blocking.

To make it standalone again as a local file, the JS code must be embedded in the HTML directly, as done for instance on `https://iancoleman.io/bip39/`

[2020-10-05 11:57] owtotwo commented on #556
Maybe just move the `import tty` and `import termios` to else block of `if os.name == "nt":` in file [fingerprint.py](https://github.com/lesspass/lesspass/blob/master/cli/lesspass/fingerprint.py) head, then it will solve this problem. : )

![lesspass-cli-bug-fix](https://user-images.githubusercontent.com/13444035/95076787-fd134080-0744-11eb-8121-0ed873cc24b2.png)

[2020-10-05 12:15] guillaumevincent commented on #556
yes @owtotwo

would you like to create the easy fix ?

[2020-10-05 13:18] owtotwo commented on #556
I did an easy fix in [PR](https://github.com/lesspass/lesspass/pull/563).

[2020-10-05 13:31] #556 closed

[2020-10-05 13:50] Enderdead commented on #561
Thank's a lot! Everything works fine now.

[2020-10-05 13:50] #561 closed

[2020-10-06 08:16] Pierre-Felber commented on #556
I don't think this fix alone will do. With the Patch I get following error:
[code]

[2020-10-06 08:55] owtotwo commented on #556
@Pierre-Felber It seems to be a new bug because of the return type for function [`getchar`](https://github.com/lesspass/lesspass/blob/473b253971ea4bf8d37b25c2bec9859b440772e2/cli/lesspass/fingerprint.py#L102).

I know that the return type of `msvcrt.getwch()` is `str`, but I am not sure the aim of `getchar` function for `getpass_with_fingerprint`.

I think you can open a new issue for this.

[2020-10-06 08:59] Pierre-Felber commented on #556
`msvcrt.getwch()` seems to decode properly, I've tested üöä

[2020-10-06 09:16] owtotwo commented on #556
@Pierre-Felber Perhaps the author has no Windows Environment to develop and test.

If you mainly use Windows in daily, you could consider doing the Windows support for lesspass. : )

[2020-10-06 14:50] guillaumevincent commented on #556
@Pierre-Felber can you try the latest lesspass version please ? 10.0.1

[2020-10-06 19:15] owtotwo commented on #556
@guillaumevincent I tried this. It seems to work well.

[2020-10-08 01:12] raphael-precigout commented on #278
My company is using softwares which provide web interfaces and use our MS AD (or LDAP) for authentication phase (and some other softwares have their own DB). My issue comes from the "site" field which is filled with FQDN of the web site: I need to overwrite it to get the correct password. Therefore, having an Alias field (I would fill on my own with what I want) would be an improvement to me, that

[2020-10-08 05:51] guillaumevincent commented on #278
I think this is a completely valid use case.
We need to add the alias in the backend profile, then update the UI to allow this.

[2020-10-09 07:12] Pierre-Felber commented on #556
@guillaumevincent Sorry for the late reply, beeing busy.
ehm, no, not working...
entering üöä gives us a throw up, therefore i sugested the `msvcrt.getwch()` method
[code]

[2020-10-09 08:33] owtotwo commented on #556
@Pierre-Felber Sorry for my mistake... I installed the version 10.0.1 lesspass in my virtualenv. And test on my version which uses `msvcrt.getwch()`.

`msvcrt.getch()` will only return the first byte of `ü` in utf-8 encoding, which is `0xc3`.

b'\xc3\xbc'.decode('utf-8') is ok but I think `msvcrt.getwch()` would be better. It could work around the unicode problem.

I recommend [`getchar()`](https:

[2020-10-09 08:58] guillaumevincent commented on #556
does it works with getwch ?

[2020-10-09 09:14] owtotwo commented on #556
@guillaumevincent It currently works with `msvcrt.getwch()` (not  need `decode('utf-8')`) on my two Win10 computers, one for `UTF-8` as system default encoding, another for `GBK`.

[2020-10-12 09:14] guillaumevincent commented on #556
Ok, @Pierre-Felber can you test 10.0.2 please ?
I don't know if it will generate the appropriate fingerprint for unicode chars

[2020-10-13 12:33] licaon-kter opened #564 "F-Droid fails to build"
Ref: https://f-droid.org/wiki/index.php?title=com.lesspass.android/lastbuild_90109&oldid=280132

[2020-10-13 18:32] Pierre-Felber commented on #556
**üöä** does not crash anymore
fingerprint for **üöä** is 🖥️ 🛏️ ☕
fingerprint on website for **üöä** is ![grafik](https://user-images.githubusercontent.com/19165025/95899935-8d7b0200-0d91-11eb-925c-f56c59fef8ff.png)
so assuming the _monitor_ is used as a replacment for _database_, it is working ok for **üöä**.
Also tested **ßßß**, looks also good.

👍👌✔

By the way, this only works in the _windows

[2020-10-14 07:15] guillaumevincent commented on #556
yes you are right
thank you for your tests

[2020-10-14 07:18] guillaumevincent commented on #564
Thank you for reporting this

So the minimal version of node available for FDroid is 8. Node 8 is not supported any more. Version 10 is in maintenance mode.
See https://nodejs.org/en/about/releases/

Maybe we should raise the issue on FDroid side.

Let me check where this module is needed

[2020-10-14 07:40] licaon-kter commented on #564
You can always bring your own, see how other apps do it, eg:
[code]

Which version do you need exactly?

[2020-10-14 08:10] guillaumevincent commented on #564
prettier need at least version 10
latest LTS (version 12) will be ok

[2020-10-31 08:39] caywin25 commented on #546
Hello,

Sorry for the late response.
Ideally for me it would be a lesspass installation on a virtual machine and then I have an upstream proxy (nginx) to listen on ports 80 and 443.

Is this possible?

[2020-11-03 07:46] olivierboudet opened #565 "Save master password locally on web extensions"
I am used to PasswordMaker Pro extention which has a "remember master password" option that I find very useful. Would it be possible to have someting like this to remember login and master password for a while ?

Password Maker Pro has these options :
- Per Session
- Per Session, Expire
- On Disk
- Never Store

[2020-11-03 07:49] olivierboudet opened #566 "[Chrome] Autofill password field"
I am used to PasswordMaker Pro extention which has a "Fill fields" button to automatically fill password fields in the current page. It allows to fill a password without copy/paste it.
Would it be possible to have one in Lesspass ?

[2020-12-08 01:13] executionByFork opened #572 "CLI visual checksum icons not displaying"
Hello, I have just installed the lesspass CLI interface using `pip3` and I noticed that the proposed change in #402 has been implemented. I think this is a great feature, but unfortunately it seems my terminal does not support the icons. Below is a screenshot that happens to display 2 of the three icons, but 90% of the time, any passwords I type only shows three hollow boxes.
![lesspass](https://u

[2020-12-08 13:21] guillaumevincent commented on #572
Hello @executionByFork

can you help me and run this python script in your terminal ?

[code]

I bet that your terminal doesn't support 32 bits unicode char

[2020-12-09 21:35] executionByFork commented on #572
![unicode_script](https://user-images.githubusercontent.com/20407804/101691330-2d70a700-3a34-11eb-9602-6cabd8152081.png)

[2020-12-10 10:27] edouard-lopez commented on #572
@executionByFork I installed `rxvt` `rxvt-unicode` on my ubuntu and the script fail in the same way as you, no issue with Guake terminal however:

![xrvt font issue](https://user-images.githubusercontent.com/1212392/101760017-9c084000-3ada-11eb-8884-0125296a5531.png)

Are you sure the font you use in your shell provide the glyph? You can try another font or use this one in another application

[2020-12-10 12:20] fcharlier commented on #572
Hi, rxvt/urxvt has several limitations regarding emojis (and large unicode characters)

1. it needs to be explicitly configured with fonts supporting emojis [1] ;
2. it will display "wide" unicode characters as squares if they're larger than the standard character width.

[1] As an example my configuration has:
[code]
Displays almost all correctly except some of the wider characters:
![2020-12-10-

[2020-12-10 12:28] guillaumevincent commented on #572
We can try to find a replacement for :

[code]

[2020-12-10 12:52] guillaumevincent commented on #572
[code]

[2020-12-10 15:47] edouard-lopez commented on #572
I can see fa-database and fa-eye character in the issue on mobile, doesn't bode for `rxvt`

[2020-12-10 16:29] guillaumevincent commented on #572
@edouard-lopez the change is really recent and was a breaking change visually when we did it (unicode icons are not identical to the font awesome one)

So fixing this by updating the unicode icon will be ok.

You can't distinguish the shape ? or you can't see it ?

Let's find alternative for fa-database and fa-eye then

[2020-12-10 18:13] edouard-lopez commented on #572
I got a box instead of the icon:

![Screenshot_20201210-191148](https://user-images.githubusercontent.com/1212392/101812419-9e3ebe80-3b1b-11eb-9cfc-94ec7ff3761b.jpg)

I'm on Brave mobile

[2020-12-10 20:03] edouard-lopez commented on #572
I got the icon on desktop, so might be a font issue on mobile for me:

![lesspass-font-desktop](https://user-images.githubusercontent.com/1212392/101823479-1a8cce00-3b2b-11eb-8c72-4c6aca0e790e.png)

[2020-12-16 18:02] major0 commented on #529
I believe this previously came up in #154

[2020-12-19 09:01] Chrisae9 opened #582 "[iOS] Crash on Save Master Password"
Crash on iPhone Xr iOS 14.2.
Unable to select the option to store a master password locally. I am enjoying this application, I would love added support for Face ID.

https://user-images.githubusercontent.com/25260078/102685495-1443c500-41af-11eb-84e4-39571f497c93.MP4

[2020-12-20 09:03] guillaumevincent commented on #582
Thank you for reporting this, I will take a look

[2020-12-22 23:03] guillaumevincent commented on #582
I think I found the issue.
AppStore upload are not possible between 23 to 27 of december.

I will upload the fixed version on the 28

[2020-12-22 23:21] guillaumevincent commented on #582
link to test https://testflight.apple.com/join/grzBe7bN

[2020-12-30 17:16] Chrisae9 commented on #582
Downloaded the new update and everything works perfectly. Thank you for the fix.

[2020-12-30 17:16] #582 closed

[2020-12-31 07:13] guillaumevincent commented on #582
Nice thanks again

[2021-01-19 11:17] FaustXVI commented on #185
@biancarosa Thank you so much for your work ! I am so overdue ! You clearly removed a huge weight from my shoulders !
You're awesome !

[2021-01-19 15:09] trollepierre opened #587 "Cannot divide by zero, on lesspass.com"
![Capture d’écran 2021-01-19 à 16 04 50 (2)](https://user-images.githubusercontent.com/8363334/105052431-29db3180-5a70-11eb-9455-cf78dd0eab4c.png)

I don't know where this comes from...

MacOS + Firefox + Privacy Badger + VueDevTools + UBlock

the error comes when clicking on generate, I guess

[2021-01-20 07:06] guillaumevincent commented on #587
Hum because there is no option in your case
You found a bug
Thanks for reporting

[2021-01-20 08:05] trollepierre commented on #587
I don’t get what do you mean by my case. But does that block me to start using lesspass ?

[2021-01-20 19:24] fulldecent opened #588 "Host website in this repository"
Please host https://lesspass.com/#/ using GitHub pages or similar and have the code in this repository under `/Site` or `/lesspass.com/` or similar.

This allows me to directly propose a PR against the website.

[2021-01-20 19:29] fulldecent opened #589 "lesspass.com as a single page"
The page lesspass.com is meant to be a single-page web app with the extremely important function of directly accepting people's master passwords.

This is going to sound stupid to some people, but I'll propose it.

In the interest making this page more secure, I recommend that all resources on this page be inlined. As in one HTML file including all style, images (SVG), and everything needed to dis

[2021-01-20 19:56] fulldecent opened #590 "Add note for NIST Special Publication 800-132 compliance"
NIST Special Publication 800-132 has published specific requirements for Password-Based Key Derivation, which is what LessPass is.

https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-132.pdf

Specifically, the key length (i.e. master password) should have 112 bits of entropy to be compliant.

Additionally, there is a NIST 800-series specification that outputs of programs like Le

[2021-01-20 20:39] edouard-lopez commented on #588
It's already in the repo under https://github.com/lesspass/lesspass/tree/master/packages/lesspass-site

[2021-01-20 20:39] #588 closed

[2021-01-20 20:43] edouard-lopez commented on #589
see #369 for background

[2021-01-20 20:58] fulldecent commented on #588
Thank you, got it.

That new version is a scary amount of code for something that should be simple, verifiable and readable. It introduces attack vectors from: TypeScript, Gatsby, Tailwind, yarn and gulp. Whereas I thought HTML and JavaScript were good enough!

[2021-01-21 08:11] guillaumevincent commented on #587
@trollepierre not at all, but if you disable all the options

![image](https://user-images.githubusercontent.com/943762/105322012-85b8ce00-5bc8-11eb-9bd3-ef052e440163.png)

your password will be empty no ?

So select at least one option. I recommend use all the option (default feature)

[2021-01-21 08:14] guillaumevincent commented on #590
I agree with this one first:

 * Notify users if their master password choice does or comply with NIST SP 800-132

There is a sense of security that should be removed in LessPass when using the master password `foo` outputs a generated password that cannot be remembered `Ij / lpX8: Vij2 - [, /`

[2021-01-21 08:20] guillaumevincent commented on #589
Yes this is a really good idea.
The only difficulty is in the tooling.

[2021-01-21 08:23] guillaumevincent commented on #589
@edouard-lopez it's not PWA, it's more inlining everything in one html file. If we can remove the minification at the same time, it's will be very easy for anybody to do an audit. Just download the HTML and check the hash. See between different versions, the changes.

[2021-01-21 09:03] trollepierre commented on #552
I faced a similar UX problem when using the App iOS, so +1

[2021-01-21 10:00] trollepierre commented on #587
Oh I understand one thing. The blue button is "enabled" and the "grey" means disabled... That was not very clear to me, at first look

[2021-01-21 10:08] trollepierre opened #591 "Display better the fact there are extensions to manage passwords"
Hello,

when trying lesspass, I wonder several questions before using it. The most important that got an answer very late was:
- how to make it works automatically in my browser (laptop + mobile)

I think the "Supported Platforms" of the Homepage : https://www.lesspass.com/#/ is not very explicit.
I would use button "Get the Firefox Module" / "Get Chrome Extensions" / "Get it on Apple Store"

beca

[2021-01-21 11:28] guillaumevincent commented on #587
yeah, we should use normal checkbox
Lets fix this also with this issue

[2021-01-21 11:29] guillaumevincent commented on #591
Yes good idea

[2021-01-24 19:51] elgow commented on #389
For version 3 can you please provide the exclude character feature in the javascript versions as well as the CLI. My greatest frustration with lesspass remains having to constantly battle with sites that don't support the same list of special characters that lesspass has chosen.

I seem to be running at about 50% of sites refusing lesspass generated passwords. The usual result is that I have to sa

[2021-01-24 20:33] guillaumevincent commented on #389
Yes and no. Yes because the rule/profile associated with a site should add the maximum of available characters. But no because it's not part of the algorithm part. It's more a UI/UX issue. With the v2 we can already imagine having a way to choose a subset of special chars.

[2021-01-24 22:23] elgow commented on #389
Thanks @guillaumevincent. I agree this could be solved in V2 by adding a field for chars to be excluded from the generated password as you've done in the CLI. That field would need to be stored in the DB to be really useful, but can default to nothing and thus not be a breaking change.

[2021-01-30 02:57] polarathene commented on #34
128 bits is a very big number. If you were to brute-force all possible numbers in that range, at a rate of 1 guess per second, this is how many years it would take:

`2^128 / (60*60*24*365*10^15) = 10790283070806014`

After the `365`, we are multiplying this by `10^15`, that is 1,000,000,000,000,000 years to divide by. Yet still we have 10,790,283,070,806,014 as our answer. That's over 10x that am

[2021-01-30 03:22] polarathene commented on #271
I haven't looked over the project source code, but assume that master password is used as a seed for "random" generation of passwords, and that for a character by character password, it's just applying `Math.random()` or similar against a given range of values.

If that assumption is correct, substituting a character for a word from EFF-long list shouldn't be too difficult to support. There's some

[2021-01-30 04:21] polarathene opened #593 "Question: Seeking additional clarity on KeePass vs LessPass comparison FAQ"
From the FAQ, [KeePass vs LessPass](https://github.com/lesspass/lesspass/wiki/FAQ#how-does-lesspass-compare-with-other-solutions):

vs

The encrypted database is of little use without the master password to decrypt it. If the attacker did have the master password, they still need the encrypted database to get the contained passwords as they're not derived from the master password.

By contrast, ev

[2021-01-30 15:37] Nokia808 opened #594 "[Packaging] Add this program as a flatpak on FlatHub"
Hi. Making this cute program available as flatpak on FlatHub is much better & secure for Linux that using it as browser extension, isn't it ?

Notes on flatpak on FlatHub:
1. home page of FlatHub is:
    https://www.flathub.org/home
2. FlatHub repositories are at:
    https://github.com/flathub
3. when some one like to add package to FlatHub, she/he need to open PR at:
    https://github.com/flath

[2021-02-17 14:20] jswetzen opened #595 "iOS password manager integration"
I would love to switch over to LessPass from LastPass, but the feature I use every day is the native integrations into iOS passwords. It lets me open the password app and select the password so that it’s filled automatically. I still haven’t tried the daily UX of manually switching to the LessPass app, but it’s definitely going to be less convenient.

If this is welcomed, I may well be able to con

[2021-03-01 12:08] BlackthornYugen commented on #560
That's not the behaviour I'm seeing

[2021-03-01 14:10] guillaumevincent commented on #560
![image](https://user-images.githubusercontent.com/943762/109508506-39528f00-7aa0-11eb-8ee4-1ef5584a0ec0.png)

Can you explain why ?

[2021-03-01 18:27] BlackthornYugen commented on #560
Before interacting with the website at all it calls out to https://lesspass.com/api/passwords/ -- I didn't dig too much into the source. I ended up just using Content-Security-Policy to stop it from happening.

[2021-03-02 02:59] BlackthornYugen commented on #560
![image](https://user-images.githubusercontent.com/3138467/109590089-5d7e9200-7ad9-11eb-9f97-e4099d2ec073.png)

[2021-03-02 03:01] BlackthornYugen commented on #560
@guillaumevincent I am 5 months out of date, was this something that was fixed or is this the expected behavior?

[2021-03-02 09:31] guillaumevincent commented on #560
Ah no no my bad
By default when the user arrives on the web site, I check if the user is authenticated or not. I use lesspass.com by default.

[2021-03-08 11:16] tim-peters opened #596 "SSL certificate broken"
The SSL certificate of lesspass.com seems to be broken (out of date?). Due to the HTTP Strict Transport Security (HSTS) setting the website is not available at all. Since the credential storage uses the same domain it does not work as well atm.

Since this is a core functionality I would suggest to fix this issue with the highest prio.

[2021-03-08 11:39] guillaumevincent commented on #596
Sorry for this,
without any reason Lets Encrypt didn't send me a notification email about the certificate expiration date.

Certificate is updated
Thank you for the issue. And sorry again

[2021-03-08 11:39] #596 closed

[2021-03-08 11:43] guillaumevincent commented on #595
Sorry for the late answer,
I'm not very active right now because of a little open source fatigue.

To be honest I'm a little newbie on iOS development.
@jswetzen this is very welcome. I will be very happy to integrate this in LessPass, but I'm not sure how. Do you want to try a POC in a pull request ?

[2021-03-09 18:32] kir0ul opened #597 "Encrypt master password by default at sign in"
Hi there,

I noticed a difference between the Firefox add-on and the Android app at the sign in step: the Android app encrypts the master password by default but not the Firefox add-on. Would it be safer to make it the default also on the Firefox add-on?

 I have no idea how complicated it is to change this but I could consider doing a PR if there's any interest in this.

Thanks for all your work

[2021-03-09 19:28] guillaumevincent commented on #597
Hello,
kind of duplicate of https://github.com/lesspass/lesspass/issues/420
Yes it should be the default on the addon also.

I don't know your level, but I can guide you if you want to work on this one

https://github.com/lesspass/lesspass/tree/master/packages/lesspass-pure/src

[2021-03-09 22:28] kir0ul commented on #597
I would also say it depends how "urgent" it is, like if you need it soon, I would leave it to someone else. But in case there's no particular deadline, I can give it a try!

[2021-03-10 07:46] guillaumevincent commented on #597
@kir0ul no particular deadline. thank you

[2021-03-10 17:04] fulldecent opened #601 "Replace "tHis is a g00d! password""
Code makes reference to "tHis is a g00d! password"

This reference should be replaced with:

"D649CA4B-E925-4CC0-A5B7-F8C80BB8B996"

and then following that it should be noted as a code comment

`<-- this is a good password`

---

Also, please update https://github.com/lesspass/lesspass/wiki/Password-Generation-Specification

[2021-03-10 17:05] fulldecent opened #602 "Write password generation specification"
Draft: https://github.com/lesspass/lesspass/wiki/Password-Generation-Specification

---

Recommend to remove these others files and improve the above file:

https://github.com/lesspass/lesspass/wiki/Overview-of-Password-Generation

https://github.com/lesspass/lesspass/wiki/Generated-password-info

[2021-03-10 17:51] fulldecent opened #603 "REMOVE fingerprinting (with security analysis provided)"
The only time fingerprint should be shown is if the master password is PASTED in.

Allowing generation of an intermediate fingerprint during typing exposes the password.

Related issue with less technical discussion: https://github.com/lesspass/lesspass/issues/48

---

Details of the known security problem are at: https://github.com/lesspass/lesspass/wiki/Visual-Fingerprint

---

But just the bott

[2021-03-11 13:20] guillaumevincent commented on #601
What do you mean ?

A master password like `D649CA4B-E925-4CC0-A5B7-F8C80BB8B996` is impossible to memorize

[2021-03-11 13:25] guillaumevincent commented on #603
You probably don't look correctly at how the fingerprint is generated

The fingerprint is debounced https://github.com/lesspass/lesspass/blob/master/packages/lesspass-pure/src/components/MasterPassword.vue#L193-L195 and the fingerprint you see is random when you type you master password https://github.com/lesspass/lesspass/blob/master/packages/lesspass-pure/src/components/MasterPassword.vue#L88-L9

[2021-03-11 13:27] guillaumevincent commented on #602
What problem do you try to solve here ?

[2021-03-11 16:48] fulldecent commented on #602
Trying to create a stateless open source password manager named LessPass.

First step to making something is having a specification.

[2021-03-11 16:58] fulldecent commented on #603
My apologies, I have reread the lodash debounce specification.

The new assessment is that if you are using a long and appropriate password (like a BIP-39 Bitcoin wallet mnemonic) and you pause for 0.5 seconds or more three times in between then an attacker can guess your master password before you finish typing it.

---

Yes, I do understand that there are useless emoji displayed while you are ty

[2021-03-11 17:02] fulldecent commented on #602
Also, I'd like to compare the existing implementations (there are several) and see if there are issues. Comparing to one standard is easier (O(N)) than comparing each to each other (O(N^2)).

[2021-03-11 17:08] fulldecent commented on #601
Got it, I see "Remember one master password" is a main selling point on this project at https://github.com/lesspass/lesspass/blob/master/README.md

Any password that is memorable will probably not be compliant with NIST Special Publication 800-132.

So the definition of a "good" password in this project is exceedingly less than industry standards.

Therefore this issue is without merit. Sorry abou

[2021-03-11 17:08] #601 closed

[2021-03-11 20:57] guillaumevincent commented on #601
I think it's 800-63-3 now https://pages.nist.gov/800-63-3/sp800-63-3.html
800-132 is pretty old

Did you read the document ?

Because even 800-132 consider passphrase over 20 characters as strong enough;

There is also some research in the user experience field. Making a master password impossible to memorize is probably not a good idea.

Maybe I'm wrong, tell me if you read something I missed

[2021-03-11 21:27] guillaumevincent commented on #603
I'm sorry I don't understand.

How ? by registering your screen ?
Why 3 times ?
Why using 24 words as a master password ?

There is so many problem here in the threat definition. Can you clarify ?

are you sure ? `[options.leading=false] (boolean): Specify invoking on the leading edge of the timeout.` https://lodash.com/docs/4.17.15#debounce

So by default the function is called only after 500ms w

[2021-03-11 21:55] guillaumevincent commented on #602
Existing implementation in other repositories ?

Feel free to create the wiki specification page if you want. I don't know if it's worth the time.

But "Overview of Password Generation" is interesting for learning purposes. And yes maybe "Generated password info" don't have a lot of values here. We can probably find those info in your spec.

I close, you can ping me in this issue if you decide to

[2021-03-11 21:55] #602 closed

[2021-03-11 22:30] guillaumevincent commented on #603
I read your document on the wiki.

If an attacker is able to record your screen you are probably dead already. It's the same with keyloggers. If you're using 12 words for your master password, maybe your need for security is important. If so, you should not use LessPass. LessPass is better than the same password everywhere, but less secure than a real password manager like Bitwarden or 1Password.

[2021-03-11 22:34] guillaumevincent commented on #594
The only problem I have is a time problem. I don't plan to do this in the near future.
I close. I will reopen if I have time or a huge demand for this kind of tool.
I'm sorry

[2021-03-11 22:34] #594 closed

[2021-03-11 22:44] guillaumevincent commented on #546
The production is using containers. I don't plan to work on creating another installation for the near future.
Feel free to try to install django directly by cloning this repo and changing the env variable to use sqlite.
Then run gunicorn and proxy pass with nginx.
There is a lot of info on google "gunicorn nginx django"
see django doc also: https://docs.djangoproject.com/en/3.1/howto/deployment/w

[2021-03-11 22:44] #546 closed

[2021-03-13 00:09] fulldecent commented on #603
Here is the specific risk:

* A COTS miner can run 2^45 hashes per second
* The fingerprint does not use PBKDF, so one hash = one guess
* So if you type in 32 bits worth of password, and then wait 0.5 seconds then an attacker that can see your fingerprint will have narrowed it down to 32-16 = 2^16 possible passwords (this can be precomputed)
* Then if you type 32 more bits into your password, and

[2021-03-13 23:20] elgow commented on #534
Incorporating this list would be a boon to LessPass. Today I got this missive when I tried to use a LessPass generated password on t-mobile.com

       That symbol isn’t supported.The supported symbols are: ~ @ ! # $ % ^ & * () / : ; ? , . <> _ -

This is the most serious issue with LessPass.

[2021-03-14 20:13] guillaumevincent commented on #534
The best things for LessPass is probably to use password-rules.json directly trough a dedicated endpoint and remove the per user rule. The only difficulty I have is regarding the backward compatibility with this solution. I bought a new domain name to play with this approach.

[2021-03-18 05:35] kir0ul commented on #597
I was wondering if Cypress is still being used for your e2e testing?

[2021-03-18 07:15] guillaumevincent commented on #597
yes but I disabled it for the CICD part.
I need to enable it again

[2021-03-19 22:33] guillaumevincent commented on #597
Tests end to end are green now

[2021-03-26 08:25] jswetzen commented on #595
Open source fatigue: I can relate.

In the end I'm afraid I found self-hosted Bitwarden with bitwarden_rs instead and it was just so easy to move over all of my LastPass data there. I really like the idea of a stateless manager, but lazyness often wins.

I found [this talk from WDC](https://developer.apple.com/videos/play/wwdc2018/721/) when looking into iOS password autofill, but I won't be doing

[2021-03-27 18:28] Justinizer opened #607 "Another way to master password"
Hello folk,

I think lesspass is a very nice idea. But I think a masterpassword is a single point of failure.
What do you think about to use a private key instead and got the option to protect the private key by a FIDO hardware device?

Hardware Key -> PK (closed) = PK (Opened) -> Generate Passwords with LessPass for Browser Applications.

[2021-03-27 23:32] #597 closed

[2021-03-29 12:33] tim-peters commented on #236
@guillaumevincent

Even after extensive testing with different browsers and devices, I can safely say that I still get randomly logged out of Lesspass after less than a week. I then have to enter my credentials again even, just to access non-critical data like sites and usernames. That just doesn't make any sense and is really annoying.

And again: Even one week would be way to short. The standard

[2021-03-30 02:13] Laski commented on #236
+1. This is the only reason I'm actually considering moving to another application from time to time. Having to authenticate every single time just to get non-critical information is really frustrating.

[2021-03-30 07:29] canercandan commented on #236
sharing the same frustration, make the use of the app unpractical.

[2021-03-30 10:07] guillaumevincent commented on #236
@Laski @canercandan I would be happy to fix the issue, but I can't reproduce it

If I understand you correctly, you have disconnections from time to time, right?

The workflow is:

  * you open the extension on Chrome and log in
  * you close the extension
  * you reopen the extension right after you are still logged in
  * you wait a bit (at least 15 minutes)
  * you reopen the extension and you

[2021-03-30 14:38] jdeniau commented on #236
@guillaumevincent it's more like several days than 15 minutes.

If it can help : when you click the extension:

- the website credentials are correctly set, and the layout shows that we are logged in
- about 500ms later, the layout does change and shows that we are now logged out (like if a refresh token fails or something like that)
- the credentials are still present though and we can authentica

[2021-03-30 15:19] jdeniau commented on #236
@guillaumevincent  It might be seven days, but I'm not sure, I would say "several days" yes though.

Nice if my comment did help ! You are doing a wonderful job, no need to apologize 👍

[2021-03-30 19:49] #236 closed

[2021-03-30 20:43] guillaumevincent commented on #236
I pushed a new version on Chrome store and Firefox AMO

[2021-03-30 21:04] Laski commented on #236
Thanks for the quick fix! Keep up the good work

[2021-03-31 07:52] guillaumevincent commented on #560
Hello @BlackthornYugen,

it will be probably fixed by https://github.com/lesspass/lesspass/commit/0f5d2fbd19d378f6593d8b14716c435b6d8f8da3

I close

Thank you for reporting this

[2021-03-31 07:52] #560 closed

[2021-03-31 07:53] guillaumevincent commented on #595
Ok so for now, because I'm not capable of doing it myself, I will close this issue.
If somebody is interested in doing it, please feel free to help
Thank you

[2021-03-31 07:53] #595 closed

[2021-03-31 07:55] guillaumevincent commented on #603
If we use pbkdf2 to generate the fingerprint, would that be a good improvement?

[2021-03-31 08:07] guillaumevincent commented on #593
Yes except that with KeePass you don't have access to the future passwords.

Yes but keep in mind that saving password profiles on LessPass Database is for web sites that doesn't accept the default options.

Yes this is one of the weakness of LessPass. If an attacker get your raw password from a leaked database, they can try to brute force your master password. This is mitigated if the entropy of

[2021-03-31 08:10] guillaumevincent commented on #420
Fixed in the recent commit

[2021-03-31 08:10] #420 closed

[2021-03-31 08:12] guillaumevincent commented on #565
Hello Olivier,
the only issue I see is that localStorage is not secure at all on web extension.
So for me it will be a security leak.

[2021-03-31 08:20] guillaumevincent commented on #566
I will try to work on this one.
This is one of the most asked feature

[2021-03-31 08:21] guillaumevincent commented on #572
I close this one, it's probably fixed

[2021-03-31 08:21] #572 closed

[2021-03-31 10:01] olivierboudet commented on #565
Hello @guillaumevincent I totally agree but would it be possible to store the password in memory only ? Just the time of the browser session ?
The idea is to not type the login and master password each time if we need to login to multiple websites in a short time range (say 1 hour, perhaps with an option to set the duration the password is kept)

[2021-03-31 11:07] guillaumevincent commented on #565
@olivierboudet you are speaking about Window.sessionStorage ?
I need to learn more about the security issue we may encounter

[2021-03-31 12:16] olivierboudet commented on #565
I do not know how browser extensions works, but yes, something like sessionStorage if it can be used...

[2021-03-31 15:48] fulldecent commented on #603
It would be an improvement and would increase the cost from one second of processing power to up to a few hours assuming the password has 64 bits of entropy.

[2021-03-31 20:28] jasonbunnell opened #610 "Login Issue with 9.4.2"
Cannot login.  Get this error:
"The email and password you entered did not match our records. Please double-check and try again."

I am 100% certain the master password is correct.

There seem to be a number of issues in addition to this.  I use the Firefox addon.  Is there a way to uninstall this version and revert to an older version?

[2021-04-01 02:13] jasonbunnell commented on #610
Yes.

[2021-04-01 02:13] #610 closed

[2021-04-01 06:38] guillaumevincent commented on #236
:heart: I just hope this time I fixed it correctly

[2021-04-01 06:46] guillaumevincent commented on #610
@jasonbunnell is this fixed now ?
Yes I want to enforce no master password are send to LessPass Database unencrypted.

May I recommend you to reset your password and keep the `Encrypt my master password` option checked ?
Sorry for this, I tried to make it the more smooth as possible (adding an information panel) but it was not enough apparently

[2021-04-01 06:55] guillaumevincent commented on #603
Please don't use LessPass for protecting your Bitcoin! For you Bitcoin use hardware wallet

We can probably mix this with https://github.com/lesspass/lesspass/issues/590 without breaking the fingerprint feature.
If we change the fingerprint feature, it will be for the v3.

[2021-04-01 14:51] OlegRakovitch opened #611 "Already saved password profile is not loaded correctly on reopening"
Hello. After latest version update I've noticed that username is not automatically specified anymore.

Steps to reproduce:
1. Sign in into LessPass through browser extension
2. Go to website where username was stored previously. For example `github.com`
3. Click on extension.

Expected behavior:
1. Username field should be filled with the previously saved value

Actual behavior:
1. Username field

[2021-04-01 21:43] dinosawrusrex commented on #12
Absolutely love this tool! Thank you all =)

[2021-04-02 18:42] #611 closed

[2021-04-02 18:58] guillaumevincent commented on #611
Fixed in version 9.2.5
Thank you for reporting

[2021-04-02 19:36] guillaumevincent commented on #593
I close.
Feel free to post on this thread to ask for extra help.

[2021-04-02 19:36] #593 closed

[2021-04-02 19:46] #524 closed

[2021-04-02 20:17] #504 closed

[2021-04-02 22:33] #540 closed

[2021-04-02 22:37] guillaumevincent commented on #540
In the next version in the web extension you will have a checkbox to test it live

![image](https://user-images.githubusercontent.com/943762/113458950-5b7b5c00-9414-11eb-809c-01f48f27c07a.png)

It will remove tld from a list of the most popular website.
Feel free to test it if you can

[2021-04-02 22:50] polarathene commented on #593
I don't quite understand what you mean here by access to future passwords? Are you referring to the attacker having a database copy, and that they will not have any new passwords added by the user updating their password database?

Agreed.

I believe I was just raising some concerns about some bias in the comparison, but anyone else who feels similar will come across this issue when investigating,

[2021-04-02 22:56] guillaumevincent commented on #593
If someone stole your LessPass master password, he can generate your actual passwords and you future passwords.

If someone stole you Keepass master password + you KeePass database, he will have access only to your actual passwords

[2021-04-09 12:57] pbaity opened #613 "Unable to login to Lesspass database via Chrome/Firefox extension"
A few days ago I noticed that I was no longer able to sign into the Lesspass database via the Chrome extension. I didn't think much of it - I noticed the extension had just updated to 9.5.1 and figured maybe there was a bug. I tried using the Firefox extension which had not updated yet, and it still worked.

However, today I still can't log in and I haven't seen anyone else raise the issue. I upda

[2021-04-09 13:41] guillaumevincent commented on #613
Hello @pbaity ,

can you uncheck `Encrypt my master password ` in the settings ?

See https://github.com/lesspass/lesspass/issues/610

[2021-04-09 14:57] pbaity commented on #613
@guillaumevincent Shoot, missed that issue somehow - sorry to waste your time! 🤦

I like this feature and will definitely update my password to take advantage of it.

[2021-04-09 14:57] #613 closed

[2021-04-09 15:33] guillaumevincent commented on #613
Do not apologize, several of you have raised the problem. It's my fault.
Great, it's better not to send your master password, but the encrypted version!

[2021-04-12 10:30] Karine-Karine opened #614 "can't login with firefox plugin since update of 6th april"

[2021-04-12 14:39] tannerntannern commented on #614
I believe this is affecting the chrome plugin as well.  I get "Oops! Something went wrong. Retry in a few minutes." when trying to login

[2021-04-12 14:43] tannerntannern commented on #614
@Karine-Karine is this the same issue you're experiencing?

@guillaumevincent, this has rendered the browser extension unusable.  The only workaround I have at the moment is to use the demo at https://lesspass.com, which is apparently less secure (according to the page)

[2021-04-12 14:51] edouard-lopez commented on #614
I can't reproduce on:
* Firefox 88.0b7 (64-bit) Linux Mint
* Lesspass extension 9.4.0

[2021-04-12 14:54] guillaumevincent commented on #614
https://github.com/lesspass/lesspass/issues/613

[2021-04-12 14:56] guillaumevincent commented on #614
@Karine-Karine and @tannerntannern you are probably using you master password unencrypted on LessPass Database.
May I recommend you to reset your password and keep the Encrypt my master password option checked ?

You can also uncheck the option in the options

[2021-04-12 15:11] tannerntannern commented on #614
Thank you for the swift reply @guillaumevincent!  That was indeed my problem.  I should have searched the closed issues more thoroughly but I was a little flustered because I couldn't login to a company video call, haha.  Sorry to waste your time.

[2021-04-12 15:32] edouard-lopez commented on #614
@guillaumevincent A release note would help on this one

[2021-04-12 16:01] guillaumevincent commented on #614
@edouard-lopez where ?

I added an information page on the web extension for this.

[2021-04-14 08:23] Karine-Karine commented on #614
@tannerntannern I had exactly the same problem but I fixed it when I unchecked the Encrypt my master password option. Thank you @guillaumevincent

[2021-04-14 09:34] guillaumevincent commented on #614
Thanks for let us know
I'll keep this issue open for a couple of weeks

[2021-04-19 15:12] ogarcia opened #615 "Current versions seems broken auth"
Latest version perform auth in `/auth/jwt/refresh/` instead of `/api/auth/jwt/refresh/` and `/auth/jwt/create/` instead of `/api/auth/jwt/create/`.

Seems that have retrocompatibility to don't break with old servers versions, but I think that is broken:
[code]

As can I see, it asks for non `/api/` and `/api/` in `/refresh` but dontt do the same with `/create` and calls to `/refesh` again.

[2021-04-19 15:20] ogarcia commented on #615
In the other hand I suggest you that use a versioning API. Something like `/1/auth/jwt/refresh/`. This can avoid problems in future.

[2021-04-19 19:42] guillaumevincent commented on #615
@ogarcia what base url are you using ?

[2021-04-19 20:34] guillaumevincent commented on #615
Ok but if you updated your containers, you should be fine.

https://github.com/lesspass/lesspass/blob/master/containers/backend/api/urls.py#L20-L21

So by default everything is behind `/api/` but if you use api.FQDN, it proxy pass directly to `/api/`

https://github.com/lesspass/lesspass/blob/master/containers/webserver/httpd-ssl.conf#L146-L157

[2021-04-20 06:29] ogarcia commented on #615
Yes, but try serve it in `https://api.lesspass.com/api/`, don't work :cry:

[2021-04-20 07:16] guillaumevincent commented on #615
`https://api.lesspass.com/` not `https://api.lesspass.com/api/`

[2021-04-20 07:28] ogarcia commented on #615
The URL is an example. I say that if you have your server in `/api/` it don't work.

Going back to my initial comment I can see that client app do:
1. `OPTIONS /auth/jwt/refresh/` this gives an error because is serving in `/api/`.
2. `OPTIONS /api/auth/jwt/refresh/`, ok this exist, do post
3. `POST /api/auth/jwt/refresh/`, this returns 401 because the token is expired, lets create a new token
4. `

[2021-04-20 07:40] guillaumevincent commented on #615
@ogarcia ok let's go more slowly because I don't understand everything.

So first

Which client app ? Web extension or mobile app ?

Because the web extension use `api.lesspass.com` for the base URL now. When the user open the web extension the request endpoint used is `/auth/jwt/refresh/`. There is no `/api/` here. number 2 doesn't exists.

There is a 404 error I need to fix on `api/auth/jwt/refr

[2021-04-20 07:51] ogarcia commented on #615
No problem. The truth is that I explain like the ass :joy:

Chrome extension

In my case, the chrome extension do all the steps.

[2021-04-20 07:54] guillaumevincent commented on #615
are you running `LessPass version: 9.5.1` ?

You can see this in the little info icon in the top menu.

[2021-04-20 07:56] ogarcia commented on #615
Yes `LessPass version: 9.5.1`

[2021-04-20 08:00] guillaumevincent commented on #615
ok so you are speaking about the 404 error ?

I think I understand now

Let me fix this

[2021-04-20 08:03] #615 closed

[2021-04-20 08:06] guillaumevincent commented on #615
If this is not the case, please reopen this issue

[2021-04-20 08:14] ogarcia commented on #615
No, this is a fix, but I thought that you wanted to maintain backward compatibility

[2021-04-20 08:19] guillaumevincent commented on #615
But if you put `https://mycustomdomain.org/api` in LessPass Database Url in the option it should work no ?

[2021-04-20 08:26] ogarcia commented on #615
Yes yes. But as I saw that requests were being made with `/api/` and without `/api/` I thought that you wanted to maintain backward compatibility by your own. But, mistery solved!

[2021-04-20 08:30] ogarcia opened #617 "Server API versioning"
Instead of use directly `/auth/` and `/passwords/` I suggest you that use API versioning. This have several advantages.
1. Know what versions of the client are you using simply looking the requested URLs.
2. More easy configuration of reverse proxy, because you can redirect `/apiversion/` to backend and use same URL for other uses.
3. Can introduce break changes without break anything. For example

[2021-04-20 08:33] guillaumevincent commented on #615
Thank you for your report and your patience !

[2021-04-20 08:37] guillaumevincent commented on #617
Yes if we introduce a breaking change in the future it will be with a `/v2/` base endpoint.
But we didn't introduce a breaking change in the API. I only introduce a base URL change and a bug in the token refresh mechanism.

[2021-04-20 08:41] guillaumevincent commented on #617
What I try to say is:

Before API url was `https://lesspass.com/api/auth/` and `https://lesspass.com/api/password/`. Those URLs are still working, there is a backward compatibility.

I added `https://api.lesspass.com/auth/` and `https://api.lesspass.com/password/`. This is an addition not a breaking change.

Client was updated to use the new URLs. I missed to change the token refresh URLs

[2021-05-11 16:50] ianpan870102 opened #623 "[Want To Contribute] How to Add Chinese Translation?"
As titled, I'd like to contribute to the README by adding Chinese translation (currently there are only English, German, French, and Italian). If you're open to accepting translations, I can start working on it this week in my free time :-) My plan is to put out both a Traditional Chinese version (for Taiwan and Hong Kong), and a Simplified Chinese version (for Mainland China).

[2021-05-12 07:56] edouard-lopez commented on #623
@ianpan870102 Thanks for the proposal!
I guess you are talking about the _How does it work?_ article, as we already have [chinese translations for the app](https://github.com/lesspass/lesspass/tree/master/packages/lesspass-pure/src/i18n).

If so, the posts are versionned in a dedicated repo: https://github.com/lesspass/blog/tree/main/_posts.

Cheers

[2021-05-12 09:48] ianpan870102 commented on #623
Yes, thanks for the pointer! The blog repo is what I was looking for.

[2021-05-12 09:48] #623 closed

[2021-05-31 08:23] ogarcia opened #633 "Normalize URLs in all LessPass versions"
I'm writing a [simple lesspass database server in Rust](https://github.com/ogarcia/rockpass) and discover that every client version of lesspass uses a different URL to login.
- Web -> `/api/auth/jwt/create/`
- Plugin -> `/auth/jwt/create/`
- Mobile -> `/api/tokens/auth/`

This should be normalized to use same URL, at least in mobile version.

[2021-05-31 11:12] edurran opened #634 "Cant login to lesspass via Firefox Plugin"
I can login to my account on the Web Version, but not with the Firefox Plugin.
Any suggestions?
(I deleted my username for security. But you can see beside the password, that the icons say it's valid)
Thank you

[2021-06-01 08:27] #614 closed

[2021-06-01 08:27] guillaumevincent commented on #634
may it be related to https://github.com/lesspass/lesspass/issues/613 ?

[2021-06-01 08:28] guillaumevincent commented on #633
I'm currently working on it on the mobile version yes

The goal is to use https://api.lesspass.com/<resource>/ like the plugin

[2021-06-01 08:29] #617 closed

[2021-06-03 14:35] lolo32 commented on #389
More and More website request to use two factor authentication (2fa) so it would great to store the secret in an encrypted form and that LessPass can provide it.

[2021-06-04 15:32] guillaumevincent commented on #389
@lolo32 I'm not sure I understand. There is a sync mechanism in 2FA. Secret is different every time you generate it.

[2021-06-06 13:20] Enderdead commented on #634
I have the same trouble with my instance since the last firefox extension update.
The firefox plugin raises an `Oops! Something went wrong. Retry in a few minutes.`.

On the other side, my server raise an `backend_1   | Unauthorized: /api/auth/jwt/refresh/`.

I notice that your host domain schema has been updated.
Old version :
```https://lesspass.com```
New version:
```https://api.lesspass.com```

[2021-06-07 09:32] guillaumevincent commented on #634
you can do this yes, or you can update the backend container to use the latest version

[2021-06-08 04:38] nitish771 opened #637 "Adding Preview Images of how this App works"
How about adding a few screenshots of application working so that users who want to use best opensource password manager get help to decide whether to use it or not.

[2021-06-08 17:51] edouard-lopez commented on #637
We have a few on [the official website](https://www.lesspass.com/). Some might need an update but the ui didn't change a lot.

Even better than screenshot is that you have the real app on the website so you can **try with zero install**

[2021-06-19 18:30] lolo32 commented on #60
I just tried to implement it into Rust, but I figure a problem:
if the last character type of the password is not already used, this last character will be computed at the beginning by the "_insert_string_pseudo_randomly" function in this POC.

In example, "password$" entropy generation will go without error; the password generation process will generate "$password".

It's also valid if the chosen

[2021-06-26 09:24] skyerjoe opened #643 "Is the Firefox Plugin offline ?"
**Windows 64 bit**
**FF Version 89.0**

Does the firefox plugin working in offline mode ?

If not how i can use lesspass without an own database offline ?

best regards

[2021-06-28 09:19] guillaumevincent commented on #643
LessPass password generation works offline
If you need to save password profiles, LessPass database is needed. You can run a LessPass database locally, or use the one available for free at api.lesspass.com

[2021-07-07 10:33] lolo32 commented on #60
@guillaumevincent

It will be the same for the password `foobar4!` that will be regenerated to `!4foobar` during entropy usage: `!` is a non used symbols category and `4`a non already used number category.

And it normal for the human brain to put symbols and/or numbers to the end of password, it's easier to remember. More and more website ask to use lowercase, uppercase, number and symbol, and so

[2021-07-07 10:39] edouard-lopez commented on #643
You can find more info in the [FAQ: Does LessPass use a hosted database?](https://github.com/lesspass/lesspass/wiki/FAQ#does-lesspass-use-a-hosted-database)

[2021-07-07 12:39] guillaumevincent commented on #60
Position is also calculated during the consumption of the entropy, so I don't understand why `!` will be at beginning.

[2021-07-07 16:28] lolo32 commented on #60
This is caused by the `divmod` in the function `_insert_string_pseudo_randomly` pasted bellow for readability

[code]

Each time the entropy is consumed, a div is produced, and the `remainder` must be lower than the partial `generated_password`, from `0` to `len(generated_password) - 1`, because the remainder of entropy by `len(generated_password)` will produce `0`, and so, it's not possible to ad

[2021-07-08 10:06] guillaumevincent commented on #60
Did you look at the implementation in python here:

https://github.com/lesspass/lesspass/blob/master/sandbox/test_import.py

Can you give me an example with a red test ?

What I don't understand is generated password length is limited to 35 chars so you can't have a reminder going to zero.

[2021-07-08 19:52] lolo32 commented on #60
I just make a step by step reverse entropy AND password generator to explain the problem.

I pick the password 'bar4'

Here is the reverse entropy generation, on https://github.com/lesspass/lesspass/blob/master/sandbox/test_import.py

[code]

This generate the entropy with success. Now, let's consume it to generate back the password from the entropy.

Code used and functions name are from https://

[2021-07-10 13:50] lolo32 commented on #60
@guillaumevincent

Am I clear enough in my explications?

[2021-07-17 16:48] D0nnieD4rk0 opened #644 "kinda strange how newest version on web stores is 9.4 meanwhile latest on github is 9.1.9"
did this thing go close source outa the blue or something ?

[2021-07-19 11:03] guillaumevincent commented on #60
sorry I was on PTO,
I will take a look at it this week

[2021-07-19 11:10] guillaumevincent commented on #644
Hello,
@D0nnieD4rk0 where did you see the version 9.1.9?
There is no closed repository on LessPass.

Version between applications are not the same.

[2021-08-06 00:39] elgow commented on #528
I just hit the specal character issue again. This time it was on the CenturyLink site.

 Since the have ~50M subscribers I'm guessing that some other LessPass users have hit this also. Is any solution in the works?

[2021-08-06 07:08] tygerlord commented on #528
Uncheck %!@
and if needed add manually an authorized special character.

[2021-08-12 09:56] laubster commented on #534
Instead, maybe have something like an "allowed_symbols" profile entry, which (when present) would override the default symbol set. That would be backward compatible & allow for dumb sites.

Even worse than the @elgow example is a site that requires symbols without defining what that means, and accepts a gnarly keepassxc-generated value, but refuses the credential at a subsequent login. I've encoun

[2021-08-12 10:11] laubster commented on #534
Ah, I now see #528 .

[2021-08-12 11:31] laubster opened #647 ""search and open" functionality"
Just daydreaming...

[code]
Points:
- single command to search entries and visit site if single hit found
- searches local profile database that's stored encrypted
- the searchable keywords are separate from the URL field & are used to differentiate entries (can't just search URLs: consider 2 paypal accounts)
- feels like more of a wrapper around lesspass, but keywords in profile would be needed
-

[2021-08-12 16:18] elgow commented on #534
The Apple list would be very helpful, but not really sufficient. It's likely that most users would use sites with restrictive password policies that are not on the list. A crowdsourced list on github could work, but would require moderation. Just allowing individual users to record disallowed characters for a site in the LessPass DB would be the simplest solution.

[2021-08-24 15:00] jasonbunnell opened #651 "Firefox plugin 9.5.1 cannot connect to API"
Having trouble signing in to LessPass API.  In the past, a new feature "Encrypt Password" had been checked and worked when I unchecked.  That does not seem to be an issue now, but not sure what the issue is.  The icons indicate the password is correct.  I am not uncertain about my user name.  What could it be?

[2021-08-24 15:02] jasonbunnell commented on #651
BTW... the error message says, "Oops.  Something went wrong.  Try again in a few minutes."  Could it be the API database?

[2021-08-25 14:38] guillaumevincent commented on #651
No it was an issue with the SSL certificate.
Sorry for this.
It should be fixed now.

And I should automate completely this certificate renewal.

[2021-09-02 15:38] fabienfleureau commented on #12
Best password manager! :heart:

[2021-10-10 19:40] SuperSonicHub1 opened #660 "How do I login to my Lesspass account from the Python CLI?"
Is it even possible?

[2021-10-11 08:54] edouard-lopez commented on #660
Hello @SuperSonicHub1,
The CLI was design with the idea that credentials came from a different source, e.g. secrets in CI or an Active Directory.

[2021-10-12 20:57] guillaumevincent commented on #660
Nice one ! 👏

[2021-10-12 21:49] #644 closed

[2021-10-12 21:49] #643 closed

[2021-10-12 21:49] #637 closed

[2021-10-13 13:54] guillaumevincent commented on #60
So I tested it today. Sorry for the delay.
And yes you are right, if a password contains only one char of a rule at the end, this is not going to work.

`divmod(e1, len(password)) = e2 + remainder` but here remainder is equals to len(password) here (we want the char to be inserted at the end). And this doesn't respect the mathematical rule of the division with modulo where `0 <= remainder < diviso

[2021-10-14 15:02] guillaumevincent commented on #633
Work in progress

[2021-10-14 15:15] guillaumevincent opened #661 "Add auto HTTPS certificate update"
HTTPS Lets Encrypt certificates should be updated automatically every 3 months

[2021-10-16 10:24] ogarcia commented on #633
@guillaumevincent seems that mobile app don't send token in `/auth/jwt/refresh/` at same way that plugin does. Plugin send the `authorization` header with the access token but mobile don't. I think that this is a security issue. :scream:

[2021-10-16 18:44] guillaumevincent commented on #633
`auth/jwt/refresh` doesn't need the token in the header, the token is in the payload.

If plugin and mobile app use the same endpoint, they use the same payload.

authorisation in the plugin is always present because of the axis interceptor.

Why it's a security issue?

[2021-10-17 12:32] guillaumevincent commented on #633
Documentation is pretty clear:

[code]

[2021-10-18 08:54] ogarcia commented on #633
The issue is that you can call to `api/token/refresh` unauthorized.

Yes, is true that you are sending a refresh token but is less secure that if you send the POST with authotization header.

[2021-10-18 17:22] ogarcia opened #662 "Document server API in openapi format"
Hi @guillaumevincent

I'm starting to document the server API in openapi format (attached file). You can try it with any openapi editor (like [Swagger](https://editor.swagger.io/), remove `.txt` extension and load it as `.yaml`). What do you think? Is a good idea?

Greetings

[openapi.yaml.txt](https://github.com/lesspass/lesspass/files/7367351/openapi.yaml.txt)

[2021-10-19 12:10] ogarcia commented on #662
@guillaumevincent a question. I'm documenting endpoint `/auth/users/set_password` that is used by extension to change the password but seems don't work in api.lesspass.com :question:

[2021-10-24 09:34] muusik opened #664 "Android UI main page is not scrollable"
First, thanks for the great password management system. I am generally very happy with it.

I'm using an Android device with a smaller screen. When entering password parameters, the on-screen keyboard covers most of the UI -- the Master Password text box and everything below it. When I hide the OSK, the Generate button or generated password box is still partially hidden by the lower toolbar. Meanw

[2021-10-25 13:43] ricardomatias opened #665 "Wiki Entry about fetching password profiles is outdate, doesn't mention how to provide an encrypted password"
I want to download my password profiles, but the password must be encrypted so I cannot get the script to download the profiles.

https://github.com/lesspass/lesspass/wiki/password-profiles-manipulation-scripts

[2021-10-27 17:18] #665 closed, assigned to nobody

[2021-10-27 23:13] GaboFDC opened #666 "Android app search profiles"
Hello, after latest update to app, is impossible to search for a specific site, you now have a tab for the whole list, but no search bar.
Also not sure if related, but when using dark theme, the passwords tab is not shown properly.

Would be nice to have old functionality back to be able to quickly search some password profile.

[2021-10-29 09:28] heuzef opened #667 "Change comportement of popup (improvement)"
Hi :)
I use lesspass very often every day.

I am annoyed by error popup each time because it appears on the first field for **10 secondes**, then blocking this one !
I propose to move these messages out of the field or change the comportment (on the clic ?)

![Capture d’écran de 2021-10-29 11-20-45](https://user-images.githubusercontent.com/1780479/139411441-903610de-75c3-49fd-9118-945fcf085cd8.pn

[2021-10-29 10:00] heuzef opened #668 "Best way for update lesspass"
Hi 😊
Can you help me, i would like to know how to update my self-hosted intance.

What's the best way to do it ?
I propose to write a procedure for the wiki.
Thanks !

[2021-10-29 15:57] #666 closed, assigned to nobody

[2021-10-29 16:08] jonmchan opened #669 "New Automatic Encryption Sign In Breaks Ability to Login For Multiple Encrypted Passwords"
The new sign in process is lacking the ability to encrypt the password multiple times locking me out from the ability to log in to my account. If I understand correctly, a single encryption of the password is being applied right now for all logins. This breaks the use case where the password is encrypted 2 times or more. As such, I can no longer log in to my account and access my passwords.

![ima

[2021-10-29 18:09] guillaumevincent commented on #669
Even if I like the hack, there is no really security addition by doing so. I recommend using the forgot password mechanism to reset your password or change your password within the app.

[2021-10-29 18:09] #669 closed

[2021-10-30 10:10] muusik commented on #664
I'm using LessPass 9.3.0 from f-droid, which is the latest one available for my device. The phone is a somewhat niche Marshall London running Android 5.0.2. Resolution is 720x1280.

To clarify: on Main page and Sign In page, scrolling does not work regardless of whether OSK is visible.

[2021-10-30 15:36] jonmchan commented on #669
I would argue this functionality can slightly limit or hamper pure keylogging (with no mouse click logging) attempts. I will concede this type of protection is not too strong and could be improved if there were multiple encryption buttons (they could just be different seeds) that would be presented at random where the user would have to input the right sequence but a keylogging/mouse logging techn

[2021-10-30 15:48] guillaumevincent commented on #669
If somebody successfully installed a keylogger on your laptop, generating the password will be really simple. He will try to encrypt the password once, then twice, etc.
I don't want to add features that reduce the user experience.

[2021-10-30 16:14] guillaumevincent commented on #664
So if I understand correctly, when you are on the main page, OSK hidden/closed, the generate button is partially visible and you cannot scroll down?

I will push next week version 9.5.0 on fdroid that may fix this for you. I will do more test with smaller screen and this version of Android.

Thank you for the info

[2021-10-31 13:55] schnatzi commented on #666
@guillaumevincent, thank you for your work!

[2021-11-01 03:59] jonmchan commented on #669
I actually use this to access my password on public computers (internet cafe, etc.).

The feature I'm talking about is have multiple encryption algorithms, say your encryption is through sequence, 1-4-5. Have the different encryption options randomly move around the screen every time you click it hampering replay attacks. Because the algorithms placements are shuffled each time, this defeats keylo

[2021-11-01 19:45] xeruf opened #670 "Differences to MasterPassword"
As someone considering to migrate to MasterPassword, what do you offer that could compel me to use your solution rather than MasterPassword/Spectre, in light of https://github.com/lesspass/lesspass/issues/526?
Why did you not build upon the implementation of @lhunath rather than building a new application from scratch?

[2021-11-02 07:59] heuzef commented on #668
Thanks :)
I will try this and I will keep you in touch.

[2021-11-02 09:16] guillaumevincent commented on #670
Algorithms are different. I don't remember exactly but in 2015/2016 MasterPassword App didn't use Script.

Password templates in MasterPassword App increase bruteforcability.

[2021-11-02 13:37] xeruf commented on #670
Afaik MPW has used scrypt for a long time (mentioned e.g. here: https://www.wikiwand.com/en/Master_Password_(algorithm)#/Master_key_generation)

Doesn't lesspass also use password templates?

So only minor differences regarding the implemented algorithm?
Why not engage in a collaborative effort then rather than a new app?

[2021-11-02 14:16] lhunath commented on #670
The scrypt KDF was added to Master Password in Feb, 2012, before the public release.

I don't want to speak for @guillaumevincent, but I think the core ideology is slightly different, where lesspass is more focused on providing a simple and light solution that just does its thing reliably and consistently & giving you the freedom and ability to make whatever changes to the output you'd like, while

[2021-11-02 15:35] flexagoon commented on #670
The Spectre app looks much better in terms of UX, but it's iOS only

[2021-11-02 16:04] lhunath commented on #670
The reason I didn't go into detail on that one is because the way you detail that out may end up being personal and biased, but I can give you my take, and then let you take away what seems valuable to you.  Perhaps someone with active experience using LessPass day-to-day can chime in with some counterpoints relevant to LessPass usage.

With that caveat, what I value sustainability wise in Spectre

[2021-11-02 17:56] guillaumevincent commented on #670
Hey @lhunath !

My memory sometimes makes me sad.

Good luck with Spectre, nice to see you are still working on your project!

When I created LessPass I did the same. This assumption is not from me. It forces me to create the V2. See `the horror of LessPass` https://github.com/lesspass/lesspass/issues/88

I agree. Sorry when I said "Password templates in MasterPassword App increase bruteforcabilit

[2021-11-03 12:22] fl0rian-p commented on #664
Hi @guillaumevincent,
Using the 9.5.0 version from the play store, on a sony xperia z3 compact. On the main page, the field for the generated password can't be seen anymore (see the screenshot below) and we can't scroll down.
![screenshot_less_pass](https://user-images.githubusercontent.com/2789427/140059029-8e987f5e-4a79-454b-a541-815a65ff81bd.png)

Hope this helps, in identifying the issue !

Th

[2021-11-03 12:42] guillaumevincent commented on #664
Thank you,
yes it helps, let me try to fix this.

[2021-11-03 17:22] #664 closed

[2021-11-03 17:23] guillaumevincent commented on #664
It will be fixed on version 9.5.1
Thank you for your helps

[2021-11-04 13:48] lhunath commented on #670
Hey @guillaumevincent - you can connect with me at lhunath@lyndir.com. Wishing you all the best with your v2 as well!

[2021-11-04 17:15] #529 closed

[2021-11-04 17:22] guillaumevincent commented on #529
`lesspass --save <path>` or `lesspass --save`

and

`lesspass --load <path>`

are in beta in LessPass cli version 10.1.0

[2021-11-07 12:01] gmacar opened #671 "lesspass.com HSTS preload status"
https://hstspreload.org/?domain=lesspass.com
"Status: lesspass.com is currently preloaded, but no longer meets the requirements. It may be at risk of removal."
For added security, it would be better to fix the error.

[2021-11-08 06:28] guillaumevincent commented on #671
I'm going to fix this
Thank you

[2021-11-08 10:16] guillaumevincent commented on #671
I will push the change in production soon

May I ask how you detect this ?
I would like to create a test to avoid this in the future

[2021-11-08 10:20] #662 closed

[2021-11-08 10:29] guillaumevincent commented on #668
Ok I close, reopen if needed

[2021-11-08 10:29] #668 closed

[2021-11-08 10:32] guillaumevincent commented on #634
Closing this
Probably related to #613

[2021-11-08 10:32] #634 closed

[2021-11-08 11:44] gmacar commented on #671
If you register lesspass.app, the HSTS preload status will be automatically checked and fixed by the TLD. This is what https://masterpassword.app does, for example.

[2021-11-24 04:36] texneus opened #672 "How do you build the docker container?"
I'm trying to figure out how to self host a Lesspass database.  The wiki only has this to say on the matter:

Unless I just missed something, I see no instructions or further guidance.  I stumbled around and was finally able deploy the ready-made container via docker-compose and self signed certs, but at best I'm getting nothing but 404 errors...the actual web content/API seems to be missing in th

[2021-11-24 05:56] muusik commented on #664
9.5.3 has made it to f-droid and I can confirm that it fixes the scrolling problem. Thank you!

Also, I have to say that the way it now adapts to system dark mode looks great.

[2021-11-24 21:12] guillaumevincent commented on #664
Thank you for your issue and feedback !

[2021-11-24 21:24] guillaumevincent commented on #672
Hello,

I need to update the wiki. I stopped offering support on containers and self-hosting. It takes a lot of time for very little demand.

You need to be familiar with containers.

Containers are available here:

https://github.com/lesspass/lesspass/tree/main/containers

Copying docker-compose.yml and .env files in a folder, and running `docker-compose up -d` should do the job.

If you are runn

[2021-11-25 15:45] Lurux commented on #593
I have a question about this statement - even if the LessPass master password can be brute-forced, there is no reason a KeePass password couldn't be brute-forced too, right ?

In that sense, an attacker getting one of your generated passwords would be equivalent of an attacker getting your KeePass DB (aka. it allows brute-forcing it), right ?

That said, I still think the "master password is usele

[2021-11-25 15:52] Lurux opened #673 "[Android / Security] Add an option to NOT copy the password when generating"
Hi,

Since a recent update we no longer have an option to generate a password without copying it at the same time, which is definitely a security concern.

Since I mostly use the app to generate passwords that I will later type on my computer, the clipboard functionality is of no use for me, and I would prefer to disable it.

I assume this change was made to things faster; maybe we should have two

[2021-11-25 20:57] #673 closed

[2021-11-25 20:59] guillaumevincent commented on #673
Hello,

I added the functionality in version 9.6.0, it will be available tonight on Open Testing on Android Store and later next week on the different stores.

Thank you

[2021-11-25 21:03] guillaumevincent commented on #593
@Lurux keep in mind that your LessPass master password give you access to future passwords also.
KeePass database will just give access to old passwords.

[2021-11-25 23:54] polarathene commented on #593
<details>
<summary>As stated, the difference here is:</summary>

- **LessPass:**
  - Master password seeds all other passwords, it effectively is the database, you do not need to acquire additional data to attack.
  - Compromising one password (_eg: through a leak_) enables you to attack the master password more easily, but otherwise without knowing LessPass was used, generic brute-force against t

[2021-11-26 15:31] Lurux commented on #673
Wow, I'm actually impressed by your reactivity !

Thanks a lot :smile:

[2021-11-29 03:31] texneus commented on #672
I am sorry to hear this as I think this is an amazingly simple and effective solution to a difficult problem.  Unfortunately not being able to self host will be a deal breaker for me.  I've done everything you stated to setup the container, except I changed all the instances of the host name I could find to the name of my local server.  I can try leaving it as-is as suggested to see if I can get i

[2021-11-29 08:42] guillaumevincent commented on #672
The container are up to date, https://www.lesspass.com is using those containers.

But when I say "I stopped offering support" I mean:
 * I will not publish my automated ansible installation/backups scripts (they are not configurable enough)
 * If I need to change the containers structure, add new container, etc, I will not create automated migration scripts. I will just change them for my need.

[2021-11-30 03:09] texneus commented on #672
OK, that's fair and pretty consistent with other docker projects I am using.  Let me try some more to get it going with the hints you provided and maybe I can help update the documentation...

[2021-12-01 03:48] texneus commented on #672
So here is where I am at...I could use a bit more guidance, perhaps.

The Dockered Lesspass local webpage does indeed work if I do not modify anything and add www/admin/api/lesspass.local to my hosts file.  However -

- Firefox plugin (9.5.1) does not work - I cannot register an email.  I get "Oops!  Something went wrong.  Retry in a few minutes".  On the server console I see the following for eac

[2021-12-01 09:06] guillaumevincent commented on #672
1 - Probably because of missing ALLOWED_HOSTS in .env and in docker-compose.yml https://github.com/lesspass/lesspass/blob/main/containers/backend/lesspass/settings.py#L26-L30
I will fix this.
2 - Can you try https://admin.lesspass.local/admin ?
3 - Changing FRONTEND_HOST and FQDN are enough I think. You need to stop webserver container and start it. `docker-compose down && docker-compose up -d`

[2021-12-01 15:40] edouard-lopez opened #677 "UI glitch when asking fingerprint"
Thanks for the update, it's pretty smooth :)

When signing-in on Version `9.5.3` the pop-in asking for the fingerprint as a low contrast `cancel` button.

![Screenshot_20211201-163450](https://user-images.githubusercontent.com/1212392/144264937-56d40771-0b27-4ee7-bf12-15a1596ef446.jpg)

[2021-12-06 13:48] hdk5 commented on #565
I support the idea of optionally storing password in memory for a set period of time or until the browser is closed.
This option also exists in masterpassword.app unofficial browser extension, and I am quite used to it.

[2021-12-08 03:51] texneus commented on #672
Finally circling back to this...

1 - Is this something I can fix myself by adding ALLOWED_HOSTS in the .env file?  What format should it be?  I tried variations of lesspass.local and I can't seem to get it to work.

2 - That does work, it give me a Django Administration login page.  Is this local to the docker image or do I need a account with Django somewhere (I'm not familiar with Django).  If

[2021-12-08 10:40] guillaumevincent commented on #672
1 - `ALLOWED_HOSTS=.example.org,.lesspass.local` do not forget the `.` at the beginning.

2 - You need to create a super admin using the cli `python manage.py createsuperuser` in the backend container (using `docker exec -it <container_name> bash`

3 - You stop and start the container ?

[2021-12-10 03:56] texneus commented on #672
1 - Doesn't seem to change anything, unfortunately.
2 - (didn't try)
3 - Yes, and even pruned between runs to try it all fresh.

Sorry, I'm kinda at my wits end on this.  I'm starting to see why the decision to not support self hosting was made.  I will probably stop here, I'm just spinning my wheels.

Brief summary of steps to get as far as I have, should anyone want to try again.

Note:  As of t

[2021-12-10 03:56] #672 closed

[2021-12-16 14:14] guillaumevincent commented on #672
Hello,

thank you for your time testing this.

Using another DNS should now work after this patch: https://github.com/lesspass/lesspass/commit/432b3042a3f21bfacdf992bc618f75c93471a376

You need to change the URL used in the web extension. In the web extension options.

It's the page that allows you to manage users